<h1><%= link_to 'Messages', :messages %> → Sent</h1>

<div class="actions">
	<%= link_to 'Inbox', :messages %>
	<%= link_to 'Sent', '#' %>
</div>

<% if @messages.size == 0 %>
<div align="center">No messages.</div>
<% else %>
<table>
  <tr>
    <th>To</th>
    <th>Subject</th>
	<th>Date</th>
    <th>Action</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
	<td width="200px">
		<%= link_to message.sender.name, message.sender %>
	</td>
	<td width="35%"><% if message.read == false %><strong><%= link_to message.subject, message %></strong><% else %><%= link_to message.subject, message %><% end %></td>
	<td width="30%"><%= message.created_at.to_s(:message_time)%></td>
    <td width="15%"><span class="purge_visible"><%= link_to 'Delete', message, :confirm => 'Are you sure you want to delete "'+message.subject+'"?', :method => :delete %></span></td>
  </tr>
<% end %>
</table>

<div class="apple_pagination">
	<p><%= will_paginate @messages, :container => false %></p>
</div>
<% end %>