<h1><%= @message.subject %></h1>

<p><strong>From: </strong>
<%= link_to @user_from.name, :controller => :users, :action => :show, :id => @user_from.id %>
<br />

<strong>To: </strong><%= self.current_user.name %>
</p>

<p>
<%=raw h(@message.body).gsub(/\n/, '<br />') %>
</p>

<div class="actions">
	<%= link_to 'Back to Messages', messages_path %>
	<%= link_to 'Reply', '/messages/new?user_id_to='+@user_from.id.to_s+'&subject='+@message.subject %>
</div>