<h1><%= link_to "Messages", :messages %> → <%= @message.subject %></h1>

<p class="table"><strong>From:</strong> <%= link_to @message.sender.name, @message.sender %>
</p>

<p class="table">
<strong>To:</strong> <%= @message.receiver.name %>
</p>

<p class="table">
<strong>Date:</strong> <%= @message.created_at.to_s(:message_time)%>
</p>
	
<p>
<%=raw h(@message.body).gsub(/\n/, '<br />') %>
</p>

<div class="actions">
	<%= link_to 'Back to Messages', messages_path %>
	<%= link_to 'Reply', '/messages/new?user_id_to='+@message.sender.id.to_s+'&subject='+@message.subject %>
</div>
