<span style="font-size:20px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px;">Find Connections</span><br />

<div id="content">
  <% @connections.each do |connection| %>
	<br />
    <div class="item_jobs">
      <div class="item_picture">
        <% if connection.user.avatar? %>
          <%= link_to image_tag(connection.user.avatar.url(:thumb)), '/'+connection.url.to_s %>
        <% else %>
          <%= link_to image_tag("no_image.png"), '/'+connection.url.to_s %><% end %>
      </div>

	<div id ="connection_desc">
      <strong><%= link_to connection.user.name, '/'+connection.url.to_s %></strong><br />
      <% if connection.position.present?  && connection.school.present? %>
        <%= connection.position %> at <%= connection.school %>
      <% end %><br />
      <%= connection.location %><br />
	  <% if self.current_user.teacher %>	
      <div>
		<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => connection.user.id.to_s }, {:class => "btn"} %>
        <%= link_to "Connect", { :controller => 'connections', :action => 'add_connection', :user_id => connection.user.id }, :class => "btn btn-success" %>
      </div>
	  <% else %>
	  <div>
		<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => connection.user.id.to_s }, {:class => "btn"} %>
      </div>
	  <% end %>
	</div>
    </div>
  <% end %>
<%= will_paginate @connections %>
</div>
