<h3>My Connections:</h3>
<div id="sidebar" class="job_browser">
  <%= link_to 'My Connections', :my_connections %></br>
</div>
<div id="content">
<% @connections.each do |connection| %>
  <div class="item_jobs">
    <div class="item_picture">
      <% if connection.owner.avatar? %>
        <%= link_to image_tag(connection.owner.avatar.url(:thumb)), '/'+connection.owner.teacher.url.to_s %>
      <% else %>
        <%= link_to image_tag("no_image.png"), '/'+connection.owner.teacher.url.to_s %><% end %>
    </div>
    <strong><%= link_to connection.owner.name, '/'+connection.owner.teacher.url.to_s %></strong><br />
    <% if connection.owner.teacher.position.present? && connection.owner.teacher.school.present?%>
      <%= connection.owner.teacher.position %> at <%= connection.owner.teacher.school %>
    <% end %><br />
    <%= connection.owner.teacher.location %><br />
    <div>
      <%= link_to image_tag("docs.gif", :border=>0)+"Accept", { :controller => 'connections', :action => 'accept_connection', :user_id => connection.owner.id }, :class => "btn" %>
      <%= link_to image_tag("docs.gif", :border=>0)+"Remove", { :controller => 'connections', :action => 'remove_pending', :user_id => connection.owner.id }, :class => "btn" %>
    </div>
  </div>
<% end %>
</div>
