<link type="text/css" href="/assets/jquery-ui-1.8.20.custom/css/blitzer/jquery-ui-1.8.20.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="/assets/jquery-ui-1.8.20.custom/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/assets/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"></script>
<%= form_for(@interview) do |f| %>
  <% if @interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% @interview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Interview Type" %><br />
	<%= select(:interview, :interview_type, [ ["In-Person", 1], ["Phone", 2], ["Video Chat", 3] ]) %>
  </div>  

  <div class="field">
    <%= f.label "Location" %><br />
    <%= f.text_field :location, :placeholder => '(i.e. address, phone number, skype username)', :size => 50 %>
	<%= f.check_box :school_location %> <strong>Use school address</strong>
  </div>

  <div class="field">
    <label for="interview_Date &amp; Time">Date & Time</label><br />
    <script>
	$(function() {
		$( ".datePicker" ).datepicker({ numberOfMonths: 2 });
	        var hour = [
			            "00",
                        "01",
                        "02",
                        "03",
                        "04",
                        "05",
                        "06",
                        "07",
                        "08",
                        "09",
                        "10",
                        "11",
                        "12"
                        
		    ];
            var minute = [
			            "00",
                        "01",
                        "02",
                        "03",
                        "04",
                        "05",
                        "06",
                        "07",
                        "08",
                        "09",
                        "10",
                        "11",
                        "12",
                        "13",
                        "14",
                        "15",
                        "16",
                        "17",
                        "18",
                        "19",
                        "20",
                        "21",
                        "22",
                        "23",
                        "24",
                        "25",
                        "26",
                        "27",
                        "28",
                        "29",
                        "30",
                        "31",
                        "32",
                        "33",
                        "34",
                        "35",
                        "36",
                        "37",
                        "38",
                        "39",
                        "40",
                        "41",
                        "42",
                        "43",
                        "44",
                        "45",
                        "46",
                        "47",
                        "48",
                        "49",
                        "50",
                        "51",
                        "52",
                        "53",
                        "54",
                        "55",
                        "56",
                        "57",
                        "58",
                        "59"
                        
		    ];

		    $( "#hour" ).autocomplete({
			   source: hour
		    });
            $( "#minute" ).autocomplete({
			   source: minute
		    });
            $( "#hour1" ).autocomplete({
			   source: hour
		    });
            $( "#minute1" ).autocomplete({
			   source: minute
		    });
            $( "#hour2" ).autocomplete({
			   source: hour
		    });
            $( "#minute2" ).autocomplete({
			   source: minute
		    });
            
            $( "#hour" ).keyup(function() {
			   if (isNaN($("#hour").val())) {
                  $("#hour").val("");
               }
		    });
            $( "#minute" ).keyup(function() {
			   if (isNaN($("#minute").val())) {
                  $("#minute").val("");
               }
		    });
            $( "#hour1" ).keyup(function() {
			   if (isNaN($("#hour1").val())) {
                  $("#hour1").val("");
               }
		    });
            $( "#minute1" ).keyup(function() {
			   if (isNaN($("#minute1").val())) {
                  $("#minute1").val("");
               }
		    });
            $( "#hour2" ).keyup(function() {
			   if (isNaN($("#hour2").val())) {
                  $("#hour2").val("");
               }
		    });
            $( "#minute2" ).keyup(function() {
			   if (isNaN($("#minute2").val())) {
                  $("#minute2").val("");
               }
		    });
            
            
	});
    </script>
    <input type="text" id = "date" class="datePicker" placeholder = "mm/dd/yyyy">
    <input type = "text" id = "hour" placeholder = "00" size = "1" maxlength = "2"> :
    <input type = "text" id = "minute" placeholder = "00" size = "1" maxlength = "2"><br />
    <label for="alternateDate">Alternate Date & Time:</label><br />
    <input type="text" id = "alternateDate" class="datePicker" placeholder = "mm/dd/yyyy">
    <input type = "text" id = "hour1" placeholder = "00" size = "1" maxlength = "2"> :
    <input type = "text" id = "minute1" placeholder = "00" size = "1" maxlength = "2"><br />
    <label for="alternateDate2">Alternate Date & Time:</label><br />
    <input type="text" id = "alternateDate2" class="datePicker" placeholder = "mm/dd/yyyy">
    <input type = "text" id = "hour2" placeholder = "00" size = "1" maxlength = "2"> :
    <input type = "text" id = "minute2" placeholder = "00" size = "1" maxlength = "2"><br />
  </div>

  <%= f.text_field :teacher_id, :value => @teacher.id.to_s, :hidden => true %>
  <%= f.text_field :job_id, :value => @job.id.to_s, :hidden => true %>

  <div class="field">
	<%= f.label "Personal Message" %><br />
	<%= f.text_area :message, :value => "Dear #{@user.name},\n\nAfter reviewing your profile, video, and documents, we would like to invite you to interview for the #{@job.title} position available at #{@school.name}. Please confirm if any of these dates and times work for you. We look forward to meeting with you!\n\nKind Regards,\n#{current_user.name}", :rows => 9, :cols => 55 %>
  </div>

  <div class="actions">
    <%= f.submit 'Send' %>
  </div>
<% end %>

<div style="display:none">
	<%= javascript_tag " $(\"#interview_interview_type\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_1i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_2i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_3i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_4i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_5i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_alternate_1i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_alternate_2i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_alternate_3i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_alternate_4i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_alternate_5i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_alternate_second_1i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_alternate_second_2i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_alternate_second_3i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_alternate_second_4i\").chosen() "%>
	<%= javascript_tag " $(\"#interview_date_alternate_second_5i\").chosen() "%>
</div>