<h1>My Interviews</h1>

<div id="sidebar" class="job_browser">

<h4>&nbsp;</h4>

</div>

<div id="content">
<h4>Arrange Interviews</h4>
	
<% @interviews.each do |interview| %>

<div class="item">
	<p><strong><%= link_to Job.find(interview.job_id).title, interview %> at <%= link_to Job.find(interview.job_id).school.name, Job.find(interview.job_id).school %> </strong></p>
	<div class="actions">
		<% if interview.selected == 0 %>
			<%= button_to 'Respond', :controller => :interviews, :action => :respond, :id => interview.id %>
		<% elsif interview.selected == 1 %>
			<%= button_to 'Booked: '+interview.date.to_s(:due_time), :controller => :interviews, :action => :respond, :id => interview.id %>
		<% elsif interview.selected == 2 %>
			<%= button_to 'Booked: '+interview.date_alternate.to_s(:due_time), :controller => :interviews, :action => :respond, :id => interview.id %>
		<% elsif interview.selected == 3 %>
			<%= button_to 'Booked: '+interview.date_alternate_second.to_s(:due_time), :controller => :interviews, :action => :respond, :id => interview.id %>
		<% end %>
	</div>
</div>

<% end %>
</div>