<%= form_for(@wink) do |f| %>
  <% if @wink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wink.errors.count, "error") %> prohibited this wink from being saved:</h2>

      <ul>
      <% @wink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teacher_id %><br />
    <%= f.text_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br />
    <%= f.text_field :job_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
