<h1>Listing winks</h1>

<table>
  <tr>
    <th>Teacher</th>
    <th>Job</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @winks.each do |wink| %>
  <tr>
    <td><%= wink.teacher_id %></td>
    <td><%= wink.job_id %></td>
    <td><%= link_to 'Show', wink %></td>
    <td><%= link_to 'Edit', edit_wink_path(wink) %></td>
    <td><%= link_to 'Destroy', wink, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wink', new_wink_path %>
