<h1>Applications</h1>

<div id="sidebar" class="job_browser">
<h1><%= link_to @job.title, @job %></h1>

<h3><%= School.find(@job.school_id).name %></h3>
</div>

<div id="content">
<% @applications.each do |application| %>
<div class="item_jobs">
	<div class="item_picture">
		<% if application.teacher.user.avatar? %><%= link_to image_tag(application.teacher.user.avatar.url(:thumb)), '/'+application.teacher.url.to_s+'?application='+application.id.to_s()  %><% else %><%= link_to image_tag("no_image.png"), '/'+application.teacher.url.to_s + '?application='+application.id.to_s() %><% end %>
	</div>

        <strong><%= link_to application.teacher.user.name, '/'+application.teacher.url.to_s+'?application='+application.id.to_s() %></strong><br />
	<%= application.teacher.position %> at <%= application.teacher.school %><br />
	<% if @owner.id == 100111 %>
	<a href="http://demolesson.com/u/<%= application.teacher.guest_code %>">http://demolesson.com/u/<%= application.teacher.guest_code %></a>
	<% end %>
	<br />
	
	<div>
		<% if application.booked == nil %>
		<%= link_to 'Arrange Interview', {:controller => :interviews, :action => :new, :teacher_id => application.teacher_id, :job_id => application.job_id}, {:class => "btn"} %> 
		
		<% else %>
			<% if application.interview.selected == 0 %>
				<%= link_to 'Interview requested, awaiting response', :interviews, :method => :get, :class => "btn" %>
			<% elsif application.interview.selected == 1 %>
				<%= link_to 'Interview scheduled: '+application.interview.date.to_s(:due_time), application.interview, :class => "btn btn-success" %>
			<% elsif application.interview.selected == 2 %>
				<%= link_to 'Interview scheduled: '+application.interview.date_alternate.to_s(:due_time), application.interview, :class => "btn btn-success" %>
			<% elsif application.interview.selected == 3 %>
				<%= link_to 'Interview scheduled: '+application.interview.date_alternate_second.to_s(:due_time), application.interview, :class => "btn btn-success" %>
			<% end %>
		<% end %>
                <% if application.assets.size > 0 %>
                  <%= link_to 'Attachments', '/applications/attachments/'+application.id.to_s, {:class => "btn"} %>
                <% end %>
		<%= application.teacher.snippet_watchvideo_button.html_safe %>
		<%= link_to 'Remove', {:controller => :applications, :action => :reject, :id => application.id}, {:class => "btn"} %>          
	</div>
</div>
<% end %>
</div>
