<h1>Applications</h1>

<div id="sidebar" class="job_browser">
<h1><%= link_to @job.title, @job %></h1>

<h3><%= School.find(@job.school_id).name %></h3>
</div>

<div id="content">
<% @applications.each do |application| %>
<div class="item_jobs">
	<div class="item_picture">
		<% if application.teacher.user.avatar? %><%= link_to image_tag(application.teacher.user.avatar.url(:thumb)), '/'+application.teacher.url.to_s %><% else %><%= link_to image_tag("no_image.png"), '/'+application.teacher.url.to_s %><% end %>
	</div>
	<p>
	<strong><%= link_to application.teacher.user.name, '/'+application.teacher.url.to_s %></strong><br />
	<%= application.teacher.position %> at <%= application.teacher.school %><br />
	<strong>Status:</strong> <%= application.status %><br />
	<strong>Notes:</strong> <%= application.status %><br />
	<div class="actions">
	<%= button_to 'Arrange Interview', :controller => :interviews, :action => :new, :teacher_id => application.teacher_id, :job_id => application.job_id %> <%= button_to 'Reject', :controller => :applications, :action => :reject, :id => application.id %>
	</div>
	</p>
</div>
<% end %>
</div>