<h1>Applications</h1>

<div id="sidebar" class="job_browser">
<h1><%= link_to @job.title, @job %></h1>

<h3><%= School.find(@job.school_id).name %></h3>
</div>

<div id="content">
<% @applications.each do |application| %>
<div class="item_jobs">
	<div class="item_picture">
		<% if application.teacher.user.avatar? %><%= link_to image_tag(application.teacher.user.avatar.url(:thumb)), '/'+application.teacher.url.to_s %><% else %><%= link_to image_tag("no_image.png"), '/'+application.teacher.url.to_s %><% end %>
	</div>

	<strong><%= link_to application.teacher.user.name, '/'+application.teacher.url.to_s %></strong><br />
	<%= application.teacher.position %> at <%= application.teacher.school %><br />
	<% if @owner.id == 100111 %>
	<a href="http://demolesson.com/u/<%= application.teacher.guest_code %>">http://demolesson.com/u/<%= application.teacher.guest_code %></a>
	<% end %>
	<br />
	
	<div class="actions">
		<% if application.booked == nil %>
		<%= button_to 'Arrange Interview', :controller => :interviews, :action => :new, :teacher_id => application.teacher_id, :job_id => application.job_id %> <%= button_to 'Remove', :controller => :applications, :action => :reject, :id => application.id %>
		<% else %>
			<% if application.interview.selected == 0 %>
				<%= button_to 'Booked, no date selected', :interviews, :method => :get %>
			<% elsif application.interview.selected == 1 %>
				<%= button_to 'Booked: '+application.interview.date.to_s(:due_time), application.interview %>
			<% elsif application.interview.selected == 2 %>
				<%= button_to 'Booked: '+application.interview.date_alternate.to_s(:due_time), application.interview %>
			<% elsif application.interview.selected == 3 %>
				<%= button_to 'Booked: '+application.interview.date_alternate_second.to_s(:due_time), application.interview %>
			<% end %>
		<% end %>
	</div>
	
</div>
<% end %>
</div>