<p>
  <b>Teacher:</b>
  <%= @application.teacher_id %>
</p>

<p>
  <b>Job:</b>
  <%= @application.job_id %>
</p>

<p>
  <b>Additional notes:</b>
  <%= @application.additional_notes %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
