<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :employment_type %><br />
	<%= select(:job, :employment_type, [ "Full Time", "Part Time", "Contract", "Other" ]) %>
  </div>

  <div class="field">
    <%= f.label "Salary ($ P/A)" %><br />
    <%= f.text_field :salary, :value => '$' %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 50, :rows => 6 %>
  </div>

  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline %>
  </div>

  <div class="field">
    <%= f.check_box :special_needs %> <%= f.label :special_needs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= javascript_tag " $(\"#job_deadline_1i\").chosen() "%>
<%= javascript_tag " $(\"#job_deadline_2i\").chosen() "%>
<%= javascript_tag " $(\"#job_deadline_3i\").chosen() "%>
<%= javascript_tag " $(\"#job_deadline_4i\").chosen() "%>
<%= javascript_tag " $(\"#job_deadline_5i\").chosen() "%>
<%= javascript_tag " $(\"#job_employment_type\").chosen() "%>