<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :employment_type %><br />
	<%= select(:job, :employment_type, [ ["Full Time" , 0], ["Part Time", 1], ["Contract", 2], ["Other", 3] ]) %>
  </div>

  <div class="field">
    <%= f.label "Salary ($ P/A)" %><br />
    <%= f.text_field :salary, :value => '$' %>
  </div>

  <div class="field">
	<%= f.label "Subjects" %><br />
	<%= select_tag 'job[subjects]', options_for_select(["Preschool", "Early Childhood", "Elementary", "Middle Grades", "Accounting", "Art", "Arts: Dance", "Arts: Drama", "Bilingual Education", "Business Education", "Computer Science", "Consumer & Home Economics", "Driver Education", "Economics", "English & Language Arts", "English Language Learners / ESL", "Environmental Education", "Health", "JROTC Instructor", "Keyboarding", "Language: American Sign", "Language: Arabic", "Language: Chinese", "Language: French", "Language: German", "Language: Greek", "Language: Hebrew", "Language: Italian", "Language: Japanese", "Language: Korean", "Language: Latin", "Language: Polish", "Language: Portuguese", "Language: Russian", "Language: Spanish", "Marketing Education", "Math: Algebra", "Math: Calculus", "Math: General", "Math: Geometry", "Math: Trigonometry", "Montessori", "Music Education", "Music: Chorus", "Music: Instrumental", "Physical Education", "Political Science", "Public Speaking", "Reading/Literacy", "Religion", "Science: Astronomy", "Science: Biology", "Science: Chemistry", "Science: Earth & Space", "Science: General", "Science: Geology", "Science: Physics", "Social Studies: Current Issues", "Social Studies: General", "Social Studies: Geography", "Social Studies: Government", "Social Studies: Military", "Social Studies: US History", "Social Studies: World History", "Technology Education", "Video Production", "ssistant Principal/Dean/Head", "Assistant/Deputy Superintendent", "Athletic/Activities Director", "Business/Finance", "Curriculum", "Development / Marketing", "Director/Coordinator/Manager", "Facilities", "Food Services", "Human Resources", "Principal/Dean/Head of School", "Public Affairs / Relations", "Pupil Personnel", "Safety/Security", "Special Education Director", "Superintendent", "Technology", "Transportation", "Vocational/Career Education", "After School Programs", "Athletic/Activities Director", "Coaching", "Theater Production", "Trainer", "Adaptive Physical Education", "Autism", "Behavior Specialist / EBD", "Consulting Teacher", "Early Essential Education", "Emotionally Disabled", "General Special Education", "Gifted & Talented", "Hard of Hearing", "Learning Disabled", "Life Skills", "Mentally Disabled", "Mild/Moderate Disabilities", "Multiple Disabilities", "Occupational Therapist", "OT Assistant", "Physical Therapist", "PT Assistant", "Severe/Profound Disabilities", "Special Education Assistant", "Speech/Language Assistant", "Speech/Language Pathologist", "Visually Impaired"]), :multiple => true, :value => "Subjects" %>
  </div>

  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 50, :rows => 6 %>
  </div>

  <div class="field">
    <%= f.check_box :special_needs %> <%= f.label :special_needs %>
  </div>

  <div class="field">
    <%= f.check_box :active %> <%= f.label :active %>
	<small>Unchecking will hide your listing from the site.</small>
  </div>

<div style="display:none;height:0px">
	<%= javascript_tag " $(\"#job_deadline_1i\").chosen() "%>
	<%= javascript_tag " $(\"#job_deadline_2i\").chosen() "%>
	<%= javascript_tag " $(\"#job_deadline_3i\").chosen() "%>
	<%= javascript_tag " $(\"#job_deadline_4i\").chosen() "%>
	<%= javascript_tag " $(\"#job_deadline_5i\").chosen() "%>
	<%= javascript_tag " $(\"#job_start_date_1i\").chosen() "%>
	<%= javascript_tag " $(\"#job_start_date_2i\").chosen() "%>
	<%= javascript_tag " $(\"#job_start_date_3i\").chosen() "%>
	<%= javascript_tag " $(\"#job_start_date_4i\").chosen() "%>
	<%= javascript_tag " $(\"#job_start_date_5i\").chosen() "%>
	<%= javascript_tag " $(\"#job_employment_type\").chosen() "%>
	<%= javascript_tag " $(\"#job_subjects\").chosen() "%>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>