<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<strong>School</strong><br />
        <% if self.current_user.is_limited %>
          <%= select_tag 'school_id', options_from_collection_for_select(self.current_user.sharedschools, :id, :name), :multiple => false, :value => "School" %>
        <% else %>
          <%= select_tag 'school_id', options_from_collection_for_select(self.current_user.schools, :id, :name), :multiple => false, :value => "School" %>
        <% end %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

<% if controller.action_name == "edit" %>
  <div class="field">
    <%= f.label "Application passcode" %><br />
    <%= f.text_field :passcode %>
  </div>
<% else %>
  <div class="field">
    <%= f.label "Application passcode" %><br />
    <%= f.text_field :passcode %>
  </div>
<% end %>

  <div class="field">
    <%= f.label :employment_type %><br />
	<%= select(:job, :employment_type, [ ["Full Time" , 0], ["Part Time", 1], ["Contract", 2], ["Other", 3] ]) %>
  </div>

  <div class="field">
    <%= f.label "Salary ($ P/A)" %><br />
    <%= f.text_field :salary, :placeholder => '$' %>
  </div>

  <div class="field">
	<%= f.label "Subjects" %> <% if controller.action_name == "edit" %><span style="color:#999">(Leave blank if you do not want to change)</span><% end %><br />
	<%= select_tag 'subjects', options_from_collection_for_select(@subjects, :id, :name), :multiple => true, :value => "Subjects" %>
  </div>

  <div class="field">
    <%= f.label :deadline %><br />
    <% if @job.start_date != nil %>
      <%= f.datetime_select :deadline, :default => @job.deadline, :discard_hour =>true %><br />
    <% else %>
      <%= f.datetime_select :deadline, :default => { :hour => 23, :minute => 59, :second => 59}, :discard_hour =>true %><br />
    <% end %>
    <%= f.check_box :rolling_deadline %> <strong>Rolling deadline (apply ASAP)</strong>
  </div>

  <div class="field">
    <%= f.label :start_date %><br />
    <% if @job.start_date != nil %>
      <%= f.datetime_select :start_date, :default => @job.start_date, :discard_hour => true %>
    <% else %>
      <%= f.datetime_select :start_date, :default => { :hour => 23, :minute => 59, :second => 59}, :discard_hour => true %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 80, :rows => 25 %>
  </div>

  <div class="field">
    <%= f.check_box :special_needs %> <%= f.label :special_needs %>
  </div>

  <div class="field">
    <%= f.check_box :active %> <%= f.label :active %>
	<small>Unchecking will hide your listing from the site.</small>
  </div>

<div style="display:none;height:0px">
	<%= javascript_tag " $(\"#job_deadline_1i\").chosen() "%>
	<%= javascript_tag " $(\"#job_deadline_2i\").chosen() "%>
	<%= javascript_tag " $(\"#job_deadline_3i\").chosen() "%>
	<%= javascript_tag " $(\"#job_start_date_1i\").chosen() "%>
	<%= javascript_tag " $(\"#job_start_date_2i\").chosen() "%>
	<%= javascript_tag " $(\"#job_start_date_3i\").chosen() "%>
	<%= javascript_tag " $(\"#job_employment_type\").chosen() "%>
	<%= javascript_tag " $(\"#subjects\").chosen() "%>
	<%= javascript_tag " $(\"#school_id\").chosen() "%>
	<script type="text/javascript">
	  $(function() {
	    $('#job_description').tinymce({
	      theme: 'simple'
	    });
	  });
	</script>
	
</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
