<h1>Submitting Application</h1>

Add additional attachments that <%= link_to @job.school.name, @job.school %> will only be able to view. For example, a cover letter relating specifically to this job posting. 	

<% for asset in @teacher.assets %>
  <% if asset.job_id == @job.id %>
    <p class="attached">
    <img src="<%= asset_path 'file.png' %>" />
    <%= link_to asset.name, asset.file.url %> <span class="purge"><%= link_to 'Remove?', '/purge/'+asset.id.to_s, :confirm => 'Are you sure you want to remove "'+asset.name+'" from your profile? The file will be permanently deleted.' %></span><br />
    <%= asset.description %>
    </p>
  <% end %>
<% end %>

<div id="attach_form" style="display: none">
	<%= form_for @asset, :as => :asset, :url => '/jobattach', :html => { :multipart => true } do |f| %>

<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :description %><br />
	<%= f.text_field :description %>
</div>

<div class="field">
  <%= f.label :file %><br />
  <%= f.file_field :file %>
</div>

<div class="field">
  <%= f.hidden_field :job_id, {:value => @job.id} %>
</div>

<div>
    <input name="commit" type="submit" value="Upload File" onclick="$('#loader').show('fast');" class="btn btn-success" />
</div>

<div id="loader" style="display: none">
	<img src="<%= asset_path 'loader.gif' %>" />
</div>

<% end %>

</div>
	<div id="attach_new_btn">
	<input name="attach" type="button" value="Attach New File" onclick="$('#attach_form').show('fast'); $('#attach_new_btn').hide();" class="btn btn-success" />
	</div>
	
 Once you click submit, <%= link_to @job.school.name, @job.school %> will be able to view your profile, video, and attachments. Do you wish to proceed?



<div>
	 <%= link_to "Submit Application", {:controller => :jobs, :action => :apply}, {:class => "btn btn-success"}%>
	 <%= link_to 'Back', :back, :class => "btn" %>
</div>
