<h1>All Jobs</h1>

<div id="sidebar">
	Filter by
</div>

<div id="content">
<% @jobs.each do |job| %>
  <div class="item_jobs">
	<div class="item_picture">
		<% if job.school.user.avatar? %><%= link_to image_tag(job.school.user.avatar.url(:thumb)), job %><% else %><%= link_to image_tag("no_image.png"), job %><% end %>
	</div>
	<p>
	<strong><%= link_to job.title, job %></strong> &middot; <span><%= job.description[0..60]+'...' %></span><br />
	<%= link_to job.school.name, job.school %><br />
	<%= job.school.map_city %>, <% if job.school.map_state? %><%= STATES_ARRAY[job.school.map_state.to_i-1] %><% end %>
	</p>
  </div>
<% end %>
</div>