<h1><%= link_to 'All Jobs', :jobs %><% if params[:subject].present? %> → <%= @subjects[params[:subject].to_i-1].name %><% end %></h1>

<div id="sidebar" class="job_browser">
	<%= form_tag jobs_path(params.except(:controller, :action)), :method => :get do %>
	<h3>Subject</h3>
	<%= select_tag 'subject', options_from_collection_for_select(@subjects, :id, :name), :multiple => false, :value => params[:subject], :size => 10 %><br />
	
	<div id="attach_new_btn">
	<h3></h3>
	<a onclick="$('#attach_form').show('fast'); $('#attach_new_btn').hide();">More Search Options...</a>
	</div>
	
	<div id="attach_form" style="display: none">
	<h3>School Type</h3>
	<%= radio_button_tag 'school_type', '1' %> District<br />
	<%= radio_button_tag 'school_type', '2' %> Charter<br />
	<%= radio_button_tag 'school_type', '3' %> Private<br />
	<%= radio_button_tag 'school_type', '4' %> Other<br />
	
	<h3>Grade Levels</h3>
	<%= radio_button_tag 'grade_level', '1' %> Pre-K<br />
	<%= radio_button_tag 'grade_level', '2' %> Elementary<br />
	<%= radio_button_tag 'grade_level', '3' %> Middle<br />
	<%= radio_button_tag 'grade_level', '4' %> High School<br />
	<%= radio_button_tag 'grade_level', '5' %> Adult School<br />
	<%= radio_button_tag 'grade_level', '6' %> Other<br />
	
	<h3>Calendar</h3>
	<%= radio_button_tag "calendar", "1" %> Year-round<br />
	<%= radio_button_tag "calendar", "2" %> Track<br />
	<%= radio_button_tag "calendar", "3" %> Semester<br />
	
	<h3>Employment Type</h3>
	<%= radio_button_tag "employment", "1" %> Full Time<br />
	<%= radio_button_tag "employment", "2" %> Part Time<br />
	<%= radio_button_tag "employment", "3" %> Contract<br />
	<%= radio_button_tag "employment", "4" %> Other<br />
	
	<h3>Special Needs</h3>
	<%= radio_button_tag "special_needs", "0" %> No<br />
	<%= radio_button_tag "special_needs", "1" %> Yes<br />
	
	<h3></h3>
	</div>
	
	<div class="actions">
	<%= submit_tag 'Submit', :name => 'commit' %>
	</div>
	<% end %>
</div>

<div id="content">
	
<div id="criteria">
<% params.each do |key, value| %>
	<% if key == "subject" %>
		<span class="criteria_option">
		<strong>Subject: </strong>
		<%= @subjects[params[:subject].to_i-1].name %>
		</span>
	<% elsif key == "school_type" %>
		<span class="criteria_option">
		<strong>School Type: </strong>
		<% if value == "1" %>
			District
		<% elsif value == "2" %>	
			Charter
		<% elsif value == "3" %>
			Private
		<% elsif value == "4" %>
			Other
		<% end %>
		</span>
	<% elsif key == "grade_level" %>
		<span class="criteria_option">
		<strong>Grade Level: </strong>
		<% if value == "1" %>
			Pre-K
		<% elsif value== "2" %>
			Elementary
		<% elsif value == "3" %>
			Middle
		<% elsif value == "4" %>
			High School
		<% elsif value == "5" %>
			Adult School
		<% elsif value == "6" %>
			Other
		<% end %>
		</span>
	<% elsif key == "calendar" %>
		<span class="criteria_option">
		<strong>Calendar: </strong>
		<% if value == "1" %>
			Year-round
		<% elsif value == "2" %>
			Track
		<% elsif value == "3" %>
			Semester
		<% end%>
		</span>
	<% elsif key == "employment" %>
		<span class="criteria_option">
		<strong>Employment: </strong>
		<% if value == "1" %>
			Full Time
		<% elsif value == "2" %>
			Part Time
		<% elsif value == "3" %>
			Contract
		<% elsif value == "4" %>
			Other
		<% end %>
		</span>
	<% elsif key == "special_needs" %>
		<span class="criteria_option">
		<% if value == "1" %>
			Special Needs
		<% end %>
		</span>
	<% end %>	
<% end %>
<% if params[:subject] || params[:school_type] || params[:grade_level] || params[:calendar] || params[:employment] || params[:special_needs] %>
<span class="criteria_option"><%= link_to "Remove All", :jobs %></span>
<% end %>
</div>

<% if @jobs.size != 0 %>
<% @jobs.each do |job| %>
  <div class="item_jobs">
	<div class="item_picture">
		<% if job.school.picture? %><%= link_to image_tag(job.school.picture.url(:thumb)), job %><% else %><%= link_to image_tag("no_image.png"), job %><% end %>
	</div>
	<p>
	<strong><%= link_to job.title, job %></strong><br />
	<span><% if job.description.size > 136 %><%=h (job.description.gsub(%r{</?[^>]+?>}, '')[0..140]+'...').html_safe %><% else %><%=h job.description.gsub(%r{</?[^>]+?>}, '').html_safe %><% end %></span><br />	
	<%= link_to job.school.name, job.school %><br />
	<%= job.school.map_city %><% if job.school.map_state? %>, <%= STATES_ARRAY[job.school.map_state.to_i-1] %><% end %>
	</p>
  </div>
<% end %>
<% else %>
	<h3 style="text-align:center;">No Results</h3>
	<p style="text-align:center;">Try modifying your criteria.</p>
<% end %>

<div class="apple_pagination">
	<p><%= will_paginate @jobs, :container => false %></p>
</div>

</div>

<%= javascript_tag "$(\"#subject\").chosen()" %>