<h1>Job Referral</h1>

 Complete the fields below to send your friend a link of the job posted by <%= link_to @job.school.name, @job.school %>.</br></br>

<% if self.current_user == nil %>

	<%= form_for :referral, :url => { :controller => :jobs, :action => :job_referral_email} do |f| -%>

		<div class="field">
		    <%= f.text_field :teachername,:placeholder => "Your Name", :size => 60 %><br />
		</div>
		
		<div class="field">
		    <%= f.text_field :name,:placeholder => "Friend's Name", :size => 60 %><br />
		</div>
		
		<div class="field">
		    <%= f.text_field :email,:placeholder => "Friend's Email", :size => 60 %><br />
		</div>
		
		<div class="actions">
			<%= f.submit "Send Email" %>
			<%= link_to 'Back', :back %>
		</div>
	  
	 <% end -%>

<% else %>

	<%= form_for :referral, :url => { :controller => :jobs, :action => :job_referral_email} do |f| -%>
	
		<div class="field">
	    	<%= f.text_field :name,:placeholder => "Friend's Name", :size => 60 %><br />
		</div>
	
		<div class="field">
	    	<%= f.text_field :email,:placeholder => "Friend's Email", :size => 60 %><br />
		</div>
	
		<div class="actions">
			<%= f.submit "Send Email" %>
			<%= link_to 'Back', :back %>
		</div>
  
 	 <% end -%>

<% end %>