<h1>Submitting Application</h1>

Please visit <%= link_to 'KIPP\'s website', 'http://go.kippla.org/teach' %> to submit your application via KIPP's standard application process. Or, if you have an Application Passcode, please enter it below. Once you click submit, <%= link_to @job.school.name, @job.school %> will be able to view your profile, video, and attachments. Do you wish to proceed?

<%= form_for @job, :as => :job, :url => "/kipp_apply/"+@job.id.to_s do |f| %>
  <div class="field">
	<%= f.text_field :passcode, :value => '' %>
  </div>

  <div class="actions">
  	<%= f.submit "Submit" %>
  </div>
<% end %>