<h1>My Jobs</h1>

<div id="sidebar" class="job_browser">

Job opportunities at <%= link_to self.current_user.school.name, self.current_user.school %> you've posted are listed here. 

</div>

<div id="content">
<% @jobs.each do |job| %>
<div class="item">
	<p>
	<strong><%= link_to job.title, job %> <% if job.active == false %><span style="color:red">(Inactive)</span><% end %></strong>
	<br />
	<%= link_to job.applicants.count.to_s+" Applicants", :controller => :applications, :action => :index, :id => job.id %>, <%= link_to job.new_applicants.count.to_s+" New", :controller => :applications, :action => :index, :id => job.id %> &middot; <%= link_to "Edit posting", edit_job_path(job) %>
	</p>
</div>
<% end %>

<div class="apple_pagination">
	<p><%= will_paginate @jobs, :container => false %></p>
</div>

</div>