<h1><%= @job.title %></h1>

<div id="sidebar">
<% if @job.school.user.avatar? %><%= image_tag(@job.school.user.avatar.url(:medium)) %><% else %><%= image_tag("no_image.png") %><% end %>

<h3><%= link_to @job.school.name, '/schools/'+@job.school.id.to_s %></h3>

<p>
	<strong><%= @job.school.map_city %><% if @job.school.map_state? %>, <%= STATES_ARRAY[@job.school.map_state.to_i-1] %><% end %></strong>
</p>

<p>
	<%= @job.school.description[0..20]+'...' %>
</p>

<div class="actions">
	<% if self.current_user.teacher != nil %>
		<%= link_to "Apply Now", "/" %>
	<% elsif self.current_user.school != nil %>
		<%= link_to "Edit Posting", job_path+'/edit' %>
	<% end %>
	
	
	<%= link_to 'Back', jobs_path %>

</div>

</div>

<div id="content">
<p>
  <strong>Position Description:</strong><br/>
  <%=raw h(@job.description).gsub(/\n/, '<br />') %>
</p>

<p>
  <strong>Employment type:</strong>
  <%= @job.employment_type %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Application Deadline:</strong>
	<% if @job.deadline %>
  		<%= @job.deadline.to_s(:due_time) %>
	<% end %>
</p>

<p>
  <strong>Position Start Date:</strong>
	<% if @job.start_date %>
  		<%= @job.start_date.to_s(:due_time) %>
	<% end %>
</p>

<!-- @job.subjects -->

<p><%= @job.special_needs ? "This position requires accomodation for special needs students." : "" %></p>

</div>
