<h1><%= @job.title %></h1>
<h3>at <%= link_to @school.name, '/schools/'+@school.id.to_s %></h3>

<p>
	<%= @school.description %>
</p>

<hr />

<p>
  <b>Position Description:</b><br/>
  <%= @job.description %>
</p>

<p>
  <b>Employment type:</b>
  <%= @job.employment_type %>
</p>

<p>
  <b>Salary:</b>
  <%= @job.salary %>
</p>

<p>
  <b>Application Deadline:</b>
  <%= @job.deadline %>
</p>

<div class="actions">
	<% if self.current_user.teacher != nil %>
	<%= link_to "Apply Now", "/" %>
	<% elsif self.current_user.school != nil %>
	<%= link_to "Edit Posting", "/" %>
	<% end %>
</div>

<%= link_to 'Back', jobs_path %>
