<h1><%= @job.title %></h1>
<h3>at <%= link_to @school.name, '/schools/'+@school.id.to_s %></h3>

<p>
	<%= @school.description %>
</p>

<p>
  <strong>Position Description:</strong><br/>
  <%= @job.description %>
</p>

<p>
  <strong>Employment type:</strong>
  <%= @job.employment_type %>
</p>

<p>
  <strong>Salary:</strong>
  <%= '$'+@job.salary %>
</p>

<p>
  <strong>Application Deadline:</strong>
	<%= @job.deadline.to_s(:due_time) %>

</p>

<p><%= @job.special_needs ? "This position requires accomodation for special needs students." : "" %></p>

<div class="actions">
	<% if self.current_user.teacher != nil %>
		<%= link_to "Apply Now", "/" %>
	<% elsif self.current_user.school != nil %>
		<%= link_to "Edit Posting", job_path+'/edit' %>
	<% end %>
</div>

<%= link_to 'Back', jobs_path %>
