<h1><%= @job.title %></h1>

<div id="sidebar">

<div class="bordered_image">
	<% if @job.school.picture? %><%= image_tag(@job.school.picture.url(:medium)) %><% else %><%= image_tag("no_image.png") %><% end %>
</div>

<h3><%= link_to @job.school.name, @job.school %></h3>

<strong><%= @job.school.map_city %><% if @job.school.map_state? %>, <%= STATES_ARRAY[@job.school.map_state.to_i-1] %><% end %></strong>

<p>
	<% if @job.school.description? %>
	<%= @job.school.description[0..101]+'...' %> <%= link_to 'Read More', @job.school %>
	<% end %>
</p>

<div class="actions">
	<% if self.current_user == nil %>
		<h4>Apply now</h4>
		<%= link_to "Sign Up", :root %>
		<%= link_to "Login", :login %>
		</br></br><%= link_to "Refer Job to a Friend", :controller => :jobs, :action => :job_referral, :id => @job.id %>
	<% else %>
		<% if self.current_user.teacher != nil %>
			<% if @application == nil %>
				<% if @owner.id == 100111 %>
					<%= link_to "Apply Now", :controller => :jobs, :action => :tfa_apply, :id => @job.id %>				
				<% else %>
					<% if self.current_user.teacher.tfa == 1 %> <% else %>
					<%= link_to "Apply Now", :controller => :jobs, :action => :apply_confirmation, :id => @job.id %><% end %>
				<% end %>
			<% else %>
				<%= link_to "Remove Application", :controller => :jobs, :action => :apply, :id => @job.id %>
			<% end %>
		
			<%= link_to 'Back', jobs_path %>
			</br></br><%= link_to "Refer Job to a Friend", :controller => :jobs, :action => :job_referral, :id => @job.id %>
		<% elsif self.current_user.school != nil %>
			<% if @job.belongs_to_me(self.current_user) == true %>
				<%= link_to "Edit Posting", job_path+'/edit' %>
			<% end %>
			<%= link_to 'Back', my_jobs_path %>
		<% end %>
	<% end %>
</div>

</div>

<div id="content">
<p class="table">
  <strong>Employment type</strong><span>
  <% if @job.employment_type == 0 %>Full Time
  <% elsif @job.employment_type == 1 %>Part Time
  <% elsif @job.employment_type == 2 %>Contract
  <% elsif @job.employment_type == 3 %>Other<% end %></span>
</p>

<p class="table">
  <strong>Salary</strong> <span><%= @job.salary %></span>
</p>

<p class="table">
  <strong>Application Deadline</strong><span>
	<% if @job.rolling_deadline == true %>
		Rolling deadline, apply ASAP
	<% else %>
		<% if @job.deadline %>
	  		<%= @job.deadline.to_s(:due_time) %>
		<% end %></span>
	<% end %>
</p>

<p class="table">
  <strong>Position Start Date</strong><span>
	<% if @job.start_date %>
  		<%= @job.start_date.to_s(:due_time) %>
	<% end %></span>
</p>

<p class="table">
	<strong>Subjects</strong><span>
<% @job.subjects.each do |subject| %>
	<%= Subject.find(subject.subject_id).name %> &middot;
<% end %></span>
</p>

<p class="table">
	<strong>Special Needs</strong><span>
<%= @job.special_needs ? "This position requires accomodation for special needs students." : "N/A" %></span>
</p>

<p class="table">
  <strong>Description</strong><br/>
  <%= @job.description.html_safe %>
</p>

</div>
