<%= form_tag :action => "update_settings" do %>
  <div class="field">
    <%= label "user", :email %><br />
    <%= text_field "user", :email %>
  </div>
  <div class="field">
    <%= label "user", :name %><br />
    <%= text_field "user", :name %>
  </div>
 <div class="field">
    <%= label "user", "Current Password (for security purposes)" %><br />
    <%= password_field "user", :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Update Information" %>
  </div>
<% end %>

<%= render :partial => 'password_form' %>
