<%= form_tag :action => "change_org_info" do %>
  <div class="field">
    <%= label_tag "Organization name" %>
    <%= text_field_tag :organization, @organization.name %><br \>
  </div>
  <div class="field">
    <%= label_tag "Primary Contact Name" %>
    <%= text_field_tag :name, @user.name %><br \>
  </div>
  <div class="field">
    <%= label_tag "Primary Email" %>
    <%= text_field_tag :email, @user.email %><br \>
  </div>
  <div class="actions">
    <%= submit_tag "Save" %>
  </div>
<% end %>

