<h1>Are you a Teacher or School Administrator?</h1>

<div class="actions">
<%= form_tag :action=> "choose_stored" do %>
  <%= hidden_field_tag :role, :teacher %><br/>
<%= submit_tag "I'm a teacher seeking a job" %>
<% end %>
</div>

<div class="actions">
<%= form_tag :action=> "choose_stored" do %>
  <%= hidden_field_tag :role, :school %><br/>
<%= submit_tag "I'm an administrator posting jobs" %>
<% end %>
</div>