
<h1>Administration</h1>

<ul id="breadcrumbs">
  <li><%= link_to 'Home', :admin %></li>
  <li>Deactivated User List</li>
</ul>

<%= render(:partial => 'admin_stats', :locals => { :stats => @stats }) %>
<%= render :partial => "admin_menu" %>

<div class="clear" style="padding-bottom: 1em; border-bottom: 1px solid #ccc;"></div>
<div id="wrapper" style="margin-top: 0">

<div id="left" style="width: 905px"align="left">

<p style= "font-size: 20px"><strong>Deactivated Users</strong></p>
<table cellpadding = "5">
  <tr>
    <th>User Name</th>
    <th>Email</th>
    <th>Registered</th>
    <th>Last Login</th>
    <th>Login Count</th>
    <th></th>
  </tr>
<%- @users.each do |user| %>
<% if user.deleted_at != nil %> 
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.created_at.to_formatted_s(:short) %></td>
    <td><% if user.last_login? %><%= user.last_login.to_formatted_s(:short) %><% else %>Unknown<% end %></td>
    <td><% if user.login_count? %><%= user.login_count.to_s %><% else %>Unknown<% end %></td>
    <td><%= button_to 'Reactivate', { :actiobn => "deactivated_user_list", :user => user } %></td>
  </tr>
<% end %>
<% end -%>
</table>
<%= will_paginate @users %>

</div>

</div>
