
<h1>Administration → <%= link_to 'Deactivated User List', :deactivatedlist %></h1>

<strong>&middot; <%= link_to 'Teacher User List', :admin %></strong><br />
<strong>&middot; <%= link_to 'School Admin', "/schoollist" %></strong><br />

<div id="wrapper">

<div id="left" style="width: 905px"align="left">

<p style= "font-size: 20px"><strong>Teachers</strong></p>
<table cellpadding = "5">
  <tr>
    <th>User Name</th>
    <th>Email</th>
    <th>Registered</th>
    <th>Last Login</th>
    <th>Login Count</th>
    <th></th>
  </tr>
<%- @users.each do |user| %>
<% if user.deleted_at != nil %> 
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.created_at.to_formatted_s(:short) %></td>
    <td><% if user.last_login? %><%= user.last_login.to_formatted_s(:short) %><% else %>Unknown<% end %></td>
    <td><% if user.login_count? %><%= user.login_count.to_s %><% else %>Unknown<% end %></td>
    <td><%= button_to 'Reactivate', { :actiobn => "deactivated_user_list", :user => user } %></td>
  </tr>
<% end %>
<% end -%>
</table>
<%= will_paginate @users %>

</div>

</div>
