<%= form_tag :action => "login" do %>
  <h1 class="green">Login</h1> 

  <p><label for="user_email">Email</label><br/>
  <%= text_field "user", "email", :size => 45 %></p>

  <p><label for="user_password">Password</label><br/>
  <%= password_field "user", "password", :size => 45 %></p>

<p><input type="checkbox" name="remember_me" value="remember_me"/> <label for="remember_me">Stay Signed In</label></p>

	<div>
		<%= submit_tag "Login", :class => "btn btn-success"%>
	</div>

    <%= link_to 'Register', :action => 'create' %> &middot;
    <%= link_to 'Forgot my password', :action => 'forgot_password' %>     

<% end %>