
<h1>Administration</h1>

<ul id="breadcrumbs">
  <li><%= link_to 'Home', :admin %></li>
  <li>Organization List</li>
</ul>

<%= render :partial => "admin_stats", :locals => { :stats => @stats } %>

<%= render :partial => "admin_menu" %>

<div class="clear" style="margin-bottom: 1em; margin-top: 0em; padding-bottom: 1em; border-bottom: 1px solid #ccc"></div>

<%= form_tag '/organizationlist' , :action => 'search', :method => 'get' do %>
  <p>
  <strong>Find Organization:</strong> <%= text_field_tag :orgname, params[:orgname] %>
  <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="wrapper" style="margin-top: 0">

<div id="left" style="width: 905px"align="left">

<p style= "font-size: 20px"><strong>Organizations</strong></p>
<table cellpadding = "5">
  <tr>
    <th>Organization Name</th>
    <th>Schools</th>
    <th>Jobs</th>
    <th>Applicants</th>
  </tr>
<%- @organizations.each do |organization| %>
  <tr>
    <td><% if organization.name == nil || organization.name == ""%><%= link_to organization.user.school.name,'/manage/'+organization.user.id.to_s %><% else %><%= link_to organization.name, '/manage/'+organization.user.id.to_s %><% end %></td>
    <td><%= organization.schools.count %></td>
    <td><%= organization.jobcount %></td>
    <td><%= organization.applicationcount %></td>
  </tr>
<% end -%>
</table>
<%= will_paginate @organizations %>

</div>

</div>
