
<h1>Administration</h1>

<ul id="breadcrumbs">
  <li><%= link_to 'Home', :admin %></li>
  <li>School User List</li>
</ul>

<%= render :partial => "admin_stats", :locals => { :stats => @stats } %>
<%= render :partial => "admin_menu" %>

<div class="clear" style="margin-bottom: 1em; margin-top: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc"></div>

<div class="form-wrap">
<%= form_tag :action=> "school_user_list" do %>
<p>
Organization Name:<%= text_field_tag :name %>
Primary Contact Name: <%= text_field_tag :contact %>
</p>
Primary Email:<%= text_field_tag :email %>
Password: <%= password_field_tag :pass %>
Type:<%= select(:school, :school_type, { "District" => "1", "Charter" => "2", "Private" => "3", "Other" => "4" }) %>
<%= submit_tag "Create Account" %>
<%end%>
</div>

<div class="form-wrap">
<%= form_tag '/schoollist' , :action => 'search', :method => 'get' do %>
  <p>
  <strong>Find Organization:</strong> 
  <p>Organization Name:<%= text_field_tag :orgname, params[:orgname] %>
  Contact:<%= text_field_tag :contactname, params[:contactname] %>
  Email:<%= text_field_tag :emailaddress, params[:emailaddress] %>
  <%= submit_tag "Search", :name => nil %></p>
  </p>
<% end %>
</div>

<div id="wrapper">

<div id="left" style="width: 905px" align="left">

<p style= "font-size: 20px"><strong>School Users</strong></p>
<table cellpadding="4">
  <tr>
    <th>Organization Name</th>
    <th>Contact</th>
    <th>Email</th>
    <th>Last Login</th>
    <th>Jobs</th>
    <th>Applicants</th>
    <th></th>
    <th></th>
  </tr>
<%- @schools.each do |school| %>
  <% user = User.find(school.owned_by); applicants = 0 %>
  <% school.jobs.each do |job| applicants = applicants + job.applications.count; end %>
  <tr>
    <td><%= link_to school.name, school %></td>
    <td><%= user.name %></td>
    <td><%= link_to user.email, 'mailto:'+user.email %></td>
    <td><% if user.last_login? %><%= user.last_login.to_formatted_s(:short) %><% else %>Unknown<% end %></td>
    <td><%= school.jobs.count %></td>
    <td><%= applicants %></td>
    <td><%= link_to "Manage", '/manage/'+user.id.to_s %></td>
    <td><%= link_to 'Deactivate User', user_path(user, :deactivate => true), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end -%>
</table>
<%= will_paginate @schools %>

</div>

</div>
