<h5>Get Started with DemoLesson</h5><br>

<p style ="font-size:20px; margin: 10px 0px 0px 0px"> Teachers join for free, get started now</p>

<%= form_for :user, :url => { :controller => :users, :action => :create} do |f| %>

<div class="field-set">
<div class="field-part">
	<small style="margin:0px 0px 0px 0px;"><em>First Name</em></small>
</div>
</br>
<div class="field-part">
  	<%= f.text_field :first_name, :placeholder => "Jamie", :size => 27 %>
</div>
</br>
<div class="field-part">
	<small style="margin:0px 0px 0px 0px;"><em>Last Name</em></small>
</div>
</br>
<div class="field-part">
	<%= f.text_field :last_name, :placeholder => "Smith", :size => 27, :style => "margin-left: 0px;" %>
</div>

</div>

<div class="clear" style="padding-bottom: 10px;"></div>

<div class="field-set">
	<div class="field-part">
	<small style="margin:0px 0px 0px 0px;"><em>Email</em></small>
	</div>
	</br>
	<div class="field-part">
    <%= f.text_field :email, :placeholder => "jamie@gmail.com", :size => 40 %>
	</div>
</div>
	
<div class="clear" style="padding-bottom: 10px;"></div>
	
<div class="field-set">	
    <div class="field-part">
	<small style="margin:0px 0px 0px 0px;"><em>Password</em></small>
	</div>
</br>	
    <div class="field-part">
	<%= f.password_field :password, :size => 27 %>
	</div>
</br>	
    <div class="field-part">
	<small style="margin:0px 0px 0px 0px;"><em>Confirm</em></small></br>
	</div>
</br>
    <div class="field-part">
    <%= f.password_field :password_confirmation, :size => 27, :style => "margin-left:0px" %>
	</div>
</div>	

<div class="clear" style="padding-bottom: 10px;"></div>

<div class ="field-set">
	<small>By Getting Started, I agree to the <%= link_to "Terms", "/termsofservice" %>.</small></br>
    <span>	<%= f.submit "Get Started", :class => "btn btn-success" %> <%= link_to "For Schools", forschools_path, :class => "btn" %>	</span>
<% end %>

</div>