<h1>Listing videos</h1>

<table>
  <tr>
    <th>Teacher</th>
    <th>Location</th>
    <th>Embed Code</th>
    <th></th>
    <th></th>
  </tr>

<% @videodb.each do |v| %>
  <tr>
    <td><%= v.teacher_id %></td>
    <td><%= v.location %></td>
	<td><%= v.embed_code %></td>
    <td><%= link_to 'Show', v %></td>
    <td><%= link_to 'Edit', edit_video_path(v) %></td>
    <td><%= link_to 'Destroy', v, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
