<h1>Welcome, <%= self.current_user.name %>!</h1>

<div id="sidebar" class="job_browser">

<h4>Actions</h4>

<div class="actions">
	<%= link_to "Post New Job", :controller => :jobs, :action => :new %>
</div>

<h4>Status</h4>

<% if unread_messages == 0 %>
<%= link_to "No New Messages", :messages %>
<% else %>
<%= link_to unread_messages.to_s+" Unread Messages", :messages %>
<% end %>

<br />

<% if @jobs.count == 0 %>
No Active Job Posts
<% else %>
<%= link_to @jobs.count.to_s+" Active Job Posts", my_jobs_path %>
<% end %>

<br />
<% if @applicants == 0 %>
	<%= link_to 'No New Applicants', my_jobs_path %>
<% elsif @applicants == 1 %>
	<%= link_to '1 New Applicant', my_jobs_path %>
<% else %>
	<%= link_to @applicants.to_s+' New Applicants', my_jobs_path %>
<% end %>

<br />
No Starred Teachers

</div>

<div id="content">
<h4>News Feed</h4>

<% if @activities.count == 0 %>
<div style="text-align:center; color: #999">No Current News Stories</div>
<% else %>
	<% @activities.each do |activity| %>
		<% if activity.activityType == 4 %>
			<p class="activity"><span>DemoLesson Blog</span>New blog post: <%= link_to activity.blog_title, activity.blog_url %></p>
		<% elsif activity.activityType == 3 %>
			<p class="activity"><span><%= activity.created_at.to_s(:due_time) %></span><strong><%= link_to activity.creator.name, activity.teacher.url %></strong> applied to your open position <%= link_to activity.application_job.title, activity.application_job %> at <%= link_to activity.application_school.name, activity.application_school %></p> 
		<% elsif activity.activityType == 2 %>
			<p class="activity"><span><%= activity.created_at.to_s(:due_time) %></span><strong><%= link_to activity.creator.name, activity.teacher.url %></strong> scheduled an interview at <%= link_to activity.interview.date.to_s(:due_time), '/applications/'+activity.application_job.id.to_s %> for your position <%= link_to activity.application_job.title, activity.application_job %></p> 
		<% elsif activity.activityType == 1%>
			<p class="activity"><span><%= activity.created_at.to_s(:due_time) %></span><strong><%= link_to activity.creator.name, activity.teacher.url %></strong> sent you a message: <%= link_to activity.message.subject, activity.message %></p> 
		<% end %>
	<% end %>
<% end %>
</div>
