<div id="wrapper">
	
<div id="header_inner" style="height: 450px" align="center">

<span style="font-size:48px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px;">Where Great Teachers Find Great Jobs.</span>

<p style="font-size:14px;margin-top:1px;margin-bottom:10px;color:#c46c28"><strong></strong></p>

<div id="left" align="left">
	<section>
	      <div id="stack-show">
	        <ul id="stack">
	              <li class="photo-card photo-card0" style="z-index: 99; -webkit-transform: rotate(-8deg); top: -1px; opacity: 1; left: -8px; " id="photo-card0">
	                <figure>
	            <%= image_tag "susan.png", :size => "287x215", :class => "snapshot" %>
	            <div class="message">
	              <blockquote><figcaption class="handwritten">"Thanks DemoLesson!  I found an awesome job 10x faster than with previous sites!" -<a href="#">Justin S.</a></figcaption></blockquote>
	              
	            </div>
	            </figure>
	          </li>
	          <li class="photo-card photo-card1" style="z-index: 98; -webkit-transform: rotate(3deg); top: 7px; opacity: 1; left: 3px; " id="photo-card1">
	            <figure>
	            <%= image_tag "susan.png", :size => "287x215", :class => "snapshot" %>
	            <div class="message">
	              <blockquote><figcaption class="handwritten">"I love using DemoLesson to find schools, thank you so much! Thanks DemoLesson." <a href="#">James R.</a> </figcaption></blockquote>
	              
	            </div>
	            </figure>
	          </li>
	          <li class="photo-card photo-card2" style="z-index: 97; -webkit-transform: rotate(8deg); top: -9px; opacity: 1; left: 8px; " id="photo-card2">
	            <figure>
	            <%= image_tag "back_to_school.jpg", :size => "287x215", :class => "snapshot" %>
	            <div class="message">
	              <blockquote><figcaption class="handwritten">"It has never been easier to find a job!Thanks DemoLesson!"<a href="#">Diane E.</a></figcaption></blockquote>
	              
	            </div>
	            </figure>
	          </li>
	          <li class="photo-card photo-card3 current" style="z-index: 100; -webkit-transform: rotate(0deg); top: -7px; opacity: 1; left: 0px; " id="photo-card3">
	            <figure>
	            <%= image_tag "susan.png", :size => "287x215", :class => "snapshot" %>
	            <div class="message">
	              <blockquote><figcaption class="handwritten">"I signed up for DL because resumes and cover letters didn't tell my whole story as an educator. With DL, I can showcase my talents, passion, and skills." <a href="#">Susan K.</a> </figcaption></blockquote>
	              
	            </div>
	            </figure>
	          </li>
	        </ul>
	    </section>

</div>

<div id="right" align="left" style="margin-left:15px; margin-top:50px; width:420px">
	<!--<p class="buttons" style="text-align:center;margin-left:-10px;"><a href="/jobs"><img src="<%= asset_path 'browse_jobs.png' %>" /></a></p>-->
	
	
	
	
	
	<p style ="font-size:20px; margin-top: 30px; margin-left:10px"> DemoLesson is free for teachers.</p>

	<%= form_for @alpha do |f| -%>

		<div class="field">
		    <%= f.text_field :name,:placeholder => "Full Name", :size => 60 %><br />
		</div>

		<div class="field">
		    <%= f.text_field :email,:placeholder => "Email", :size => 60 %><br />
		</div>

		<div class="field">
	    	<%= f.label :alpha, "I'm a..." %>
	    	<%= select(:alpha, :userType, { "Teacher" => "1", "Teacher Assistant" => "2", "Student Teacher" => "3"}, :selected => params[:userType]) %>
				<%= f.submit "Get Started", :class => "btn btn-success", :disable_with => 'Submitting...' %><br />
			<span align="center" style="height: 10px; align:center"><%= link_to "Schools Looking for Teachers, Click Here", forschools_path %></span>	
	  	</div>
	
			<%= f.check_box :beta, :checked => true, :hidden => true%> 
		
	<% end -%>
	
	<div style="display:none;height:0px">
		<%= javascript_tag " $(\"#alpha_userType\").chosen() "%>
	</div>
</div>

</div>

</div>

<!--Begin Feature Section-->
<div id="wrapper_features">

               <!--Begin Featured Jobs-->
<div id="features_right">
	<p style ="font-size:20px; margin-left:5px; color: #000">Featured Jobs</p>

	<div id="feature_job">
		<div id="feature_logo"><img src="<%= asset_path 'logo_puc.png' %>" style="width: 100px; height:auto"></div>
		<div id="job_desc"> 
			<span style="font: lighter 14px Helvetica; color:#505050;">PUC Schools<br> 
				<a href="http://demolesson.com/jobs/106821/?splash_featured">9-12 Math Teachers</a> <br> Los Angeles, CA</span>
		</div>
	</div>
	
	<hr style="width:200px; background-color: #F4F4F4">
	
	<div id="feature_job">
		<div id="feature_logo"><img src="<%= asset_path 'lead_ps.jpeg' %>" style="width: 100px; height:auto"></div>
		<div id="job_desc" > 
			<span style="font: lighter 14px Helvetica; color:#505050;">Leadership Public Schools<br> 
				<a href="http://demolesson.com/jobs/108631/?splash_featured">English Teacher</a> <br> Oakland, CA</span>
		</div>
	</div>
	
	<hr style="width:200px; background-color: #F4F4F4">

	<div id="feature_job">
		<div id="feature_logo"><img src="<%= asset_path 'septima.jpg' %>" style="width: 85px; height:auto"></div>
		<div id="job_desc" > 
			<span style="font: lighter 14px Helvetica; color:#505050;">Septima Clark<br> 
				<a href="http://demolesson.com/jobs/109351/?splash_featured">Middle School Art Teacher</a> <br> Washington DC</span>
		</div>
	</div>
	
	<hr style="width:200px;">
		
		<div id="feature_job">
			<div id="feature_logo"><img src="<%= asset_path 'equitas.jpg' %>" style="width: 100px; height:auto"></div>
			<div id="job_desc" > 
				<span style="font: lighter 14px Helvetica; color:#505050;">Equitas Academy<br> 
					<a href="http://demolesson.com/jobs/110731/?splash_featured">K-4 Teachers</a> <br>Los Angeles, CA</span>
			</div>
		</div>
		
	<p style="font: lighter 14px Helvetica; color:#505050; margin-left:5px"><%= link_to "Browse Teaching Jobs Now", jobs_path, :class => "btn btn-primary" %></p>
		
</div> <!--End Featured Jobs-->
	
<div id="features">
	<h1 class="green" style="margin-left:5px;"> Why Use DemoLesson</h1>
	
	<div id="feature_section">
		<div id="feature_pile"><img src="<%= asset_path 'standout.jpg' %>" style="height: auto; width:100px;"></div>
		<div id="feature_desc">
			<span style="font-size:18px">Stand Out</span><br>
			<span style="font: lighter 16px/20px Helvetica">We know you're an awesome teacher, but your resume is just one of hundreds. Upload a video lesson and showcase your talents, setting yourself apart from the crowd.</span>
			<hr>
		</div>
	</div>
	
	<div id="feature_section">
		<div id="feature_pile"><img src="<%= asset_path 'build.jpg' %>" style="height: auto; width:100px;"></div>
		<div id="feature_desc">
			<span style="font-size:18px">Build It Once</span><br>
			<span style="font: lighter 16px/20px Helvetica">You only need to upload your information to your profile once. Each time you apply to a job, they will receive access to your completed profile, saving you precious time.</span>
			<hr>
		</div>	
	</div>
	
	<div id="feature_section">
		<div id="feature_pile"><img src="<%= asset_path 'globe.jpg' %>" style="height: auto; width:100px;"></div>
		<div id="feature_desc">
			<span style="font-size:18px">Unlimited Marketability</span><br>
			<span style="font: lighter 16px/20px Helvetica">You're not just limited to the jobs on our site. Send your profile to anyone, anywhere, anytime, and expand your opportunities to secure a job.</span><br>
			<a href="http://demolesson.com/howitworks" style="font: lighter 16px/20px Helvetica"><strong>See how it works</strong></a>
			<hr>
		</div>
	</div>

	<div id="feature_section">
		<div id="feature_pile"><img src="<%= asset_path 'private.jpg' %>" style="height: auto; width:100px;"></div>
		<div id="feature_desc">
			<span style="font-size:18px">Private</span><br>
			<span style="font: lighter 16px/20px Helvetica">Your profile is private and you control who has access to it. Only the schools to which you apply will have access to your video and uploaded documents.</span>
		</div>
	</div>
	
</div>	

</div> <!--End Feature Section-->


<div id="footer_inner"></div>



