<div id="wrapper">
	
<div id="header_inner" style="height: 500px" align="center">

<h1 style="font-size:45px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
	font-weight: 300; color:#666">Market Yourself Like Never Before!</h1>

<p style="font-size:14px;margin-top:1px;margin-bottom:10px;color:#c46c28"><strong></strong></p>

<div id="left" align="left">

<div class="splash_image">
<a href="http://cdn.static.viddler.com/flash/as3/mini-publisher.swf?key=fbdd4004" rel="shadowbox;height=500;width=840"><img src= "http://s3.amazonaws.com/DemoLessonS3/site/Teacherplaybutton.png"></a>

</div>

<p style="font-size:20px; margin-left: 95px; color:#ff0000"><strong>Click Above to Watch the Video!</strong></p>

</div>

<div id="right" align="left" style="margin-left:15px;width:420px">
	
	<p style="font-size:20px; margin-left: 20px"><strong>Hundreds of Jobs Currently Posted!</strong></p>
	<p style ="font-size:20px; margin-left:60px"> Join the Beta Today! <span style= "color:#ff0000"><strong> It's Free!</strong></span></p>

	<%= form_for @alpha do |f| -%>

		<div class="field">
		    <%= f.text_field :name,:placeholder => "Full Name", :size => 60 %><br />
		</div>

		<div class="field">
		    <%= f.text_field :email,:placeholder => "Email", :size => 60 %><br />
			<span style="font-size:12px">We promise we won't share your email with anyone.</span>
		</div>

		<div class="field">
	    	<%= f.label :alpha, "I'm a..." %>
	    	<%= select(:alpha, :userType, { "Teacher" => "1", "Teacher Assistant" => "2", "Student Teacher" => "3", "Administrator" => "4" }, :selected => params[:userType]) %>
			<div class="actions" style= "float: right;width:90px">
				<%= f.submit "Submit", :disable_with => 'Submitting...' %>
			</div>
	  	</div>
			<%= f.check_box :beta, :checked => true, :hidden => true%> 
		
	<% end -%>

	<div style="display:none;height:0px">
		<%= javascript_tag " $(\"#alpha_userType\").chosen() "%>
	</div>
</div>

</div>

<div id="container_inner" style="height: auto; margin-top:5px" align="center">
	<a href=" http://www.endeavorcollegeprep.org" target="_blank"><img src="http://s3.amazonaws.com/DemoLessonS3/site/Endeavorbw.jpg"></a> 
	<a href="http://www.pucschools.org" target="_blank"><img src=" http://s3.amazonaws.com/DemoLessonS3/site/logo_pucschoolsbw.jpg"></a> 
	<a href=" http://www.kipp.org" target="_blank"><img src="http://s3.amazonaws.com/DemoLessonS3/site/kippbw.jpg"></a>
	<a href="http://ypiusa.org" target="_blank"><img src="http://s3.amazonaws.com/DemoLessonS3/site/youthpolicyinstitutebw.jpg"></a> 
	<a href="http://www.futuroprep.org/index.aspx" target="_blank"><img src=" http://s3.amazonaws.com/DemoLessonS3/site/futuroprepbw.jpg"></a>
	<a href="http://www.partnershipla.org" target="_blank"><img src="http://s3.amazonaws.com/DemoLessonS3/site/plasbw.jpg"></a> 
	<a href="http://www.valoracademy.org" target="_blank"><img src="http://s3.amazonaws.com/DemoLessonS3/site/valor_academybw.jpg"></a>
</div>

<div id="footer_inner"></div>

</div>

