<div id="wrapper">
	
<div id="header_inner" style="height: 450px" align="center">

<h1 style="font-size:45px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
	font-weight: 300; color:#666">Where Great Teachers Find Great Jobs.</h1>

<p style="font-size:14px;margin-top:1px;margin-bottom:10px;color:#c46c28"><strong></strong></p>

<div id="left" align="left">

<div class="splash_image">
<a href="http://cdn.static.viddler.com/flash/as3/mini-publisher.swf?key=fbdd4004" rel="shadowbox;height=500;width=840"><img src= "http://s3.amazonaws.com/DemoLessonS3/site/Teacherplaybutton.png"></a>

</div>

</div>

<div id="right" align="left" style="margin-left:15px;width:420px">
	<p class="buttons" style="text-align:center;margin-left:-10px;"><a href="/jobs"><img src="<%= asset_path 'browse_jobs.png' %>" /></a></p>
	
	<p style ="font-size:20px; margin-top: 30px; margin-left:90px"> Sign Up Today. <span style= "color:#ff0000"><strong> It's Free!</strong></span></p>

	<%= form_for @alpha do |f| -%>

		<div class="field">
		    <%= f.text_field :name,:placeholder => "Full Name", :size => 60 %><br />
		</div>

		<div class="field">
		    <%= f.text_field :email,:placeholder => "Email", :size => 60 %><br />
		</div>

		<div class="field">
	    	<%= f.label :alpha, "I'm a..." %>
	    	<%= select(:alpha, :userType, { "Teacher" => "1", "Teacher Assistant" => "2", "Student Teacher" => "3", "Administrator" => "4" }, :selected => params[:userType]) %>
			<div class="actions" style= "float: right;width:90px">
				<%= f.submit "Sign Up", :disable_with => 'Submitting...' %>
			</div>
	  	</div>
			<%= f.check_box :beta, :checked => true, :hidden => true%> 
		
	<% end -%>

	<div style="display:none;height:0px">
		<%= javascript_tag " $(\"#alpha_userType\").chosen() "%>
	</div>
</div>

</div>

<div id="container_inner" style="height: auto; margin-top:5px" align="center">
	
	<img src="http://s3.amazonaws.com/DemoLessonS3/site/customer.png">
	
</div>

<div id="footer_inner"></div>

</div>

