<script type = "text/javascript" src = "http://code.jquery.com/jquery-1.7.2.min.js"></script>
<h1 class="dashboard_title"><% if @user.avatar? %><%= image_tag @user.avatar.url(:tiny) %><% end %> Welcome, <%= self.current_user.name %>!</h1>

<form id = "search">
    <label for = "searchSubject"><img src="/assets/search-icon-white-one-md.png" alt="search-icon-white-one-md.png" /> Search Jobs </label>
    <input type = "text" placeholder = "Search Keyword (job title, subject, school)" id = "searchSubject">
    <input type = "text" placeholder = "Los Angeles, CA" id = "location">
    <input type = "submit" id = "go" value = "Go"> 

<%= form_tag jobs_path, :method => :get do %>
  <div id = "search">
    <label for = ""><img src="/assets/search-icon-white-one-md.png" alt="search-icon-white-one-md.png" /> Search Jobs </label>
    <%= text_field_tag :searchkey, params[:searchkey], :placeholder => 'Search Keyword (job title, subject)' %>
    <%= text_field :location, 'city', :placeholder => "Type a city or address" %> 
    <%= submit_tag "Go", :id => "go" %>
    <div id = "advanced">Advanced</div>
    <div id = "jobSearchMenu" class="hideAdvancedSearch" > 
      <div id = "jobList">
        <div>Show Jobs within Distance of</div>
        <div>That has been Posted within</div>
        <div>That is for these Grade Levels</div>
        <div>Show jobs of School Type</div>
        <div>That is this Job Type</div>
        <div>For this Calendar Year</div>
      </div>
      <div id = "jobSelection" >
        <select id="radius" name = "radius">
          <option value = "100">100 miles</option>
          <option value = "50">50 miles</option>
          <option value = "25" selected>25 miles</option>
          <option value = "20">20 miles</option>
          <option value = "15">15 miles</option>
          <option value = "10">10 miles</option>
          <option value = "5">5 miles</option>
        </select><br />
        <select id="posttime" name="posttime">
          <option value = "">Show All</option>
          <option value = "1">Last 24-hours</option>
          <option value = "7">Last 7 days</option>
          <option value = "14">14 days</option>
          <option value = "30">30 days</option>
        </select><br />
        <select id= "grade_level" name="grade_level">
          <option value = "">Show All</option>
          <option value = "1">Pre-K</option>
          <option value = "2">Elementary</option>
          <option value = "3">Middle</option>
          <option value = "4">High School</option>
          <option value = "5">Adult School</option>
          <option value = "6">Other</option>
          <option value = "7">K-6</option>
          <option value = "8">K-8</option>
          <option value = "9">6-12</option>
          <option value = "10">12</option>
        </select><br />
        <select id="school_type" name ="school_type">
          <option value = "">Show All</option>
          <option value = "2">Charter</option>
          <option value = "1">District</option>
          <option value = "3">Private</option>
          <!--<option value = "Summer">Summer</option>
          <option value = "Adult">Adult</option>-->
          <option value = "4">Other</option>
        </select><br />
        <select id= "employment" name="employment">
          <option value = "">Show All</option>
          <option value = "0">Full-Time</option>
          <option value = "1">Part-Time</option>
          <!--<option value = "Substitute">Substitute</option>-->
          <option value = "2">Contract</option>
          <option value = "3">Other</option>
        </select><br />
        <select id="calender" name="calender" >
          <option value = "">Show All</option>
          <option value = "1">Year-Round</option>
          <option value = "2">Track</option>
          <option value = "3">Semester</option>
          <option value = "4">Traditional</option>
        </select>
      </div>
    </div>
  </div>
<% end %>
<script> 
       $(function () {
           $("#advanced").click(function() {
               if ($("#jobSearchMenu").hasClass("hideAdvancedSearch")) {
                  $("#jobSearchMenu").removeClass("hideAdvancedSearch").addClass("showAdvancedSearch");
                  $("#search").after($("#jobSearchMenu"));
               } else {
               $("#jobSearchMenu").removeClass("showAdvancedSearch").addClass("hideAdvancedSearch");
               }
          });
       });
</script>

<div id="sidebar" class="job_browser">

<div id="myApp">
    <img src="/assets/file.png" id = "myAppPic" class = "icon" height = "34" alt="file.png"/>
    <h4>My Applications</h4>
	<%= link_to 'My Applications', :teacher_applications %></br>
    <% if @interviews == nil %>
	   <%= link_to 'No Scheduled Interviews', :my_interviews %>
    <% elsif @interviews.size == 1 %>
	   <%= link_to '1 Interview Request', :my_interviews %>
    <% else %>
	   <%= link_to @interviews.size.to_s+' Interview Requests', :my_interviews %>
    <% end %>
</div>

<div id = "message">
    <img src="/assets/sfs_icon_forward.png" id = "messagePic" class = "icon" height = "34" alt="sfs_icon_forward.png"/>
    <h4>Inbox</h4>

    <% if unread_messages == 0 %>
	    <%= link_to "No New Messages", :messages %>
    <% elsif unread_messages == 1 %>
	    <%= link_to "1 Unread Message", :messages %>
    <% else %>
	    <%= link_to unread_messages.to_s+" Unread Messages", :messages %>
    <% end %><br />
</div>


 <div id="content">
    <div id="featuredJobs">
       <h4>Featured Schools </h4>

        <% @featuredjobs.each do |job| %>
	    <% if job.id == 57 || job.id == 100000 || job.id == 29 || job.id == 56 %>	
  	    <div class="item_featured_teacherdash_schools">
		     <div class="item_featured_school_picture_teacherdash">
			     <% if job.school.picture? %><%= link_to image_tag(job.school.picture.url(:thumb)), job %><% else %><%= link_to image_tag("no_image.png"), job %><% end %>
		     </div>
		     <p>
				<span style=""><%= link_to job.school.name, job.school %></span><br />
			 </p>
  	    </div>
	 <% end %>
    <% end %>
   </div>
 </div>
</div>
<div id="content">

  <div id = "recentActivity">
    <h4>Recent Activity</h4>

    <% @jobs.each do |job| %>
      <div class="item_jobs">
	      <div class="item_picture">
		      <% if job.school.picture? %><%= link_to image_tag(job.school.picture.url(:thumb)), job %><% else %><%= link_to image_tag("no_image.png"), job %><% end %>
	      </div>
	      <p>
	         <strong><%= link_to job.title, job %></strong><br />
             <span><% if job.description.size > 166 %><%=h (job.description.gsub(%r{</?[^>]+?>}, '')[0..170]+'...').html_safe %><% else %><%=h job.description.gsub(%r{</?[^>]+?>}, '').html_safe %><% end %></span><br />
	         <%= link_to job.school.name, job.school %><br />
	         <%= job.school.map_city %><% if job.school.map_state? %>, <%= STATES_ARRAY[job.school.map_state.to_i-1] %><% end %>
	     </p>
     </div>
    <% end %>
    <button type = "button" id = "more">MORE</button>
  </div>
</div>
<script>
   $(function() {
        $(".item_jobs").each(function(index, item) {
           if (index > 2) {
              $(item).css("display", "none");
           }
        });
        $("#more").click(function() {
              $(".item_jobs").css("display", "block");
        });
    });
</script>






