<h1 class="dashboard_title">
	<%= image_tag @user.avatar.url(:tiny) if @user.avatar? %>
	Welcome, <%= self.current_user.first_name %>!
	
	<div align="right" style=" margin-top:-25px">
			<%= link_to "Add Connections", inviteconnections_path, :class => 'btn btn-success'%>
	</div>
</h1>

<div id="sidebar" class="job_browser">

	<div id="myConnections">
		<img src="/assets/contacts.png" id = "myConnectionsPic" class = "icon" width = "34" alt="contacts.png"/>
		<h4>Connections</h4>
		<%= link_to "Add Connections", :inviteconnections %></br>
		<%= link_to 'My Connections', :my_connections %></br>
        <%= link_to "Pending Connections (" + pendingcount.to_s + ")", :pending_connections %><br />
	</div>

	<div id = "messages">
		<img src="/assets/envelope.png" id = "messagesPic" class = "icon" width = "35" alt="envelope.png"/>
		<h4>Inbox</h4>

		<% if unread_messages == 0 %>
			<%= link_to "No New Messages", :messages %>
		<% elsif unread_messages == 1 %>
			<%= link_to "1 Unread Message", :messages %>
		<% else %>
			<%= link_to unread_messages.to_s+" Unread Messages", :messages %>
		<% end %><br />
	</div>

	<% # This comment is visible in the page source should consider changing or removing %>
	<!--div id="content">
		<div id="featuredJobs">
			<h4>Featured Schools</h4>
		</div>
	</div-->
</div>

<div id="content">

	<% unless @user.rsvp.empty? %>
		<div id="recentActivity">
			<h4 style="font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif;color:#000;text-shadow:#ccc 1px 1px 2px; float:left;margin-left:5px;width:100%;">Upcoming Events On Your Calendar</h4><br />

			<div style="clear:both;"></div>
			
			<% @user.rsvp.select{|x| x.published && (x.end_time.future? || x.end_time.today?)}.each do |event| %>
				<div style="display:block;border-bottom:2px #DADADA solid;margin-bottom:10px;">
					<h7><%= link_to(event.name + ' — ' + event.start_time.localtime.to_datetime.strftime("%m/%d/%Y at %l:%M%P") , event) %></h7>
					<p><%= event.description.split(' ')[0..25].join(' ') + "... " %> <%= link_to "Continued on event page.", event %></p>
				</div>
			<% end %>	
		</div>
	<% end %>

	<div id="recentActivity">
		<h4 style="font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left; margin-left: -3px; width:100%;">My Bulletin Board</h4><br />

		<form action="/share_on_whiteboard" style="position:relative;left:-3px;">
			<table style="width:100%;">
				<td>
					<textarea name="message" class="css3-border-box" style="width:100%;height:50px;" placeholder="Share Something..."></textarea>
				</td>
				<td style="width:10px;">
					<input type="submit" class="btn btn-success css3-border-box" value="Share" />
				</td>
			</table>
		</form>
		
		<% @whiteboard.each do |post| %>
			<div class="activity">
				<% if (post.user == self.current_user && post.data!["deleteable"]) || self.current_user.is_admin %>
					<a style="float:right;font-weight:bold;font-size:20px;" title="Delete this post" href="/delete_from_whiteboard?post=<%= post.id %>">X</a>
				<% end %>
				<div class="item_picture">
					<% post.getModels.each do |x| %>
						<% next unless x.is_a?(User) %>
						<%= link_to image_tag(x.avatar.url(:tiny), :width => '45px', :height => '45px'), x.teacher.url if x.avatar? %>
						<%= link_to image_tag("no_image_tiny.jpg"), x.teacher.url unless x.avatar? %>
					<% end %>
				</div>
				<p><%= raw post.getMessage %></p>
				<div style="clear:both;"></div>
			</div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
$(function() {
	$(".item_jobs").each(function(index, item) {
		if(index > 2) {
			$(item).css("display", "none");
		}
	});
	$("#more").click(function() {
		$(".item_jobs").css("display", "block");
			$("#more").text("Less");
			$("#more").addClass("less");
	});
	$(".less").click(function() {
		$(".item_jobs").each(function(index, item) {
			if(index > 2) {
				$(item).css("display", "none");
			}
		});
	});
});
</script>






