<h1 class="dashboard_title"><% if @user.avatar? %><%= image_tag @user.avatar.url(:tiny) %><% end %> Welcome, <%= self.current_user.name %>!</h1>

<div id="sidebar" class="job_browser">

<h4>Status</h4>

<% if unread_messages == 0 %>
	<%= link_to "No New Messages", :messages %>
<% elsif unread_messages == 1 %>
	<%= link_to "1 Unread Message", :messages %>
<% else %>
	<%= link_to unread_messages.to_s+" Unread Messages", :messages %>
<% end %><br />

<% if @interviews == nil %>
	<%= link_to 'No Scheduled Interviews', :my_interviews %>
<% elsif @interviews.size == 1 %>
	<%= link_to '1 Interview Request', :my_interviews %>
<% else %>
	<%= link_to @interviews.size.to_s+' Interview Requests', :my_interviews %>
<% end %>
</div>

<div id="content">
<h4>Recent job postings near you</h4>

<% @jobs.each do |job| %>
  <div class="item_jobs">
	<div class="item_picture">
		<% if job.school.user.avatar? %><%= link_to image_tag(job.school.user.avatar.url(:thumb)), job %><% else %><%= link_to image_tag("no_image.png"), job %><% end %>
	</div>
	<p>
	<strong><%= link_to job.title, job %></strong><br />
	<span><% if job.description.size > 166 %><%=h (job.description.gsub(%r{</?[^>]+?>}, '')[0..170]+'...').html_safe %><% else %><%=h job.description.gsub(%r{</?[^>]+?>}, '').html_safe %><% end %></span><br />
	<%= link_to job.school.name, job.school %><br />
	<%= job.school.map_city %><% if job.school.map_state? %>, <%= STATES_ARRAY[job.school.map_state.to_i-1] %><% end %>
	</p>
  </div>
<% end %>

</div>
