<div id="wrapper_global" style="font-family: Helvetica, Arial, sans-serif;">
	
<h1 class="green">What is DemoLesson?</h1>

<span style="font-size:16px">At DemoLesson, we give educators the freedom to market themselves like never before!We’ve utilized the best technology to create the most efficient, effective, and empowering hiring platform for educators.</span><br><br>

<span style="font-size:16px">Your DemoLesson profile serves as your professional digital portfolio. It provides a space for you to step off of the traditional resume and showcase your talents and abilities to potential employers in a way you never could before.</span><br><br>

<span style="font-size:16px">Use our advanced search database to search for the job of your dreams. Our application tracking system allows you to track your position within the hiring process so that you are never in the dark again. You can even share your profile with schools outside of our network, further enhancing your ability to market yourself!</span><br><br>

<h1 class="green">Meet the Founders</h1>

<div id="bios">
	<img title="Brian" src="<%= asset_path 'Brian.png' %>" style="float:left; margin-left:30px;" alt="" />
	<div id="bio">
		<p style="font-size:18px; line-height:20px; margin: 0px 0px 5px 0px">Brian Martinez</p>
		<span style="margin: 6px 0px 10px 0px">Brian holds a degree in Business Economics and Accounting from the University of California, Santa Barbara. While there, he was awarded the exclusive Technology Entrepreneurship Certificate from the Technology Management Program for his mastery of the critical aspects of entrepreneurial success. Brian founded AcceloMed Technologies, a medical device startup, in 2009, and then went on to gain two years of audit and tax experience working with CBIZ MHM, LLC, a national public accounting and business services provider. Brian is also a graduate of the elite Riordan Fellows Program at the UCLA Anderson School of Management and he previously served as the sole alumni representative on the Board of Directors of South Central Scholars, a youth scholarship organizations in Los Angeles.<br><%= link_to 'Twitter', "https://twitter.com/BC_Martinez" %> &middot; <%= link_to 'LinkedIn', "http://www.linkedin.com/in/bcmartinez" %>  
		</span>
	</div>
</div>
<div id="clear_spacer"></div>
<div id="bios">
	<img title="Mandela" src="<%= asset_path 'Mandela.png' %>" style="float:left; margin-left:30px;" alt="" />
	<div id="bio">
		<p style="font-size:18px; line-height:20px; margin: 0px 0px 5px 0px">Mandela Schumacher-Hodge</p>
		<span style="margin: 6px 0px 10px 0px">Mandela graduated from Pepperdine University with a Bachelor of Arts in Intercultural Communication and a minor in Spanish. Mandela was a Teach for America corps member and spent her first year teaching 6th grade Humanities at Bret Harte Middle School (Los Angeles Unified School District) in South Central Los Angeles, and then went on to teach another two years at Bert Corona Charter School in Pacoima, CA. While at Bert Corona, Mandela was voted 6th Grade Lead Teacher, adding various new administrative duties to her teaching role, one of which was the hiring of new teachers. During this period, Mandela also obtained a multiple-subject teaching credential and Masters Degree in Education Administration and Policy from Loyola Marymount University. Most recently, Mandela was a Ph.D. candidate at the prestigious UCLA Graduate School of Education, where she focused her research on the teacher hiring process.<br><%= link_to 'Twitter', "https://twitter.com/Mandelash" %> &middot; <%= link_to 'LinkedIn', "http://www.linkedin.com/in/schumacherhodge" %>  </span>
	</div>
</div>

<!--<div id="bios">
	<img title="Aleksandar" src="<%= asset_path 'Aleksandar.png' %>" style="float:left; margin-left:30px;" alt="" />
	<div id="bio">
		<p style="font-size:18px; margin: 0px 0px 14px 0px">Aleksandar Stanisic</p>
		<p>Mandela is fucking awesome too! Just not as awesome as Brian!</p>
	</div>
</div>

<div id="bios">
	<img title="Jerry" src="<%= asset_path 'Jerry.png' %>" style="float:left; margin-left:30px;" alt="" />
	<div id="bio">
		<p style="font-size:18px; margin: 0px 0px 14px 0px">Jerry Mercado</p>
		<p>Mandela is fucking awesome too! Just not as awesome as Brian!</p>
	</div>
</div>

<div id="bios">
	<img title="Pete" src="<%= asset_path 'Pete.png' %>" style="float:left; margin-left:30px;" alt="" />
	<div id="bio">
		<p style="font-size:18px; margin: 0px 0px 14px 0px">Pete Walton</p>
		<p>Mandela is fucking awesome too! Just not as awesome as Brian!</p>
	</div>
</div>-->

<!--<p style="padding-left:0px"><a href="/teachersignup"><%= image_tag "sign_up_green.png", :border => 0 %></a></p>-->
	

</div>