<div id="wrapper">
	
<div margin-left:"0px" align="center">
	
	<span style="font-size:30px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left; margin-left: 10px">Our Awesome Customers and Partners!</span><br>

</div>

</div>


<div id="wrapper_schools">

	<!--Begin Customer Section-->
	<span style="font-size:26px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left; margin: 20px 0px 0px 25px">Customers</span><br><br><br>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'oakland.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font: lighter 16px/20px Helvetica">Oakland is the Capital of the East Bay; the foundation of movements, the hub of transportation, and in many ways a testing ground of the future United States of America (engaged politics, relations across race, class, and language, public safety, sustainable economy, shipping, and education). </span>
		
			<br>
			<a target="_blank" href="http://demolesson.com/schools/102401" style="float:right" rel="nofollow">View Profile →</a><br>
			<hr>
		
	</div>
</div>

<div id="hiw">			
	<div id="one-third-width">
		<img src="<%= asset_path 'harlemvillage.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font: lighter 16px/20px Helvetica">Harlem Village Academies aims for a higher standard: students who think critically, argue passionately, and take ownership of their learning. They believe it is essential that students become fiercely independent and sophisticated thinkers, coherent writers, confident speakers, and avid readers.</span>
			<br>
			<a target="_blank" href="http://demolesson.com/schools/51" style="float:right" rel="nofollow">View Profile →</a><br>
			<hr>
	</div>	
</div>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'lead_ps.jpeg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font: lighter 16px/20px Helvetica">Leadership Public Schools ("LPS") is a not-for-profit organization founded in 2002 to serve a diverse student body throughout the Bay Area. The LPS network of outstanding public charter high schools are located in Richmond, Oakland (College Park), Hayward, and San Jose and serve over 1,500 students. </span>
			<br>
			<a target="_blank" href="http://demolesson.com/schools/100791" style="float:right" rel="nofollow">View Profile →</a><br>
			<hr>
	</div>
</div>

<div id="hiw">
	<div id="one-third-width">
		<img src="<%= asset_path 'equitas.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font: lighter 16px/20px Helvetica">Equitas Academy Charter School is a free public elementary school for parents who believe their child deserves a high-quality education and challenging school experience. Our school model offers: credentialed, passionate and dedicated teachers and staff who are experts in their field. </span>
			<br>
			<a target="_blank" href="http://demolesson.com/schools/103461" style="float:right" rel="nofollow">View Profile →</a><br>
			<hr>
		
	</div>
</div>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'friendship.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font: lighter 16px/20px Helvetica">Friendship Public Charter School operates six public charter schools and, in partnership with Baltimore City and District of Columbia Public Schools, manages four turnaround schools, serving nearly 8000 students from pre-school (three years old) to 12th grade. </span>
			<br>
			<a target="_blank" href="http://demolesson.com/schools/103091" style="float:right" rel="nofollow">View Profile →</a><br>
			<hr>
		
	</div>
</div>

<div id="hiw">
	<div id="one-third-width">
		<img src="<%= asset_path 'almadelmar.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font: lighter 16px/20px Helvetica">In August 2011, Alma del Mar opened its doors to 120 New Bedford scholars in kindergarten, first grade, and second grade. Over the next seven years, Alma del Mar will grow to serve 360 scholars in grades kindergarten through eight. </span>
			<br>
			<br>
			<a target="_blank" href="http://demolesson.com/schools/102911" style="float:right" rel="nofollow">View Profile →</a><br>
			<hr>
		
	</div>
</div>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'teamcharter.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font: lighter 16px/20px Helvetica">As a member of the KIPP network of schools, TEAM Schools is a free, public charter school network that serves the students of Newark. TEAM Schools are among the highest performing urban middle, elementary and high schools in the country. </span>
			<br>
			<a target="_blank" href="http://demolesson.com/schools/103901" style="float:right" rel="nofollow">View Profile →</a><br>
			<hr>
		
	</div>
</div>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'logo_puc.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font: lighter 16px/20px Helvetica">Partnerships to Uplift Communities (PUC) is a non-profit charter school management organization designed to significantly increase college entrance and graduation rates for underserved students in Los Angeles and the San Fernando Valley.</span>
			<br>
			<a target="_blank" href="http://demolesson.com/jobs?utf8=%E2%9C%93&search=PUC" style="float:right" rel="nofollow">View Profile →</a><br>
			<hr>
	</div>
</div>	
	<!--End Customer Section-->
	
	<!--Begin Partner Section-->
	
	<span style="font-size:26px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; margin: 20px 0px 0px 25px">Partnerships</span><br><br>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'tfa.gif' %>" style="height: auto; width:184px;">
	</div>

	<div id="two-thirds-width">
			<span style="font: lighter 16px/20px Helvetica">Teach for America recruits a diverse group of leaders with a record of achievement who work to expand educational opportunity, starting by teaching for two years in a low-income community.</span>
			<br>
			<br>
			<a target="_blank" href="http://www.teachforamerica.org/where-we-work/los-angeles" style="float:right" rel="nofollow">Visit Their Site →</a><br>
			<hr>
	</div>
</div>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'lmu-la.jpg' %>" style="height: auto; width:184px;">
	</div>

	<div id="two-thirds-width">
			<span style="font: lighter 16px/20px Helvetica">Loyola Marymount University's fully accredited MA, credential, and certificate programs prepare aspiring educators to enter the field, and provide current educators with the skills they need to go forward in their careers.</span>
			<br>
			<br>
			<a target="_blank" href="http://soe.lmu.edu/" style="float:right" rel="nofollow">Visit Their Site →</a><br>
			<hr>
	</div>
</div>	

<div id="hiw">
	<div id="one-third-width">
		<img src="<%= asset_path 'pepperdine.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
		<span style="font: lighter 16px/20px Helvetica">The GSEP holds a unique leadership position in higher education through their unwavering commitments to academic excellence, the student experience, and community partnerships.</span>
		<br>
		<br>
		<a target="_blank" href="http://gsep.pepperdine.edu/" style="float:right" rel="nofollow">Visit Their Site →</a>
	
	</div>
</div>
	<!--End Partner Section-->
</div> 
	
