<div id="wrapper">
	
<div margin-left:"0px" align="center">
	
	<span style="font-size:30px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left; margin-left: 10px">How DemoLesson Works</span><br>

</div>

</div>


<div id="wrapper_schools">
	<div id="clear_spacer"> </div>
	<!--Begin How It Works Section-->


<div id="hiw">	
	<div class="how_para">
			<span style="font-size:20px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">1) Build Your DemoLesson Card</span><br>
			<span style="font: lighter 14px/18px Helvetica">Take advantage of our distinct profile features, like video, document upload, and specialized skills tags to create a professional profile that is specifically designed for educators.</span>
	
	</div>
	
	<div class="how_pic">
		<div class="photo">
		<%= link_to image_tag("thumb_hiw_1.png", :border => 0), "/assets/full_hiw_1.png", :rel => "shadowbox" %>
		</div>
	</div>
	
</div>	

<div id="hiw">	
	<div class="how_pic" style="float:left; margin-left:30px">
		<div class="photo">
		<%= link_to image_tag("thumb_hiw_2.png", :border => 0), "/assets/full_hiw_2.png", :rel => "shadowbox" %>
		</div>
	</div>
	
	<div class="how_para" style="float:right; margin-left:10px">
			<span style="font-size:20px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">2) Make Meaningful Connections</span><br>
			<span style="font: lighter 14px/18px Helvetica">Connect with others who share your skills and interests, meet new educators you can learn from, or join the network of influential educators that can help advance your career. </span><br>

	</div>	
</div>

<div id="hiw">
	<div class="how_para">
			<span style="font-size:20px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">3) Promote Your Talents</span><br>
			<span style="font: lighter 14px/18px Helvetica">The DemoLesson Card is the best way to showcase your talents &amp; experiences as an educator. Tutors can send it to parents, teachers can share it with schools and parents, and professors can give universities and students access to theirs. The choice of how you use your Card is up to you!</span>
			<%= link_to 'Try It Out', '/signup' %><br>
	</div>
	
	<div class="how_pic">
		<div class="photo">
		<%= link_to image_tag("thumb_hiw_3.png", :border => 0), "/assets/full_hiw_3.png", :rel => "shadowbox" %>
		</div>
	</div>	
</div>

<div id="hiw">	
	<div class="how_pic" style="float:left; margin-left:30px">
		<div class="photo">
		<%= link_to image_tag("thumb_hiw_4.png", :border => 0), "/assets/full_hiw_4.png", :rel => "shadowbox" %>
		</div>
	</div>
	
	<div class="how_para" style="float:right; margin-left:10px">
			<span style="font-size:20px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">4) Attend Education Events</span><br>
			<span style="font: lighter 14px/18px Helvetica">The DemoLesson Calendar houses a comprehensive list of virtual, in-person, regional, and national events that are specific to the education community. You can search by date, location, host organization, topic, and countless other criteria.</span>
	</div>	
</div>

	<!--End How It Works Section-->
	
	<div id="button_bar" align="center">
		<p class="buttons"><span style="padding-right:15px"><%= link_to "How it Works for Schools?", '/howitworks/schools', :class => "btn btn-large" %></span>
		<span style="padding-left:15px"><%= link_to "Get Started Now →", '/signup', :class => "btn btn-large btn-success" %></span></p>
	</div>
	
</div>