<div id="wrapper_global">
	
<h1 class="green">How Demo Lesson Works, for Schools</h1>
	
	<div class="column_right">
		<div class="photo">
			<%= link_to image_tag("thumb_hiw_6.png", :border => 0), "http://s3.amazonaws.com/DemoLessonS3/site/full_hiw_6.png", :rel => "shadowbox" %>
		</div>
		
		<h4>View Profiles<br />and Manage Applicants</h4>
	
		<ul>
			<li>We help you manage incoming applicants efficiently and effectively</li>
			<li>View profiles and choose your next action:</li>
		</ul>
		
		<ol>
			<li>Invite to interview</li>
			<li>Message applicant</li>
			<li>Send rejection notice</li>
		</ol>
	</div>

	<div class="column_left">
		<div class="photo">
			<%= link_to image_tag("thumb_hiw_4.png", :border => 0), "http://s3.amazonaws.com/DemoLessonS3/site/full_hiw_4.png", :rel => "shadowbox" %>
		</div>
		
		<h4>Create<br />a School Profile</h4>
	
		<ul>
			<li>Display everything a potential applicant might want to know.</li>
			<li>Be discovered on your terms!</li>
		</ul>
	</div>
	
	<div class="column_center">
		<div class="photo">
			<%= link_to image_tag("thumb_hiw_5.png", :border => 0), "http://s3.amazonaws.com/DemoLessonS3/site/full_hiw_5.png", :rel => "shadowbox" %>
		</div>
		
		<h4>Post<br />a Job Opening</h4>
	
		<ul>
			<li>List the criteria you are looking for in an applicant</li>
			<li>We inform qualified applicants of your job opportunity.</li>
		</ul>
		<br />
		<br />
	</div>
	
	<div id="button_bar" align="center">
		<p class="buttons"><span style="padding-right:15px"><a href="http://cdn.static.viddler.com/flash/as3/mini-publisher.swf?key=309d3efe" rel="shadowbox;height=500;width=840"><%= image_tag "watch_video.png", :border => 0 %></a></span>
		<span style="padding-left:15px"><a href="/school_signup"><%= image_tag "sign_up_green.png", :border => 0 %></a></span></p>
		
		<p align="center" style="height: 10px"><strong><%= link_to "How it works for teachers", :howitworks %></strong></p>
	</div>
	
</div>