<div id="wrapper">
	
<div margin-left:"0px" align="center">
	
	<span style="font-size:30px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left; margin-left: 10px">How DemoLesson Works for Schools</span><br>

</div>

</div>

<div id="wrapper_schools">
	<div id="clear_spacer"> </div>
		<!--Begin How It Works Section-->


	<div id="hiw">	
		<div class="how_para">
				<span style="font-size:20px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">1) Create a School Profile</span><br>
				<span style="font: lighter 14px/18px Helvetica">Display everything a potential applicant might want to know. Be discovered on your terms!</span>
				<a target="_blank" href="http://demolesson.com/Mandela/?hiw_teachers" rel="nofollow">See It In Action</a><br>
		</div>

		<div class="how_pic">
			<div class="photo">
			<%= link_to image_tag("thumb_hiw_4.jpg", :border => 0), "http://s3.amazonaws.com/DemoLessonS3/site/full_hiw_4.jpg", :rel => "shadowbox" %>
			</div>
		</div>

	</div>	

	<div id="hiw">	
		<div class="how_pic" style="float:left; margin-left:30px">
			<div class="photo">
			<%= link_to image_tag("thumb_hiw_5.jpg", :border => 0), "http://s3.amazonaws.com/DemoLessonS3/site/full_hiw_5.jpg", :rel => "shadowbox" %>
			</div>
		</div>

		<div class="how_para" style="float:right; margin-left:10px">
				<span style="font-size:20px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">2) Post a Job Opening</span><br>
				<span style="font: lighter 14px/18px Helvetica"> List the criteria you are looking for in an applicant. We inform qualified applicants of your job opportunity.</span><br>
				<%= link_to 'See Our Schools', '/customers', :target => "_blank" %><br>
		</div>	
	</div>

	<div id="hiw">
		<div class="how_para">
				<span style="font-size:20px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">3) View Teacher Profiles and Schedule Interviews</span><br>
				<span style="font: lighter 14px/18px Helvetica">We help you manage incoming applicants efficiently and effectively. View profiles and choose your next action: Invite candidates to interview, message applicants, send rejection notices, and more!</span>
				<%= link_to 'Try It Out', '/signup' %><br>
		</div>

		<div class="how_pic">
			<div class="photo">
			<%= link_to image_tag("thumb_hiw_6.jpg", :border => 0), "http://s3.amazonaws.com/DemoLessonS3/site/full_hiw_6.jpg", :rel => "shadowbox" %>
			</div>
		</div>	
	</div>

		<!--End How It Works Section-->

		<div id="button_bar" align="center">
			<p class="buttons"><span style="padding-right:15px"><%= link_to "How it Works for Teachers?", '/howitworks', :class => "btn btn-large" %></span>
			<span style="padding-left:15px"><%= link_to "Start Posting Jobs Now →", '/school_signup', :class => "btn btn-large btn-success" %></span></p>
		</div>
	
</div>
