<div id="wrapper_global">
	
<h1>How DemoLesson Works</h1>
	
	<div class="column_right">
		<%= link_to image_tag("thumb_hiw_3.png", :border => 0), "http://s3.amazonaws.com/DemoLessonS3/site/full_hiw_3.png", :rel => "shadowbox" %>
		
		<h4>Track Your Status<br /> From Submission to Job Offer</h4>
	
		<ul>
			<li>We keep you informed on your standing in the hiring process from start to finish!</li>
			<li>You are never left in the dark and can effectively manage your job search</li>
		</ul>
	</div>

	<div class="column_left">
		<%= link_to image_tag("thumb_hiw_1.png", :border => 0), "http://s3.amazonaws.com/DemoLessonS3/site/full_hiw_1.png", :rel => "shadowbox" %>
		<h4>Build your<br /> Digital Portfolio</h4>
	
		<ul>
			<li>List your job requirements.</li>
			<li>Highlight the key items from your resume.</li>
			<li>Upload your demo lesson video and related documents.</li>
		</ul>
	</div>
	
	<div class="column_center">
		<%= link_to image_tag("thumb_hiw_2.png", :border => 0), "http://s3.amazonaws.com/DemoLessonS3/site/full_hiw_2.png", :rel => "shadowbox" %>
		
		<h4>Search for<br /> and Apply to Jobs</h4>
	
		<ul>
			<li>Use our advanced search to find jobs that best match your criteria</li>
			<li>Review School Profiles to learn more about the organization you are applying to.</li>
		</ul>
	</div>
	
	<p>
		<%= image_tag("signup.png") %><br />
		<%= link_to "Watch the video - How it works for schools", "/" %>
	</p>
</div>