<div id="wrapper">
	
<div margin-left:"0px" align="center">
	
	<span style="font-size:30px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left; margin-left: 10px">How DemoLesson Works</span><br>

</div>

</div>


<div id="wrapper_schools">
	<div id="clear_spacer"> </div>
	<!--Begin How It Works Section-->


<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'thumb_hiw_1.png' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">Build Your Digital Profile</span><br>
			<span style="font: lighter 14px/18px Helvetica">List your job requirements and highlight key items from your resume. Upload your demo lesson video and related documents. Use your portfolio to market yourself to anyone. asdklfj ljasdlfj lajsdjflj </span>
		
			<br>
			<a target="_blank" href="http://www.launchedu.co/" style="float:right" rel="nofollow">See an Example →</a><br>
			<hr>
		
	</div>
</div>	

<div id="hiw">	
	<div id="two-thirds-width" style="float:left">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">Search For and Apply to Jobs</span><br>
			<span style="font: lighter 14px/18px Helvetica"> Use our advanced search to find jobs that best match your criteria. Review School Profiles to learn more about the organization you are applying to. alksdflasd lkslkdfklj ;lksdjafkjdsl lkjskdjfl a </span>
			<br>
			<a target="_blank" href="https://www.edsurge.com/n/all-about-the-teacher" style="float:right" rel="nofollow">See Our Schools →</a><br>
			<hr>
	</div>
		
	<div id="one-third-width" style="float:right">
		<img src="<%= asset_path 'thumb_hiw_2.png' %>" style="height: auto; width:184px;">
	</div>
		
</div>

<div id="hiw">
	<div id="one-third-width">
		<img src="<%= asset_path 'thumb_hiw_3.png' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">Track Your Status from Submission to Job Offer</span><br>
			<span style="font: lighter 14px/18px Helvetica"> We keep you informed on your standing in the hiring process from start to finish! You are never left in the dark and can effectively manage your job search. asdlklsdjfl lajsdklfjla lajsdlkja lkajsd lkdsjf </span>
			<br>
			<a target="_blank" href="http://www.siia.net/blog/index.php/2012/05/ed-tech-industry-summit-guest-blog-seismic-changes-in-education/" style="float:right" rel="nofollow">Try It Now →</a><br>
			<hr>
	</div>
</div>

	<!--End How It Works Section-->
	
	<div id="button_bar" align="center">
		<p class="buttons"><span style="padding-right:15px"><a href="http://cdn.static.viddler.com/flash/as3/mini-publisher.swf?key=63bc733b" rel="shadowbox;height=500;width=840"><%= image_tag "watch_video.png", :border => 0 %></a></span>
		<span style="padding-left:15px"><a href="/signup"><%= image_tag "sign_up_green.png", :border => 0 %></a></span></p>
		
		<p align="center" style="height: 10px"><strong><%= link_to "How it works for schools", 'howitworks/schools' %></strong></p>
	</div>
	
</div>