<div id="wrapper">
	
<div margin-left:"0px" align="center">
	
	<span style="font-size:30px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left; margin-left: 10px">DemoLesson in the Media</span><br>

</div>

</div>


<div id="wrapper_schools">
<div id="clear_spacer">	</div>
	<!--Begin Press Section-->

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'edukwest.jpg' %>" style="height: auto; width:184px;">
	</div>

	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">Empower Teachers and Streamline the Hiring Process with DemoLesson</span><br>
			<span style="font-size:14px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">July 10, 2012 &nbsp;- &nbsp;</span><span style="font: lighter 14px/18px Helvetica"> DemoLesson...has a twofold mission: to disrupt the hiring cycle in education, and to allow teachers to be proactive in their job search, showcasing their talents in a digital profile that goes above and beyond a traditional resume.</span>

			<br>
			<a target="_blank" href="http://www.edukwest.com/empower-teachers-and-streamline-the-hiring-process-with-demolesson/" style="float:right" rel="nofollow">Read More →</a><br>
			<hr>

	</div>
</div>
	
<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'launchedu.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">DemoLesson Presenting at LAUNCH Education & Kids</span><br>
			<span style="font-size:14px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">June 13, 2012 &nbsp;- &nbsp;</span><span style="font: lighter 14px/18px Helvetica"> DemoLesson chosen from hundreds of education companies to be one of 30 companies presenting at the first LAUNCH Education & Kids at Microsoft in Palo Alto, California.</span>
		
			<br>
			<a target="_blank" href="http://www.launchedu.co/" style="float:right" rel="nofollow">Read More →</a><br>
			<hr>
		
	</div>
</div>

<div id="hiw">			
	<div id="one-third-width">
		<img src="<%= asset_path 'edsurge.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">My $0.02 About Edtech</span><br>
			<span style="font-size:14px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">May 30, 2012 &nbsp;- &nbsp;</span><span style="font: lighter 14px/18px Helvetica"> All the tech in the world won't make a dent in student outcomes if teachers aren't involved. And nothing that these tools bring to the table diminishes the fact that great teachers are the number one factor in affecting student outcomes.</span>
			<br>
			<a target="_blank" href="https://www.edsurge.com/n/all-about-the-teacher" style="float:right" rel="nofollow">Read More →</a><br>
			<hr>
	</div>	
</div>	
	
<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'siia.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">Seismic Changes in Education (guest blog)</span><br>
			<span style="font-size:14px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">May 23, 2012 &nbsp;- &nbsp;</span><span style="font: lighter 14px/18px Helvetica"> From teacher accountability and superintendent turnover to funding and standards — all areas across both K-12 and Higher Ed education are experiencing transformational changes in the culture of education.</span>
			<br>
			<a target="_blank" href="http://www.siia.net/blog/index.php/2012/05/ed-tech-industry-summit-guest-blog-seismic-changes-in-education/" style="float:right" rel="nofollow">Read More →</a><br>
			<hr>
	</div>
</div>
	
<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'teach.png' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">Filming Lessons For Certification</span><br>
			<span style="font-size:14px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">May 17, 2012 &nbsp;- &nbsp;</span><span style="font: lighter 14px/18px Helvetica"> Given all the changes to the teacher credentialing process, it will only be a matter of time before the bar is raised for all aspiring and current teachers to videorecord their lessons and demonstrate their talents in a classroom setting.</span>
			<br>
			<a target="_blank" href="http://teach.com/education-technology/filming-lessons-for-certification" style="float:right" rel="nofollow">Read More →</a><br>
			<hr>
		
	</div>
</div>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'nbc_latino.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">Online Hiring Platform Helps Teachers Get A Job</span><br>
			<span style="font-size:14px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">May 11, 2012 &nbsp;- &nbsp;</span><span style="font: lighter 14px/18px Helvetica"> Imagine you’re a school looking to hire the best and brightest teacher you can. You look at two resumes side-by-side and the question is, who brings the most to the table as the best teacher of young children?</span>
			<br>
			<a target="_blank" href="http://nbclatino.tumblr.com/post/22841358821/linkedin-meets-youtube-online-hiring-platform-helps" style="float:right" rel="nofollow">Read More →</a><br>
			<hr>
		
	</div>
</div>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'TechCrunch.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">7 New Educational Startups Founded By Minorities in Tech</span><br>
			<span style="font-size:14px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">May 6, 2012 &nbsp;- &nbsp;</span><span style="font: lighter 14px/18px Helvetica"> Millions of people are headed to the Internet to learn. And now everyone, from professors to entrepreneurs, are looking to launch a platform to solve the problem of a broken traditional educational system.</span>
			<br>
			<a target="_blank" href="http://techcrunch.com/2012/05/06/7-new-educational-startups-founded-by-minorities-in-tech/" style="float:right" rel="nofollow">Read More →</a><br>
			<hr>
		
	</div>
</div>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'teach.png' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">Get Your Teaching Job</span><br>
			<span style="font-size:14px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">April 15, 2012 &nbsp;- &nbsp;</span><span style="font: lighter 14px/18px Helvetica"> Websites like Craigslist or Monster post a wide spectrum of available jobs...However, many niche databases lists jobs specifically in education and can be a wonderful resource for your job search.</span>
			<br>
			<a target="_blank" href="http://teach.com/how-to-become-a-teacher/get-your-teaching-job" style="float:right" rel="nofollow">Read More →</a><br>
			<hr>
		
	</div>
</div>

<div id="hiw">	
	<div id="one-third-width">
		<img src="<%= asset_path 'startupweekend.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">Startup Weekend Alumni Panel</span><br>
			<span style="font-size:14px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">February 26, 2012 &nbsp;- &nbsp;</span><span style="font: lighter 14px/18px Helvetica"> DemoLesson, based in Los Angeles, launched as winners of the Startup Weekend EDU. A month after the event, cofounders Brian Martinez and Mandela Schumacher-Hodge made the leap to focus on DemoLesson full-time.</span>
			<br>
			<a target="_blank" href="http://sfedu.startupweekend.org/2012/02/26/startup-weekend-alum-panel-via-katrina-stevens/" style="float:right" rel="nofollow">Read More →</a><br>
			<hr>
	</div>
</div>

<div id="hiw">
	<div id="one-third-width">
		<img src="<%= asset_path 'mindshift.jpg' %>" style="height: auto; width:184px;">
	</div>
	
	<div id="two-thirds-width">
			<span style="font-size:16px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">You Have 54 Hours: Quick, Build an Ed-Tech Startup!</span><br>
			<span style="font-size:14px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left;">June 6, 2011 &nbsp;- &nbsp;</span><span style="font: lighter 14px/18px Helvetica"> The first place winner of Startup Weekend Edu was Demo Lesson, a site where teachers can upload videos of themselves teaching in order to not just enhance their resume, but also to give schools a better idea of how applicants function in the classroom.</span>
			<br>
			<a target="_blank" href="http://blogs.kqed.org/mindshift/2011/06/you-have-54-hours-quick-build-an-ed-tech-startup/#more-12304" style="float:right" rel="nofollow">Read More →</a><br>
			<hr>
		
	</div>
</div>	
	<!--End Press Section-->
	
</div>