<div id="wrapper">

<h1>Demo Lesson School Sign Up</h1>

 Complete the fields below to sign up for your Demo Lesson account!</br></br>

 <%= form_tag  :controller => :users, :action => :create_admin do %>

	<div class="field">
          <%= text_field_tag :name, params[:name],:placeholder => "Your Name", :size => 44 %><br />
	</div>
		
    <div class="field">
		<%= text_field_tag :schoolname, params[:schoolname],:placeholder => "Organization/School Name", :size => 44 %><br />
	</div>

		
	<div class="field">
		<%= text_field_tag :email, params[:email], :placeholder => "Email", :size => 44 %><br />
	</div>

	<div class="field">
		<%= text_field_tag :phonenumber, params[:phonenumber], :placeholder => "Phone Number", :size => 44 %><br />
	</div>
		
	<div class="field">
		<%= password_field_tag :password, params[:password], :placeholder => "Password", :size => 44 %><br />
	</div>

	<div class="field">
		<%= password_field_tag :password_confirmation, params[:password_confirmation],:placeholder => "Password Confirmation", :size => 44 %><br />
	</div>


	<p><%= submit_tag "Sign Up!", :class => "btn btn-success" %></p>
	  
<% end %>

</div>
