<div id="wrapper_global">
<h1 class="green">FAQ: Teachers</h1>

<div id="sidebar" class="job_browser">
	<h4>FAQ</h4>
	<%= link_to "Schools FAQ Page", schools_faq_path %>
</div>

<div id="content">

<p style="font-size:20px"><strong><u>Profile Creation</u></strong></p>

<div class="item">
<p>
	<b>Q: How do I Create/Edit my profile?</b><br/>
	A: Click on “Edit Profile” at the top-right of your screen from any page. Once on the “Edit Profile” page, feel free to take a look at our exemplar profile so you can see how your profile will appear once completed.   
	
	<a href="http://cdn.static.viddler.com/flash/as3/mini-publisher.swf?key=ae2c262" rel="shadowbox;height=500;width=840"><%= image_tag "watch_video.png", :border => 0 %></a>
</p>

<p>
	<b>Q: Can I complete part of my profile and work on the rest at a later time?</b><br/>
	A: Yes, you can save what you have worked on and continue at a later time. Remember, schools will not have access to your profile until you apply to their positions, so feel free to complete your profile over time. 
</p>

<p>
	<b>Q: How many pictures can I upload to my profile?</b><br/>
	A: Currently, you are allowed to upload one (1) picture to your profile. We plan to increase the number of photos you can upload to your profile in the near future.
</p>
</div>

<div class="item_list">
<p>
	<b>Q: What kind of picture should I upload to my profile?</b><br/>
	A: Most candidates upload a professional photo of themselves as their profile picture. Here are some suggestions of photos you can feel confident in uploading to your profile:
	<ul>
	<li>Professional Headshot (or other professional photo)</li>
	<li>Photo of your classroom environment</li>
	<li>Photo of yourself in the act of teaching</li>
	</ul>
</p>
</div>

<div class="item">

<p>
	<b>Q: How do I attach my resume or any other documents I wish to upload?</b><br/>
	A: Once you click on “Edit Profile” at the top right of your screen, choose “Attach New File” which you will find on the right side of your screen. Hover your mouse over suggested uploads to see the items we suggest you upload to market yourself better to schools.
</p>
</div>

<p style="font-size:20px"><strong><u>Video Filming & Uploading</u></strong></p>

<div class="item">

<p>
	<b>Q: Can I use DemoLesson if I don't yet have a video recorded lesson?</b><br/>
	A: Yes, you can complete your entire DemoLesson profile and attach any documents you'd like, without having to upload a video. Some schools require a video up front and others do not. Always be sure to read the application instructions in the job description carefully.  
</p>

<p>
	<b>Q: How can I film a lesson if I do not have access to a classroom with students?</b><br/>
	A: That will not be a problem at all. Most teachers on DemoLesson do not have their own classrooms, yet they are all able to still create awesome videos that show off their teaching abilities. Visit the <%= link_to 'Video Resources', "http://blog.demolesson.com/video-support/" %> page, which tells you exactly what to do in this situation.  
</p>

<p>
	<b>Q: I've never filmed myself teaching before. Where do I start?</b><br/>
	A: Everything you need to create a rockin' video is right here: <%= link_to 'Video Resources', "http://blog.demolesson.com/video-support/" %>. From setting up the right camera angle to editing the best part of your video - we guide you through the entire process. 
</p>

<p>
	<b>Q: How do I upload a video?</b><br/> 
	A: On the “Edit Profile” screen, choose “Upload Lesson Video” on the right side of your screen. After choosing a Name and Description of the video, select the file you would like to upload and click the “Upload Video” button. 
Please Note: Depending on the size of your video clip, uploading a video can take up to 15-minutes. If you experience any difficulties while uploading a video, please visit our Help Desk. 
</p>

<p>
	<b>Q: How many videos can I upload to my profile?</b><br/> 
	A: Currently, you are allowed to upload one (1) video to your profile. We plan to increase the number of videos you can upload to your profile in the near future. 
</p>

<p>
	<b>Q: What video formats am I allowed to upload to my profile?</b><br/>
	A: We support these file formats: <code>.avi .dv .mov .qt .mpg .mpg2 .mpeg2 .mpeg4 .mp4 .3gp .3g2 .asf .wmv .flv</code>. 
</p>

<p>
	<b>Q: What programs can I use to edit my video before uploading?</b><br/>
	A: Windows Movie Maker and iMovie are some of many third-party programs you can use to edit your videos before uploading them to your profile. For more information, please visit the <%= link_to 'Video Editing Software', "http://blog.demolesson.com/video-support/video-editing-software/" %> page. Also, you can reference the help section of your video editing software as needed.
</p>
</div>

<p style="font-size:20px"><strong><u>Sharing & Privacy</u></strong></p>

<div class="item">
	
<p>
	<b>Q: What is the “Guest Passcode” and how does it work?</b><br/>
	A: The “Guest Passcode” is a way for you to market yourself to schools and individuals who are not on the Demo Lesson platform. Perhaps you are applying to a job that is not yet posting positions on Demo Lesson. No worries! Simply click on “Edit Profile” and copy the unique “Guest Passcode” link that we have assigned to you. Simply give this link to any school you are applying to, and they will receive free access to your complete profile! 

	<a href="http://cdn.static.viddler.com/flash/as3/mini-publisher.swf?key=ae8c00c0" rel="shadowbox;height=500;width=840"><%= image_tag "watch_video.png", :border => 0 %></a>
</p>
	
<p>
	<b>Q: Is my profile visible to everyone?</b><br/>
	A: No. Your profile is currently visible only by the schools to which you apply, or the individuals to whom you grant access through the “Guest Passcode” system. 
</p>

<p>
	<b>Q: How do I make sure that schools are able to view my profile when reviewing applicants?</b><br/>
	A: From the “Edit Profile” screen, scroll down to the bottom of the page and check “Currently Seeking.” This is also where you can indicate your willingness to relocate upon acceptance of a position. 
</p>
</div>

<p style="font-size:20px"><strong><u>Jobs & Interviews</u></strong></p>

<div class="item">

<p>
	<b>Q: How do I search for jobs?</b><br/>
	A: Recent job postings in your area will appear on your homepage. However, click on “Jobs” to view, search, and sort open positions.
</p>

<p>
	<strong>Q: How do I apply to a position?</strong><br />
	<a href="http://cdn.static.viddler.com/flash/as3/mini-publisher.swf?key=edb047a4" rel="shadowbox;height=500;width=840"><%= image_tag "watch_video.png", :border => 0 %></a>
</p>

<p>
	<b>Q: How do I know if I have received an interview request?</b><br/>
	A: We will notify you by email if you have received a request to interview. Via the home page, any new interview request will be noted under “Status” on the left hand of your screen.  
</p>

<p>
	<b>Q: How do I follow up on an interview request?</b><br/> 
	A: Once you have received an interview request, open the request by clicking the “Respond” button. After reviewing the details for the interview (including any message sent from the school contact), choose the available time slot that works best for you and click “Accept” at the bottom of the screen. If none of the times work for you, click “Reply to Message” to request alternate times from the school administrator. 
</p>
</div>

<p style="font-size:20px"><strong><u>Login & Password </u></strong></p>

<div class="item">

<p>
	<b>Q: How do I reset my password?</b><br/>
	A: Click “Account Settings” at the top-right of your screen. Here you can change your password. Note:  You will need to know your current password in order to make this change. If you do not know your current password, please contact our Help Desk.
</p>

</div>

<p style="font-size:20px"><strong><u>Additional Resources </u></strong></p>

<div class="item">

<p>
	<b>Q: What types of resources do you have for teachers to use?</b><br/>
	A: We have scoured the internet to find the best resources you can use for teaching. From lesson plans to awesome field trip locations, we have it all listed for you. Check out our <%= link_to 'Teacher Resources Hub', "http://blog.demolesson.com/teacher-resource-hub//" %> section here. 
</p>

</div>

</div>
</div>