<h1>Listing review_permissions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Job</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @review_permissions.each do |review_permission| %>
  <tr>
    <td><%= review_permission.user_id %></td>
    <td><%= review_permission.job_id %></td>
    <td><%= link_to 'Show', review_permission %></td>
    <td><%= link_to 'Edit', edit_review_permission_path(review_permission) %></td>
    <td><%= link_to 'Destroy', review_permission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review permission', new_review_permission_path %>
