<h3>My Guest Passcode</h3>

<% if @teacher.guest_code != nil %>
<%= text_field :a, :b, :value => "http://demolesson.com/u/"+@teacher.guest_code.to_s, :class => :guest_pass_field %>
<% end %>

<p>Send this to people who don’t have a DemoLesson account to allow them to view your profile.</p>

<div>
<%= link_to 'Import from Linkedin!', '/linkedinprofile', :class => "btn btn-primary" %>

<p>Already have a LinkedIn Profile? You can import your experience, education, contact info, and other information directly from LinkedIn, saving you precious time. It only takes a few seconds.<%= link_to 'Try it now!', '/linkedinprofile' %></p>
</div>

<h3>Attachments</h3>

<% for asset in @teacher.assets %>
  <% if asset.assetType != 1 %>
    <p>
    <img src="<%= asset_path 'file.png' %>" />
    <%= link_to asset.name, asset.file.url %> <span class="purge"><%= link_to 'Remove?', '/purge/'+asset.id.to_s, :confirm => 'Are you sure you want to remove "'+asset.name+'" from your profile? The file be permanently deleted.' %></span><br />
    <%= asset.description %>
    </p>
<% end %>
<% end %>

<div id="attach_form" style="display: none">
<%= form_for @asset, :as => :asset, :url => '/attach', :html => { :multipart => true } do |f| %>

<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :description %><br />
	<%= f.text_field :description %>
</div>

<div class="field">
  <%= f.label :file %><br />
  <%= f.file_field :file %>
</div>

<p style="font-size: 11px"><a href="#" class="tooltip">Suggested uploads [?] <span>Resume &middot; Letter of recommendation &middot; Certificates or credentials &middot; Unit plan &middot; Pacing plan &middot; Lesson plan
&middot; Assessment &middot; Assessment tracker &middot; Classroom management plan &middot; Classroom procedures and protocol</span></a>

<div>
    <input name="commit" type="submit" value="Upload File" onclick="$('#loader').show('fast');" class="btn btn-success" />
</div>

<div id="loader" style="display: none">
	<img src="<%= asset_path 'loader.gif' %>" />
</div>

<% end %>
</div>

