<%= form_for @teacher, :as => :teacher, :url => '/teachers/'+@teacher.id.to_s, :html => { :multipart => true } do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resume %><br />
    <%= f.file_field :resume %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.check_box :special_needs %> <%= f.label :special_needs %>
  </div>
  <div class="field">
    <%= f.check_box :willing_to_move %> <%= f.label :willing_to_move %>
  </div>
  <div class="field">
    <%= f.check_box :currently_seeking %> <%= f.label :currently_seeking %>
  </div>

  <ul>
	<li><%= link_to 'Add/Edit Subjects', '/subjects' %></li>
	<li><%= link_to 'Add/Edit Credentials', '/credentials' %></li>
	<li>Upload Videos</li>
	<li><%= link_to 'Change Profile Picture', '/change_picture' %></li>
  </ul>
  
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
