<p class="notice">View a <%= link_to 'sample profile', 'http://demolesson.com/Mandela' %> to see what your completed one will look like.</p>

<div class="actions">
	
<%= link_to 'Education', '/education' %>
<%= link_to 'Experience', '/experience' %>
<%= link_to 'Credentials', '/credentials' %>
	
<div style="float:right">
<%= link_to 'Upload Lesson Video', '/videos/new' %>
<%= link_to 'Change Profile Picture', '/change_picture' %>
</div>

</div>

<div id="right" class="attached">
	<%= render :partial => 'attachments' %>
	<div id="attach_new_btn" class="actions">
	<input name="attach" type="button" value="Attach New File" onclick="$('#attach_form').show('fast'); $('#attach_new_btn').hide();" />
	</div>
</div>

<div id="left_editing">
<%= form_for @teacher, :as => :teacher, :url => '/teachers/'+@teacher.id.to_s, :html => { :multipart => true } do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h3>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Current Position</h3>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <h3>Seeking</h3>

  <div class="field">
    <%= f.label :seeking_subject %><br />
    <%= f.text_field :seeking_subject %>
  </div>

  <div class="field">
    <%= f.label :seeking_grade %><br />
    <%= f.text_field :seeking_grade %>
  </div>

  <div class="field">
    <%= f.label :seeking_location %><br />
    <%= f.text_field :seeking_location %>
  </div>

  <h3>Additional Information</h3>

  <div class="field"><%= f.text_area :additional_information, :rows => 7 %></div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label "LinkedIn Profile" %><br />
	<% if @teacher.linkedin == nil %>
    <%= f.text_field :linkedin, :value => "http://linkedin.com/" %>
	<% else %>
	<%= f.text_field :linkedin %>
	<% end %>
  </div>

  <h3>Options</h3>

  <div class="field">
    <%= f.check_box :special_needs %> <%= f.label :special_needs %>
  </div>
  <div class="field">
    <%= f.check_box :willing_to_move %> <%= f.label :willing_to_move %>
  </div>
  <div class="field">
    <%= f.check_box :currently_seeking %> <%= f.label :currently_seeking %>
  </div>
  
<div class="actions">
    <%= f.submit "Save Changes" %>
  </div>

<% end %>
</div>
