<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<link type="text/css" href="/assets/jquery-ui-1.8.20.custom/css/blitzer/jquery-ui-1.8.20.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="/assets/jquery-ui-1.8.20.custom/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/assets/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"></script>


<p class="notice">View a <%= link_to 'sample profile', 'http://demolesson.com/Mandela' %> to see what your completed one will look like.</p>

<div>
	
<%= link_to 'Education', '/education', :class => "btn" %>
<%= link_to 'Experience', '/experience', :class => "btn" %>
<%= link_to 'Credentials', '/credentials', :class => "btn" %>
	
<div style="float:right">
<%= link_to 'Change Profile Picture', '/change_picture', :class => "btn" %>
<%= link_to 'Upload Video', '/videos/new', :class => "btn btn-success" %>

</div>

</div>

<div id="right" class="attached">
	<%= render :partial => 'attachments' %>
	<div id="attach_new_btn">
	<input name="attach" type="button" value="Attach New File" onclick="$('#attach_form').show('fast'); $('#attach_new_btn').hide();" class="btn btn-success" />
	</div>
	
	
</div>



<div id="left_editing">
<%= form_for @teacher, :as => :teacher, :url => '/teachers/'+@teacher.id.to_s, :html => { :multipart => true } do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h3>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %><% if msg == "The name you selected is not available." %> <%= link_to "Go back and pick another name",  :create_profile %><% end %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Headline</h3>
  The headline is limited to 140 characters
  <p id = "headlineCounter">140 chars</p><br />
  <div id ="headlineTextField" class="field"><%= f.text_area :headline, :rows => 7 , :maxlength => 140 %></div>


  <script>
      $(function() {
          var counter = 140;
          $("#headlineTextField").bind('keydown', function(e) {
               if (counter < 140 && e.which === 8) {
                   counter = counter + 1;
               } else if (counter ===140 && e.which === 8) {
                   counter = 140;
               }
               $("#headlineCounter").text(counter + " chars");
           });

          $("#headlineTextField").bind('keyup', function(e) {
               if (e.which !== 8) {
                  counter = counter - 1;
                  if (counter < 0) {
                     counter = 0;
                  }
               }
                $("#headlineCounter").text(counter + " chars");
          });
      });
  </script>   

  <h3>Current Position</h3>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <h3>Seeking</h3>

  <div class="field">
    <%= f.check_box :currently_seeking %> <%= f.label :currently_seeking %>
  </div>

  <div class="field">
    <%= f.label :seeking_subject %><br />
    <%= f.text_field :seeking_subject %>
  </div>

  <div class="field">
    <%= f.label :seeking_grade %><br />
    <%= f.text_field :seeking_grade %>
  </div>

  <div class="field">
    <%= f.label :seeking_location %><br />
    <%= f.text_field :seeking_location %>
  </div>

  <h3>Additional Information</h3>

  <div class="field"><%= f.text_area :additional_information, :rows => 7 %></div>
  
  <div class = "field">
     <label for = "skillList" id="skillLabel">Skills</label> 
     <%= select 'skill', 'skillList', Skill.all.collect { |skill| [skill.name, skill.id] } %>
     
     <button type = "button" id = "addSkill">Add Skill</button>
     <div style = "height: 150px; width: 300px;" id = "skills">
     </div>
     
     <script>
        $(function() {
          var counter = 0;
            $("#addSkill").click(function() {
                 var skillValue = $("#skill_skillList option:selected").text();
                 var skillId = $("#skill_skillList option:selected").val();
                 var tab = document.createElement('div');
                 tab.count = counter;
                 $(tab).addClass('skillTab');
                 $(tab).append('<a href="http://www.google.com" id = "tabLink">'+skillValue+'</a>');
                 $("#skillLabel").append('<input type="hidden" name="skills[]" value="' + skillId + '" />');
                
                 $("#skills").append(tab);
                 $(tab).append('<img class = "closePic" src="/assets/x-icon.png" style="z-index: 1;margin-bottom:-3px;cursor:pointer;">'); 
                 counter += 1;
            });
          $("img.closePic").live("click", function() {
                                 $(this).closest("div.skillTab").remove();
                                 });
        });
     </script>
  </div>   
  
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label "LinkedIn Profile" %><br />
	<% if @teacher.linkedin == nil %>
    <%= f.text_field :linkedin, :value => "http://linkedin.com/" %>
	<% else %>
	<%= f.text_field :linkedin %>
	<% end %>
  </div>

  <h3>Options</h3>

  <div class="field">
    <%= f.check_box :special_needs %> <%= f.label :special_needs %>
  </div>
  <div class="field">
    <%= f.check_box :willing_to_move %> <%= f.label :willing_to_move %>
  </div>
  
<div>
    <%= f.submit "Save Changes", :class => "btn btn-success" %>
  </div>

<% end %>
</div>

<div id="tipbox" style="margin-top: 480px">
	<div id="videotip" style= "margin: 5px 0px 5px 5px">
		<img src="<%= asset_path 'dl_play_button.png' %>" style="height: 20px; width:auto;">
		<p style ="font-size:16px; color:#5A5B5D; margin: -30px 0px 0px 25px;"> Video Tips</p>
	</div>
	<p style="font: lighter 14px Helvetica; color:#505050; margin-left:5px; margin-top: -12px;">Think your video is ready? Go through our check list to make sure your video includes everything it needs to show your skills off! Click <%= link_to "here.", "#" %> </p>
</div>
