<h1 class="green">Choose your Demo Lesson profile address</h1>

<p>This is the unique address you'll have on the site, e.g. <code><%= link_to "http://demolesson.com/yourname", "/Mandela" %></code>. 
<br />Typically you would use your name <strong>excluding any spaces or puncuation</strong>.</p>

<%= form_for @teacher, :as => :teacher, :url => @teacher do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :url %>
  </div>


    <%= f.submit "Save and continue", :class => "btn btn-success" %>
  

<% end %>

<script>
$('#teacher_url').keydown(function(e) {
    if (e.keyCode == 32 || e.keyCode == 190 || e.keyCode == 106 || e.keyCode == 107 || e.keyCode == 109 || e.keyCode == 110 || e.keyCode == 111 || e.keyCode == 186 || e.keyCode == 187 || e.keyCode == 188 || e.keyCode == 189 || e.keyCode == 191 || e.keyCode == 192 || e.keyCode == 219 || e.keyCode == 220 || e.keyCode == 221 || e.keyCode == 222) {
        return false;
    }
});
</script>