<h2>Education</h2>

<div class="attached">
<% for education in @teacher.educations %>
<p>
	<span class="purge"><%= link_to 'Remove?', '/purge/'+education.id.to_s, :confirm => 'Are you sure you want to remove "'+education.school+'" from your profile?', %></span>	
  <strong><%= education.school %></strong> <%= education.year %> <br />
  <%= education.degree %><br />
  <%= education.concentrations %>
</p>
<% end %>
</div>