<h2>Experience</h2>

<div class="attached">
<% for experience in @teacher.experiences %>
<p>
	<span class="purge"><%= link_to 'Remove?', '/purge/'+experience.id.to_s, :confirm => 'Are you sure you want to remove "'+experience.company+'" from your profile?', %></span>	
	<% if experience.current == true %>
	<strong><%= experience.company %></strong> Since <%= experience.startMonth.to_s+"."+experience.startYear.to_s %> <br />
  <%= experience.position %><br />
  <%= experience.description %>
	<% else %>
  <strong><%= experience.company %></strong> <%= experience.startMonth.to_s+"."+experience.startYear.to_s+"–"+experience.endMonth.to_s+"."+experience.endYear.to_s %> <br />
  <%= experience.position %><br />
  <%= experience.description %>
	<% end %>
</p>
<% end %>
</div>

<div id="attach_form" style="display: none">
<%= form_for @asset, :as => :asset, :url => '/attach', :html => { :multipart => true } do |f| %>

<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :description %><br />
	<%= f.text_field :description %>
</div>

<div class="field">
  <%= f.label :file %><br />
  <%= f.file_field :file %>
</div>

<p style="font-size: 11px"><strong>Suggested uploads</strong><br />Resume &middot; Letter of recommendation &middot; Certificates or credentials &middot; Unit plan &middot; Pacing plan &middot; Lesson plan
&middot; Assessment &middot; Assessment tracker &middot; Classroom management plan &middot; Classroom procedures and protocol</p>

<div class="actions">
    <input name="commit" type="submit" value="Upload File" onclick="$('#loader').show('fast');" />
</div>

<div id="loader" style="display: none">
	<img src="<%= asset_path 'loader.gif' %>" />
</div>

<% end %>
</div>