<h1>Listing teachers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Location</th>
    <th>Special needs</th>
    <th>Willing to move</th>
    <th>Currently seeking</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.user_id %></td>
    <td><%= teacher.location %></td>
    <td><%= teacher.special_needs %></td>
    <td><%= teacher.willing_to_move %></td>
    <td><%= teacher.currently_seeking %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
