<div id="wrapper_profile">

<div id="sidebar">

<div class="bordered_image"><% if @teacher.user.avatar? %><%= image_tag @teacher.user.avatar.url(:medium) %><% else %><img src="<%= asset_path 'placeholder.png' %>" /><% end %></div>

<h2><%= @teacher.user.name %></h2>

<p>
<strong>Email:</strong> <% if @teacher.user.email.size > 21 %><%= link_to @teacher.user.email[0..20]+"...", "mailto:"+@teacher.user.email %><% else %><%= link_to @teacher.user.email, "mailto:"+@teacher.user.email %><% end %><br />
<% if @teacher.phone.nil? %><% else %><strong>Phone:</strong> <%= link_to @teacher.phone, "skype://+1-"+@teacher.phone %><br /><% end %>
<% if @teacher.linkedin? %><img src="<%= asset_path 'linkedin.png' %>" /> <%= link_to "LinkedIn Profile", @teacher.linkedin, :target => "_blank" %><br /><% end %>
<% if @stars.size == 1 %>1 like<% else %>
<%= @stars.size.to_s %> likes<% end %>
</p>

<h3>Currently</h3>

<p>
  <strong>Position:</strong> <%= @teacher.position %><br />
  <strong>School:</strong> <%= @teacher.school %><br />
  <strong>Location:</strong> <% if @teacher.location? %><%= link_to @teacher.location, "http://maps.google.com/maps?q="+@teacher.location %><% end %>
</p>

<h3>Seeking</h3>

<p>
  <strong>Subject:</strong> <%= @teacher.seeking_subject %><br />
  <strong>Grade:</strong> <%= @teacher.seeking_grade %><br />
  <strong>Location:</strong> <% if @teacher.seeking_location %><%= link_to @teacher.seeking_location, "http://maps.google.com/maps?q="+@teacher.seeking_location %><% end %><br />
  <small><%= @teacher.willing_to_move ? "This teacher is willing to relocate." : "" %></small>
</p>

<h3>Additional Information</h3>

<%= @teacher.additional_information %>

<p><%= @teacher.special_needs ? "This teacher will teach special needs children." : "" %></p>

</div>

<div id="content">

	<div id="video">
		<%= @embed_code.html_safe %>
	</div>
	
	<div class="actions">
		<% if self.current_user != nil %>
		<% if self.current_user.teacher %>
			<% if @teacher == self.current_user.teacher %>
				<%= link_to 'Edit Profile', '/teachers/'+self.current_user.teacher.id.to_s+'/edit'%>
			<% else %>
					<%= link_to image_tag("mail.gif", :border=>0)+" Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user.id.to_s } %>
			<% end %>
		<% elsif self.current_user.school %>
			<% if @star == nil %>
			<%= link_to "Like", add_star_path(:teacher_id => @teacher.id), :class => 'button' %>
			<% else %>
			<%= link_to "Unlike", { :controller => 'teachers', :action => 'remove_star', :teacher_id => @teacher.id, :remote => true}, :class => "button" %>
			<% end %>
				<% if @pin != nil %>
				<%= link_to image_tag("docs.gif", :border=>0)+" Unfavorite", { :controller => 'teachers', :action => 'remove_pin', :teacher_id => @teacher.id }, :class => "button left" %>
				<% else %>
				<%= link_to image_tag("docs.gif", :border=>0)+" Favorite", { :controller => 'teachers', :action => 'add_pin', :teacher_id => @teacher.id }, :class => "button left" %>
				<% end %>
			<%= link_to image_tag("mail.gif", :border=>0)+" Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user.id.to_s }, :class => 'button right' %>
			<!-- link_to "Invite", "/", :class => 'button left' %>
			 link_to "Remove", "/", :class => 'button right' %>
			 link_to "Notes", "/" -->
		<% end %>
		<% else %>
			<%= link_to image_tag("mail.gif", :border=>0)+" Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user.id.to_s } %>
		<% end %>
	</div>
	
	<h3>Credentials</h3>

	<% @teacher.credentials.each do |credential| %>
	<div class="item">
	<p>
		<strong><%= credential.name %></strong> <%= credential.issuer %><br />
		<%= credential.credentialType %>
	</p>
	</div>
	<% end %>

	<h3>Experience</h3>
	
	<% for experience in @teacher.experiences %>
	<div class="item">
	<p>
		<% if experience.current == true %>
			<strong><%= experience.company %></strong> <% if experience.startMonth != nil %>Since <%= experience.startMonth.to_s+"."+experience.startYear.to_s %> <% end %><br />
		  <%= experience.position %><br />
		  <%= experience.description %>
		<% else %>
	  		<strong><%= experience.company %></strong> <% if experience.startMonth != nil %><%= MONTHS_ARRAY[experience.startMonth-1]+" "+experience.startYear.to_s+" – "+MONTHS_ARRAY[experience.endMonth-1]+" "+experience.endYear.to_s %> <% end %> <br />
			  <%= experience.position %><br />
			  <%= experience.description %>
		<% end %>
	</p>
	</div>
	<% end %>

	<h3>Education</h3>

	<% for education in @teacher.educations %>
	<div class="item">
	<p>
	  <strong><%= education.school %></strong> <%= education.year %> <br />
	  <%= education.degree %><br />
	  <%= education.concentrations %>
	</p>
	</div>
	<% end %>

	<h3>Attachments</h3>

	<% for asset in @teacher.assets %>
	<div class="item">
	<p>
	  <img src="<%= asset_path 'file.png' %>" />
	  <%= link_to asset.name, asset.file.url %><br />
	  <%= asset.description %>
	</p>
	</div>
	<% end %>
</div>

</div>