<div id="wrapper_profile">
	
<% if self.current_user == nil %>	
	<div class="notice_two">
		<span style="font: lighter 14px/18px Helvetica">You are viewing <%= @teacher.user.name %>'s Guest Profile. To view the full profile, including attachments, join DemoLesson today.<strong><span style="margin-left: 10px"><%= link_to "Learn More", '/howitworks', :class => "btn btn-success" %> 
		</span></strong></span>
	</div>
<% else %>
<% end %>

<div id="sidebar">

<div class="bordered_image"><% if @teacher.user.avatar? %><%= image_tag @teacher.user.avatar.url(:medium) %><% else %><img src="<%= asset_path 'placeholder.png' %>" /><% end %></div>

<h2><%= @teacher.user.name %></h2>

<% if @teacher.headline? %>
<%= @teacher.headline %><br />
<% end %>
<% if self.current_user == nil %>
<p>Please <strong><%= link_to 'Login', "/login" %></strong> to see <%= @teacher.user.name %>'s contact information.</p>
<% else %>
<p>
<strong>Email:</strong> <% if @teacher.user.email.size > 21 %><%= link_to @teacher.user.email[0..20]+"...", "mailto:"+@teacher.user.email %><% else %><%= link_to @teacher.user.email, "mailto:"+@teacher.user.email %><% end %><br />
<% if @teacher.phone.nil? %><% else %><strong>Phone:</strong> <%= link_to @teacher.phone, "skype://+1-"+@teacher.phone %><br /><% end %>
<% if @teacher.linkedin? %><img src="<%= asset_path 'linkedin.png' %>" /> <%= link_to "LinkedIn Profile", @teacher.linkedin, :target => "_blank" %><br /><% end %>
<% if @stars.size == 1 %>1 like<% else %>
<%= @stars.size.to_s %> likes<% end %>
</p>
<% end %>

<h3>Currently</h3>

<p>
  <strong>Position:</strong> <%= @teacher.position %><br />
  <strong>School:</strong> <%= @teacher.school %><br />
  <strong>Location:</strong> <% if @teacher.location? %><%= link_to @teacher.location, "http://maps.google.com/maps?q="+@teacher.location %><% end %>
</p>

<h3>Seeking</h3>

<p>
  <strong>Subject:</strong> <%= @teacher.seeking_subject %><br />
  <strong>Grade:</strong> <%= @teacher.seeking_grade %><br />
  <strong>Location:</strong> <% if @teacher.seeking_location %><%= link_to @teacher.seeking_location, "http://maps.google.com/maps?q="+@teacher.seeking_location %><% end %><br />
  <small><%= @teacher.willing_to_move ? "This teacher is willing to relocate." : "" %></small>
</p>

<h3>Additional Information</h3>

<%= @teacher.additional_information %>

<p><%= @teacher.special_needs ? "This teacher will teach special needs children." : "" %></p>

</div>

<div id="content">
<% if @video != nil %>
	<div id="video">
		<%= @embed_code.html_safe %>
	</div>
<% end %>
	
	<div>
		<% if self.current_user != nil %>
			
			<% if self.current_user.teacher %>
				<% if @teacher == self.current_user.teacher %>
					<%= link_to image_tag("edit.png", :border=>0)+" Edit Profile", '/teachers/'+self.current_user.teacher.id.to_s+'/edit', :class => "btn"%>
					<% if @video == nil %>
						<%= link_to "Upload Video", '/videos/new', :class => "btn btn-success"%>
					<% end %>
				
				<% else %>
					<%= link_to image_tag("mail.gif", :border=>0)+" Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user.id.to_s }, {:class => "btn"} %>
				<% end %>
				
			<% elsif self.current_user.school %>
				
				<% if @star == nil %>
					<%= link_to "Like", add_star_path(:teacher_id => @teacher.id), :class => 'btn' %>
				<% else %>
					<%= link_to "Unlike", { :controller => 'teachers', :action => 'remove_star', :teacher_id => @teacher.id, :remote => true}, :class => "btn" %>
				<% end %>
				
				<% if @pin != nil %>
				<%= link_to image_tag("docs.gif", :border=>0)+" Unfavorite", { :controller => 'teachers', :action => 'remove_pin', :teacher_id => @teacher.id }, :class => "btn" %>
				<% else %>
				<%= link_to image_tag("docs.gif", :border=>0)+" Favorite", { :controller => 'teachers', :action => 'add_pin', :teacher_id => @teacher.id }, :class => "btn" %>
				<% end %>
				<%= link_to image_tag("mail.gif", :border=>0)+" Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user.id.to_s }, :class => 'btn' %>
			
				<% if @application != nil %>
					<% if @application.booked == nil %>
						<%= link_to 'Arrange Interview', {:controller => :interviews, :action => :new, :teacher_id => @application.teacher_id, :job_id => @application.job_id}, :class => "btn" %> <%= link_to 'Remove', {:controller => :applications, :action => :reject, :id => @application.id}, :class => "btn" %>
	            	<% else %>
						<% if @application.interview.selected == 0 %>
	                    	<%= link_to 'Booked, no date selected', :interviews, :method => :get, :class => "btn" %>
	                	<% elsif @application.interview.selected == 1 %>
	                    	<%= link_to 'Booked: '+@application.interview.date.to_s(:due_time), @application.interview, {:class => "btn btn-success"} %>
	                	<% elsif @application.interview.selected == 2 %>
	                    	<%= link_to 'Booked: '+@application.interview.date_alternate.to_s(:due_time), @application.interview, {:class => "btn btn-success"} %>
	                	<% elsif @application.interview.selected == 3 %>
	                    	<%= link_to 'Booked: '+@application.interview.date_alternate_second.to_s(:due_time), @application.interview, {:class => "btn btn-success"} %>
	                	<% end %>
						<%= link_to 'Remove', {:controller => :applications, :action => :reject, :id => @application.id}, {:class => "btn"} %>
	            	<% end %>
				<% end %>
			
			<% end %>
			
		<% else %>
			<%= link_to image_tag("mail.gif", :border=>0)+" Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user.id.to_s }, {:class => "btn"} %>
		<% end %>
	</div>

	<h3>Education</h3>

	<% for education in @teacher.educations %>
          <div class="item">
            <p>
            <strong><%= education.school %></strong>
            <% if education.current == true %>
              Currently Attending 
              <% if education.start_year != nil && education.start_year != "" %>
                Since <%= education.start_year %>
              <% end %><br />
              <% if education.year != "" %>
                Expected Graduation: <%= education.year %><br />
              <% end %>
            <% else %>
              <% if education.year == "" %>
              <% else %>
                <% if education.start_year == nil || education.start_year == "" %>
                  <%= education.year %><br />
                <% else %>
                  <%= education.start_year %>-<%= education.year %><br />
                <% end %>
              <% end %>
            <% end %>
            <%= education.degree %><br />
            <%= education.concentrations %>
            </p>
		  </div>
	<% end %>
		
	<h3>Credentials</h3>

	<% @teacher.credentials.each do |credential| %>
	<div class="item">
	<p>
		<strong><%= credential.name %></strong></br>
		<%= credential.issuer %><br />
		<%= credential.credentialType %>
	</p>
	</div>
	<% end %>

	<h3>Experience</h3>
	
	<% for experience in @teacher.experiences %>
	<div class="item">
	<p>
		<% if experience.current == true %>
			<strong><%= experience.company %></strong> <% if experience.startMonth != nil %>Since <%= experience.startMonth.to_s+"."+experience.startYear.to_s %> <% end %><br />
		  <%= experience.position %><br />
		  <%= experience.description %>
		<% else %>
	  		<strong><%= experience.company %></strong> <% if experience.startMonth != nil %><%= MONTHS_ARRAY[experience.startMonth-1]+" "+experience.startYear.to_s+" – "+MONTHS_ARRAY[experience.endMonth-1]+" "+experience.endYear.to_s %> <% end %> <br />
			  <%= experience.position %><br />
			  <%= experience.description %>
		<% end %>
	</p>
	</div>
	<% end %>

	<h3>Attachments</h3>
	
<% if self.current_user == nil %>
	<p>Please <strong><%= link_to 'Login', "/login" %></strong> to see <%= @teacher.user.name %>'s attachments.
<% else %>

	<% for asset in @teacher.assets %>
          <% if asset.assetType != 1 %>
            <div class="item">
              <p>
              <img src="<%= asset_path 'file.png' %>" />
              <%= link_to asset.name, asset.file.url %><br />
              <%= asset.description %>
              </p>
            </div>
          <% end %>
	<% end %>
<% end %>
</div>

</div>
