<div id="wrapper_profile">

<div id="sidebar">

<div class="profilepicture"><% if @teacher.user.avatar? %><%= image_tag @teacher.user.avatar.url(:medium) %><% else %><% end %></div>

<h2><%= @teacher.user.name %></h2>

<p>
<strong>Email:</strong> <%= link_to @teacher.user.email, "mailto:"+@teacher.user.email %><br />
<% if @teacher.phone.nil? %><% else %><strong>Phone:</strong> <%= link_to @teacher.phone, "skype://+1-"+@teacher.phone %><br /><% end %>
<% if @stars.size == 1 %>1 gold star<% else %>
<%= @stars.size.to_s %> gold stars<% end %>
</p>

<h3>Currently</h3>

<p>
  <strong>Position:</strong> <%= @teacher.position %><br />
  <strong>School:</strong> <%= @teacher.school %><br />
  <strong>Location:</strong> <%= link_to @teacher.location, "http://maps.google.com/maps?q="+@teacher.location %>
</p>

<h3>Seeking</h3>

<p>
  <strong>Subject:</strong> <%= @teacher.seeking_subject %><br />
  <strong>Grade:</strong> <%= @teacher.seeking_grade %><br />
  <strong>Location:</strong> <%= link_to @teacher.seeking_location, "http://maps.google.com/maps?q="+@teacher.seeking_location %><br />
  <small><%= @teacher.willing_to_move ? "This teacher is willing to relocate." : "" %></small>
</p>

<h3>Additional Information</h3>

<%= @teacher.additional_information %>

<p><%= @teacher.special_needs ? "This teacher will teach special needs children." : "" %></p>

</div>

<div id="content">

	<div class="video">
		<%= @embed_code.html_safe %>
	</div>
	
	<div class="actions">
		<% if @star == nil %>
		<%= link_to "Give Star", :controller => 'teachers', :action => 'add_star', :teacher_id => @teacher.id, :remote => true %>
		<% else %>
		<%= link_to "Unstar", :controller => 'teachers', :action => 'remove_star', :teacher_id => @teacher.id %>
		<% end %>
		<% if @pin != nil %>
		<%= link_to "Remove from Bulletin Board", :controller => 'teachers', :action => 'remove_pin', :teacher_id => @teacher.id %>
		<% else %>
		<%= link_to "Pin to Bulletin Board", :controller => 'teachers', :action => 'add_pin', :teacher_id => @teacher.id %>
		<% end %>
		<%= link_to "Send Message", :controller => 'messages', :action => 'new', :user_id_to => @teacher.user.id.to_s %>
	</div>
	
	<h3>Credentials</h3>

	<p>
	  <table>
		<th>Name</th>
		<th>Issuer</th>
		<th>Type</th>
	<% @teacher.credentials.each do |credential| %>
	  <tr>
	    <td><%= credential.name %></td>
	    <td><%= credential.issuer %></td>
		<td><%= credential.credentialType %></td>
	  </tr>
	<% end %>
	</table>
	</p>

	<h3>Experience</h3>

	<h3>Education</h3>

	<p>
	 <table>
	<% @teacher.subjects.each do |subject| %>
	  <tr>
	    <td><%= subject.name %></td>
		<td><%= subject.description %></td>
	  </tr>
	<% end %>
	</table>
	</p>

	<h3>Attachments</h3>

	<% for asset in @teacher.assets %>
	<p>
	  <img src="<%= asset_path 'file.png' %>" />
	  <%= link_to asset.name, asset.file.url %><br />
	  <%= asset.description %>
	</p>
	<% end %>
</div>

</div>