<div id="wrapper"><div id="header_inner">

<div id="sidebar">

<p class="profilepicture"><% if @teacher.user.avatar? %><%= image_tag @teacher.user.avatar.url(:medium) %><% else %>No avatar<% end %></p>

<p><strong><%= @teacher.user.name %></strong></p>
<p><%= link_to @teacher.user.email, "mailto:"+@teacher.user.email %></p>
<p><% if @teacher.phone.nil? %><% else %><%= link_to @teacher.phone, "skype://+1-"+@teacher.phone %><% end %></p>

<p>
  <b>Location:</b>
  <%= @teacher.location %>
  <small><%= @teacher.willing_to_move ? "This teacher is willing to relocate." : "" %></small>
</p>

<% if @teacher.resume? %>
<p>
  <b><%= link_to 'Download Resume', @teacher.resume.url %></b>
</p>
<% end %>

<p><%= @teacher.special_needs ? "This teacher will teach special needs children." : "" %></p>

</div>

<div id="content">
	<p>
	  <b>See Them Teach:</b>
	  <table>
	<% @teacher.videos.each do |video| %>
	  <tr>
	    <td><%= "" %></td>
	    <td><%= video.embed_code.html_safe %></td>
	  </tr>
	<% end %>
	</table>
	</p>
	
	<div class="video">
	</div>
	
	<p class="actions">
		<a href="#">Add to favorites</a>
		<a href="#">Bulletin Board</a>
		<a href="#">Send Message</a>
	</p>

	<p>
	  <b>Subjects this teacher teaches:</b>
	  <table>
	<% @teacher.subjects.each do |subject| %>
	  <tr>
	    <td><%= subject.name %></td>
		<td><%= subject.description %></td>
	  </tr>
	<% end %>
	</table>
	</p>

	<p>
	  <b>Credentials held by this teacher:</b>
	  <table>
		<th>Name</th>
		<th>Issuer</th>
		<th>Type</th>
	<% @teacher.credentials.each do |credential| %>
	  <tr>
	    <td><%= credential.name %></td>
	    <td><%= credential.issuer %></td>
		<td><%= credential.credentialType %></td>
	  </tr>
	<% end %>
	</table>
	</p>

	<p>
	  
	</p>
</div>

</div></div>