
<link type="text/css" href="/assets/jquery-ui-1.8.20.custom/css/blitzer/jquery-ui-1.8.20.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="/assets/jquery-ui-1.8.20.custom/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/assets/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"></script>

<h1 class="dashboard_title">Application Dashboard</h1>

<div id="sidebar" class="job_browser">

<div id="myApplication">
    <img src="/assets/file.png" id = "myApplicationPic" class = "icon" height = "34" alt="file.png"/>
    <h4>My Applications</h4>

	<%= link_to 'My Applications', :teacher_applications %></br>
    <% if @interviews == nil %>
	   <%= link_to 'No Scheduled Interviews', :my_interviews %>
    <% elsif @interviews.size == 1 %>
	   <%= link_to '1 Interview Request', :my_interviews %>
    <% else %>
	   <%= link_to @interviews.size.to_s+' Interview Requests', :my_interviews %>
    <% end %>
</div>

<div id = "messages">
    <img src="/assets/sfs_icon_forward.png" id = "messagesPic" class = "icon" height = "34" alt="sfs_icon_forward.png"/>
    <h4>Inbox</h4>

    <% if unread_messages == 0 %>
	    <%= link_to "No New Messages", :messages %>
    <% elsif unread_messages == 1 %>
	    <%= link_to "1 Unread Message", :messages %>
    <% else %>
	    <%= link_to unread_messages.to_s+" Unread Messages", :messages %>
    <% end %><br />
</div>

</div>


<div id = "content">
  <div id="tabs">
    <ul style=>
      <li><a href="#tabs-1">Applications</a></li>
      <li><a href="#tabs-2">Interviews</a></li>
    </ul>
    <div id = "tabs-1">
      <% @applications.each do |application| %>
        <div class="item_jobs">
          <div class="item_picture" style="float:left;white-space:nowrap;">
            <% if application.job.school.picture? %><%= link_to image_tag(application.job.school.picture.url(:thumb)), application.job %><% else %><%= link_to image_tag("no_image.png"), application.job %><% end %>
			<%= application.job.title %><br />
            <%= application.job.school.name %><br />
			<div style= " margin-left: 123px">
            	Start Date: <%= application.job.start_date.to_s(:job_time) %><br />
			</div>
          </div>
          <div style="float:right;text-align:right">
            Applied: <%= application.created_at.to_s(:due_time) %><br />
            Status:
            <% if application.booked != nil %>
              Interview Requested
            <% elsif application.status != 1 %>
              Application Declined
            <% elsif application.viewed == true %>
              Profile Reviewed
            <% else %>
              Not Reviewed
            <% end %><br />
            <%= link_to "Remove", {:controller => :jobs, :action => :apply, :id => application.job.id}, {:class => "btn" } %> <%= link_to "Attachments", {:controller => :teachers, :action => :appattachments, :id => application.id}, {:class => "btn"} %>
          </div>
        </div>
      <% end %>
      <%= will_paginate @applications, :param_name => 'application_page' %>
    </div>
    <div id = "tabs-2">
      <% @interviews.each do |interview| %>
        <div class="item_jobs">
          <div class="item_picture" style="float:left;white-space:nowrap;">
            <% if interview.job.school.picture? %><%= link_to image_tag(interview.job.school.picture.url(:thumb)), interview.job %><% else %><%= link_to image_tag("no_image.png"), interview.job %><% end %>
            <%= interview.job.title %><br />
            <%= interview.job.school.name %><br />
            Interview Date:
            <% if interview.selected == 0 %>
              No Date and Time selected
            <% elsif interview.selected == 1 %>
              <%= interview.date.to_s(:due_time) %>
            <% elsif interview.selected == 2 %>
              <%= interview.date_alternate.to_s(:due_time) %>
            <% elsif interview.selected == 3 %>
              <%= interview.date_alternate_second.to_s(:due_time) %>
            <% end %><br />
          </div>
          <div style="float:right;text-align:right">
            Status:
            <% if interview.selected == 0 %>
              Not Scheduled
            <% else %>
              Scheduled
            <% end %><br />
            <% if interview.selected == 0 %>
              <%= link_to 'Respond', {:controller => :interviews, :action => :respond, :id => interview.id }, {:class => "btn"} %>
            <% else %>
              <%= link_to 'Edit', { :controller => :interviews, :action => :respond, :id => interview.id }, { :class => "btn"} %>
            <% end %>
            <%= link_to 'Decline', interview, :confirm => 'Are you sure?', :method => :delete, :class => "btn" %>
          </div>
        </div>
      <% end %>
      <%= will_paginate @interviews, :param_name => 'interview_page' %>
    </div>
  </div>
</div>
<script>
	$(function() {
		$("#tabs").tabs();
                $("ul").removeClass("ui-widget-header");
	});
</script>
