<script type="text/javascript" src="/uncompiled/flot/jquery.flot.min.js"></script>

<h6>Profile View History</h6>

<div id="sidebar" class="job_browser">
	<div id="myConnections">
	    <img src="/assets/contacts.png" id = "myConnectionsPic" class = "icon" width = "34" alt="contacts.png"/>
	    <h4>Connections</h4>
		<%= link_to 'My Connections', :my_connections %></br>
		<%= link_to "Pending Connections (" + @pendingcount.to_s + ")", :pending_connections %></br>
	</div>
</div>

<div id="content">

<h7>Profile views in the past week</h7><br /><br />

<div id="profile_last_week" style="width:680px;height:250px;"></div>

<h7>Card views in the past week</h7><br /><br />

<div id="card_last_week" style="width:680px;height:250px;"></div>

<!-- Load Plot Points -->
<script type="text/javascript">
$(function () {
	var d = [<%= @data['profile_last_week'] %>];
	
	var options = {
			xaxis: { 
				mode: "time",
				tickLength: 5,
				timeformat: "%b %0d",
				autoscaleMargin: 1,
			},
			yaxis: {
				autoscaleMargin: 2,
				tickFormatter: function(val, axis) {
					return val + ' Visitors';
				}
			},
			selection: { mode: "x" },
	};
	
	var plot = $.plot($("#profile_last_week"), [d], options);
});

$(function () {
	var d = [<%= @data['card_last_week'] %>];
	
	var options = {
			xaxis: { 
				mode: "time",
				tickLength: 5,
				timeformat: "%b %0d",
				autoscaleMargin: 1,
			},
			yaxis: {
				autoscaleMargin: 2,
				tickFormatter: function(val, axis) {
					return val + ' Visitors';
				}
			},
			selection: { mode: "x" },
	};
	
	var plot = $.plot($("#card_last_week"), [d], options);
});
</script>

<br />

<h7>Who has viewed your profile</h7><br >
<% @viewed.each do |connection| %>
	<br />
	<div class="item_jobs">
		<div class="item_picture">
			<% # Not a User %>
			<% if connection.user.nil? %>
				<%= image_tag("no_image.png") %>
			<% # If the teacher is nil (School) %>
			<% elsif connection.user.teacher.nil? %>
				<% if connection.user.avatar? %>
					<%= image_tag(connection.user.avatar.url(:thumb)) %>
				<% else %>
					<%= image_tag("no_image.png") %>
				<% end %>
			<% # If this is a teacher %>
			<% else %>
				<% if connection.user.avatar? %>
					<%= link_to image_tag(connection.user.avatar.url(:thumb)), '/'+connection.user.teacher.url.to_s %>
				<% else %>
					<%= link_to image_tag("no_image.png"), '/'+connection.user.teacher.url.to_s %>
				<% end %>
			<% end %>
		</div>

		<div id ="connection_desc">
			<% unless connection.user.nil? %>
				<span style ="float:right; text-align:right">
					<%= link_to "Connections: " + connection.user.connections.count.to_s, '/userconnections/'+connection.user.id.to_s %>
				</span>
				<strong>
					<%= link_to connection.user.name, '/'+connection.user.teacher.url.to_s unless connection.user.teacher.nil? %>
					<%= connection.user.name + ' (' + connection.user.school.name + ')' if connection.user.teacher.nil? %>
				</strong>
				<% unless connection.user.teacher.nil? %>
					<br />
					<% if connection.user.teacher.position.present? && connection.user.teacher.school.present?%>
						<%= connection.user.teacher.position %> at <%= connection.user.teacher.school %>
					<% end %>
					<br />
					<%= connection.user.teacher.location %>
				<% end %>
				<br />
				<div>
					<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => connection.user.id.to_s }, {:class => "btn"} %>
				</div>
			<% else %>
				<strong>Anonymous</strong>
			<% end %>
		</div>
	</div>
<% end %>
</div>
