<div class="actions">
<%= link_to "Change Picture", :change_picture %>
</div>

<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Institution Name" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :district %><br />
    <%= f.text_field :district %>
  </div>

  <div class="field">
    <%= f.label :representative_title %><br />
    <%= f.text_field :representative_title %>
  </div>

  <div class="field">
    <%= f.label "School Profile" %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label "Address" %><br />
    <%= f.text_field :map_address %>
  </div>

  <div class="field">
    <%= f.label "City" %><br />
    <%= f.text_field :map_city %>
  </div>

  <div class="field">
    <%= f.label "State" %><br />
	<%= select(:school, :map_state, [ "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming" ]) %>
  </div>

  <div class="field">
    <%= f.label "ZIP Code" %><br />
    <%= f.text_field :map_zip %>
  </div>

  <div class="field">
    <%= f.label "Phone" %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label "Fax" %><br />
    <%= f.text_field :fax %>
  </div>

  <div class="field">
    <%= f.label "School Type" %><br />
    <%= f.text_field :school_type %>
  </div>

  <div class="field">
    <%= f.label "Grades" %><br />
    <%= f.text_field :grades %>
  </div>

  <div class="field">
    <%= f.label "Student Count" %><br />
    <%= f.text_field :students_count %>
  </div>

  <div class="field">
    <%= f.label "API/AYP Scores" %><br />
    <%= f.text_field :api_ayp_scores %>
  </div>

  <div class="field">
    <%= f.label "Calendar" %><br />
    <%= f.text_field :calendar %>
  </div>

  <div class="field">
    <%= f.label :mission %><br />
    <%= f.text_area :mission, :rows => 6 %>
  </div>

  <div class="field">
    <%= f.label :highlights %><br />
    <%= f.text_area :highlights, :rows => 6 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
$("#school_map_state").chosen()
</script>
