<div id="wrapper_profile">
	
<h1><%= @school.name %></h1>

<div id="sidebar">

<div class="bordered_image"><% if @school.user.avatar? %><%= image_tag @school.user.avatar.url(:medium) %><% else %><img src="<%= asset_path 'placeholder.png' %>" /><% end %></div>

<%= @school.map_address %><br />
<%= @school.map_city %><% if @school.map_state? %>, <%= STATES_ARRAY[@school.map_state.to_i-1] %><% end %> <%= @school.map_zip %><br />
<% if @school.latitude? && @school.longitude? %>
<%= link_to "View on Google Maps »", "http://maps.google.com/maps?q="+@school.latitude.to_s+","+@school.longitude.to_s+"&z=10", :target => "_blank" %>
<% end %>

<p>
<h3><%= @school.district %></h3>
  <% if @school.school_type? %>Type: <%= @school_types[@school.school_type-1] %><br /><% end %>
  <% if @school.grades? %>Grade Levels: <%= @grades[@school.grades-1] %><br /><% end %>
  Number of students: <%= @school.students_count %><br />
  <% if @school.api_ayp_scores? %>API/AYP Scores: <%= @school.api_ayp_scores %><br /><% end %>
  <% if @school.calendar %>Calendar: <%= @calendar[@school.calendar-1] %><br /><% end %>
</p>

<p>
<h3><%= @owner.name %></h3>
  <%= @school.representative_title %><br />
  Email: <%= link_to @owner.email, "mailto:"+@owner.email %><br />
  Phone: <%= @school.phone %><br />
  Fax: <%= @school.fax %>
</p>

<div class="actions">
		<%= link_to image_tag("mail.gif", :border=>0)+" Message School Contact", { :controller => 'messages', :action => 'new', :user_id_to => @school.user.id.to_s } %>
</div>

</div>

<div id="content">

<% if @school.gmaps? %>
<%= gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 15}) %>
<% end %>

<p><strong>Description</strong><br /><%=raw h(@school.description).gsub(/\n/, '<br />') %></p>

<p><strong>Mission</strong><br /><%=raw h(@school.mission).gsub(/\n/, '<br />') %></p>

<p><strong>Highlights</strong><br /><%=raw h(@school.highlights).gsub(/\n/, '<br />') %></p>

<h3>Open Positions</h3>

<% if @school.jobs %>
	<% @school.jobs.each do |job| %>
		<p class="resource"><%= link_to job.title, job %></p>
	<% end%>
<% else%>
None
<% end %>

<h3>Resources</h3>
  <% if @school.website? %><p class="resource"><img src="<%= asset_path 'website.png' %>" /> <%= link_to "Website", @school.website, :target => "_blank" %></p><% end %>
  
  <% if @school.greatschools? %><p class="resource"><img src="<%= asset_path 'website.png' %>" /> <%= link_to "GreatSchools Profile", @school.greatschools, :target => "_blank" %></p><% end %>
  
  <% if @school.linkedin? %><p class="resource"><img src="<%= asset_path 'linkedin.png' %>" /> <%= link_to "LinkedIn Profile", @school.linkedin, :target => "_blank" %></p><% end %>
  
  <% if @school.facebook? %><p class="resource"><img src="<%= asset_path 'facebook.png' %>" /> <%= link_to "Facebook Page", @school.facebook, :target => "_blank" %></p><% end %>
</div>
</div>