<div id="wrapper_profile">
	
<h1><%= @school.name %></h1>

<div id="sidebar">

<div class="profilepicture"><% if @school.user.avatar? %><%= image_tag @school.user.avatar.url(:medium) %><% else %><% end %></div>

<p>
  <b>District:</b>
  <%= @school.district %><br />
  Type: <%= @school.school_type %><br />
  Grade Levels: <%= @school.grades %><br />
  Number of students: <%= @school.students_count %><br />
  API/AYP Scores: <%= @school.api_ayp_scores %><br />
  Calendar: <%= @school.calendar %><br />
</p>

<p>
  <b>Representative:</b><br />
  <%= @owner.name %><br />
  <%= @school.representative_title %><br />
  Email: <%= link_to @owner.email, "mailto:"+@owner.email %><br />
  Phone: <%= @school.phone %><br />
  Fax: <%= @school.fax %>
</p>

</div>

<div id="content">

<p><strong>Location:</strong><br />
	<%= @school.map_address %><br />
	<%= @school.map_city %>, <%= @school.map_state %> <%= @school.map_zip %>
</p>

<p><strong>Mission:</strong> <%= @school.mission %></p>

<p><strong>Highlights:</strong> <%= @school.highlights %></p>

</div>
</div>