<%= form_for(@credential) do |f| %>
  <% if @credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

      <ul>
      <% @credential.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p class="field">
    <%= f.label "Credential type" %><br />	
	<%= select(:credential, :credentialType, ["", "Certificated - Teacher - 1-3", "Certificated - Teacher - 4-6",
		"Certificated - Teacher - Adult Education", "Certificated - Teacher - Children's Center",
		"Certificated - Teacher - Court/Community/Alt.", "Certificated - Teacher - Head Start",
		"Certificated - Teacher - High School", "Certificated - Teacher - K-6",
		"Certificated - Teacher - Kindergarten", "Certificated - Teacher - Library Media",
		"Certificated - Teacher - Middle Grades", "Certificated - Teacher - Middle/High",
		"Certificated - Teacher - Other", "Certificated - Teacher - Pre K",
		"Certificated - Teacher - ROP", "Certificated - Teacher - Special Education", "Credential in Progress", "Emergency Credential"
		 ]) %>	
  </p>

  <p class="field">
    <%= f.label "Subject Area" %><br />
    <%= f.text_field :name %>
  </p>

  <p class="field">
    <label>Organization that Issued Credential</label><br />
    <%= f.text_field :issuer %>
  </p>
  <p class="field">
  <%= label_tag "State Issued" %><br />
  <%= select :credential, :state, STATES_ARRAY, :include_blank => true %>
  </p>

  <p>
    <%= f.submit "Submit", :class => "btn btn-success" %>
  </p>
<% end %>

<%= javascript_tag " $(\"#credential_credentialType\").chosen() "%>
<%= javascript_tag " $(\"#credential_state\").chosen() "%>
