<h2>Credentials</h2>

<table>
  <tr>
    <th class = "tHeader">Name</th>
    <th class = "tHeader">Issuer</th>
    <th class = "tHeader">Type</th>
  </tr>

<% @teacher.credentials.each do |credential| %>
  <tr>
	<td class = "tableCell"><%= credential.name %></td>
	<td class = "tableCell"><%= credential.issuer %></td>
	<td class = "tableCell"><%= credential.credentialType %></td>
    <td class = "tableCell"><%= link_to 'Edit', edit_credential_path(credential) %></td>
    <td class = "tableCell"><%= link_to 'Destroy', credential, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p>
    <%= link_to 'New Credential', new_credential_path, :class => "btn" %>
  </p>
