<h2>Credentials</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Issuer</th>
    <th>Type</th>
  </tr>

<% @teacher.credentials.each do |credential| %>
  <tr>
	<td><%= credential.name %></td>
	<td><%= credential.issuer %></td>
	<td><%= credential.credentialType %></td>
    <td><%= link_to 'Edit', edit_credential_path(credential) %></td>
    <td><%= link_to 'Destroy', credential, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p class="actions">
    <%= link_to 'New Credential', new_credential_path %>
  </p>
