<style>
tr.seeking, tr.student {
	display:none;
}
</style>

<!-- Facebook send box -->
<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=524783507547270";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row kRap" style="position:relative;">
	<div class="twelve columns">
		<h1 class="smaller"><span>Congratulations!</span> You've just created your DemoLesson profile.</h1>
	</div>
	<div class="clear"></div>

	<div class="one columns">
		&nbsp;
	</div>

	<div class="ten columns">
		<div class="card">
			<div class="skills">
				<% @user.skill_groups.each do |skill_group| %>
					<div class="badge <%= skill_group.badge_name %>" data-skillgroup="<%= skill_group.badge_name %>">
						<% if @user.vouched_skill_groups.collect(&:id).include? skill_group.id %>
							<img src="/card-assets/images/greencheck.png" style="position:absolute;top:15px;left:15px" />
						<% end %>
					</div>
				<% end %>
			</div>
			<h1 class="name"><%= @user.name %></h1>
			<h2 class="job">
				<%= @user.teacher.position + ' at ' + @user.teacher.school unless @user.teacher.position.empty? || @user.teacher.school.empty? %>
			</h2>
			<h2 class="job"><%= @user.teacher.educations.first.school unless @user.teacher.educations.empty? %></h2>
			<h3 class="location"><%= @user.teacher.location %></h3>
			<div class="about">
				<table>
					<td><span class="label">About me</span></td>
					<td><div class="textarea">
						<textarea class="css3-border-box" id="about-me" placeholder="(Tell us a little about yourself)"></textarea>
					</div></td>
				</table>
			</div>
		</div>

		<a href="/<%= @user.teacher.url %>" class="large button" style="margin-top:45px;float:right;padding:9px 50px;display:inline;width:auto;">Take me to my profile.</a>

		<div class="share">
			<h1 class="smaller" style="font-size:20px;">Share to your social networks</h1>
			<a href="#facebook"><img src="/assets/social-icons/facebook.png" /></a>
			<a href="#twitter"><img src="/assets/social-icons/twitter.png" /></a>
		</div>

		<div class="button_wrap"></div>
	</div>

	<div class="one columns">
		&nbsp;
	</div>
	<div class="clear"></div>
	
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('textarea#about-me').keyup(function() {
		clearTimeout(window.timer);
		tarea = $(this);

		window.timer = setTimeout(function() {
			var about_me = tarea.val();
			$.post('/welcome_wizard?x=update_aboutme', {"aboutme": about_me}, function(data) {
				if(data.type == 'success') tarea.animate({"background-color": "green"}, 200, function() {
					$(this).animate({"background-color": "#FFF"}, 200);
				});
			});
		}, 900);
	});
	$('a[href="#facebook"]').click(function(e) {

		// Block the link
		e.preventDefault();

		// Trigger the facebook method
		FB.ui({
			method: 'feed',
			name: '<%= @user.name %> just joined DemoLesson',
			link: 'http://www.demolesson.com/?_micro_referer=<%= @user.id %>',
			picture: 'http://www.demolesson.com/assets/logo_new.png',
			caption: 'Connect with <%= @user.name %> on DemoLesson',
			description: '<%= @user.first_name %> just joined DemoLesson; a professional development site for educators. You should connect with them!'
		}
		/*function(response) {
			if (response && response.post_id) {
				alert('Post was published.');
			} else {
				alert('Post was not published.');
			}
		}*/);

		return false;
	});
	$('a[href="#twitter"]').click(function(e) {

		// URL to go to
		url = 'https://twitter.com/share';

		// Paramaters to build
		var params = {
			via: 'demolesson',
			url: 'http://www.demolesson.com/?_micro_referer=<%= @user.id %>',
			text: 'I just joined DemoLesson; a professional development site for educators. You should connect with me!'
		}

		// URL plus params
		url += '?' + $.param(params);
		
		// Apply to the link
		$(this).attr('href', url).attr('target', '_blank');

		// GO!
		return true;
	});
});
</script>