<script type="text/javascript" src="/assets/weixiyen-jquery-filedrop-5bdee80/jquery.filedrop.js"></script>
<div class="row">
	<div class="twelve columns">

		<h1 class="header">
			<span x-data="user.first_name"><%if @teacher %><%= @teacher.user.first_name %>'s <% end %>
			<a href="/"><img src="/card-assets/images/demo-lesson-final.png" /></a> Card
		</h1>

		<div class="container">
			<!-- BEGIN video area -->
			<% if @video.new_record? and not (@teacher and @teacher.video_embed_url?) %>
				<div class="video">
					<div class="row">
						<div class="twelve columns">
							<% if @is_self %>
								<div id="card_upload">
									<h1><a>+Upload a video of your teaching skills.</a></h1>
								</div>
								<div id='video_show' style="display:none">
									<strong>Upload a video file from your computer.</strong>
									<%= direct_upload_form_for @uploader do |f| %>
										<div class="field">
											<br /><%= f.file_field :video %><br /><br />
											<%= f.submit "Next Step", :class => "btn btn-success" %>
										</div>
									<% end %>

									<div style="height:15px;display:block;"></div>

									<strong>Embed Youtube or Vimeo URL</strong>
									<%= form_for @teacher do |f| %>
										<div class="field" style="margin-top: 10px">
											<%= f.text_field :video_embed_url, :placeholder => "http://www.youtube.com/watch?v=RagS0Rt2BMY&feature=youtu.be", :size => 36.5 %>
											<%= f.submit "Embed", :class => "btn btn-success" %> 
										</div>
									<% end %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			<% elsif @teacher.video_embed_url? %>
				<div class="video" style="height:429px">
					<%= @teacher.video_embed_html.html_safe %>
				</div>
			<% else %>
				<div style="padding-left:48px"><%= @embed_code.html_safe %></div>
			<% end %>
			<!-- END video area -->

			<!-- BEGIN profile area -->
			<div class="profile">
				<div class="row">
					<div class="five columns">
						<% if @teacher %>
							<% if not @teacher.user.avatar? %>
								<h1><% if @is_self %><a href="#" class="add" data-reveal-id="add_avatar" style="float:left">+</a><% end %></h1>
							<% else %>
								<img src="<%= @teacher.user.avatar.url(:tiny) %>" class="profile-pic" data-var="profile-image" />
							<% end %>
							<h3 x-data="user.name"><%= @teacher.user.name %></h3>
							<span class="location" x-data="user.teacher.location">
								<%= @teacher.location %>
							</span>
							<% if @is_self %>
								<% unless @teacher.location.present? %>
									<br />
									<a href="#" class="add" data-reveal-id="set_location" style="float:left">Set Location</a>
								<% end %>
							<% end %>
						<% end %>
					</div>
					<div class="seven columns" style="padding:0px 11px">
						<% if @is_self %>
							<a href="#" class="add" data-reveal-id="add_skill" style="font-size:24px">+</a>
						<% end %>
						<% if @teacher %>
							<%- @teacher.user.skill_groups.each do |skill_group| -%>
								<div class="badge <%= skill_group.badge_name %>" data-skillgroup="<%= skill_group.badge_name %>"><% if @teacher.user.vouched_skill_groups.collect(&:id).include? skill_group.id %><img src="/card-assets/images/greencheck.png" style="position:absolute;top:15px;left:15px" /><% end %></div>
							<%- end -%>
						<% end %>
					</div>
					<div style="padding-top:70px;padding-bottom:10px">
						<% if @teacher %>
							<% if @connections == 1 %>
								<%= link_to @connections.to_s+ " Connection", '/userconnections/'+@teacher.user.id.to_s  %>
							<% else %>
								<%= link_to @connections.to_s+ " Connections", '/userconnections/'+@teacher.user.id.to_s  %>
							<% end %>
						<% end %>
					</div>
					<% if @is_self and @teacher.user.skill_groups.size > 0 %>
						<div id="get_verified_button">
							<a href="#" class="square-button" data-reveal-id="get_verified" style="font-size:12px;float:right">Get Verified</a>
						</div>
					<% end %>
				</div>
			</div>
			<!-- END profile area -->

			<!-- BEGIN highlight area -->
			<div class="highlight">
				<div class="row">
					<% if @teacher %>
						<% @teacher.user.skill_groups.each do |skill_group| %>
							<div id="skill-<%= skill_group.badge_name %>" class="skill-detail">
								<div class="four columns">
                                                                  <h1><%= skill_group.name %></h1>
									<ol>
										<% @teacher.skills.select{ |skill| skill.skill_group_id == skill_group.id }.each do |skill| %>
                                                                                  <li><%= skill.name %><% if @teacher.user.vouched_skill_ids.include? skill.id %><img src="/card-assets/images/greencheck.png" height="20" width="20" style="position:absolute" /><% end %></li>
										<% end %>
									</ol>
								</div>
								<div class="eight columns quotable">
									<p><%= skill_group.placeholder %></p>
								</div>
							</div>
						<% end %>
					<% end %>
					<div id="bio">
						<div class="three columns">
							<h1 style="text-align:right">About Me</h1>
						</div>
						<div class="nine columns quotable">
							<%if @teacher %>
								<% if @is_self %>
									<% if @teacher.headline.present? %>
										<div id="whole_headline">
											<p><%= @teacher.headline %></p>
											<div id="edit_headline" style="float:right">
												<a>Edit</a>
											</div>
										</div>
										<%= form_tag('/cardheadline', :style => "display:none", :id => "headline_edit") do %>
											<%= text_area_tag "bio", @teacher.headline,:rows =>3, :maxlength=> 140 , :style => 'resize:none' %><%= submit_tag "Save" %>
										<% end %>
									<% else %>
										<%= form_tag '/cardheadline' do %>
											<%= text_area_tag "bio", nil,:rows =>3, :maxlength=> 140 ,  :style => 'resize:none' %><%= submit_tag "Save" %>
										<% end %>
									<% end %>
								<% else %>
									<p><%= @teacher.headline %></p>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<!-- END highlight area -->

			<!-- BEGIN content area -->
			<div class="content">
				<div class="row">
					<div class="five columns">
						<h1>Education <% if @is_self %><a href="#" class="add" data-reveal-id="add_education">+</a><% end %></h1>
						<% if @teacher %>
							<% @teacher.educations.each do |education| %>
								<%= education.degree %> <%= education.concentrations %><br />
								<%= education.school %> <%= education.year %><br /><br />
							<% end %>
						<% end %>

						<h1>Credentials <% if @is_self %><a href="#" class="add" data-reveal-id="add_certification">+</a><% end %></h1>
						<% if @teacher %>
							<% @teacher.credentials.each do |credential| %>
								<%= credential.name %><br />
								<%= credential.credentialType %><br /><br />
							<% end %>
						<% end %>
					</div>
					<div class="seven columns">
						<h1>Work Experience <% if @is_self %><a href="#" class="add" data-reveal-id="add_work_experience">+</a><% end %></h1>
						<% if @teacher %>
							<% @teacher.experiences.each do |experience| %>
								<a><%= experience.endYear %></a> <%= experience.company %><br />
								<%= experience.position %><br /><br/>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>

			<% if @teacher %>
				<div id="miniright" style="margin-top:30px">
					<% if self.current_user and not @is_self %>
						<% if self.current_user.connections.collect(&:user_id).include? @teacher.user_id %>
							<%= link_to "Send Message", { :controller => 'messages', :action => 'new', :user_id_to => @teacher.user_id }, {:class => "btn", :stlye => "float:right"} %>
						<% else %>
							<%= link_to "Connect", { :controller => 'connections', :action => 'add_connection', :user_id => @teacher.user_id }, { :class => "btn btn-success", :style => "float:right"} %>
						<% end %>
					<% elsif not self.current_user %>
						<a href="#" id="test_reveal_button" data-reveal-id="connect_reveal" class="btn btn-success" style="float:right">Connect</a>
					<% end %>
				</div>
			<% end %>
			<div id="miniright" style="margin-top:40px">
				<%= link_to "Home", '/' %> <% if self.current_user %>| <span><%= link_to "Connections", '/my_connections' %></span> | <span><%= link_to "Invite Friends Now", site_referral_path %></span><% end %>
			</div>
			<!-- END content area -->
		</div>
	</div>

	<!-- ==================================================== -->
	<!-- BEGIN MODULES                                        -->
	<!-- ==================================================== -->
	<% if @is_self %>
		<%if @teacher %>
			<!-- Add Skill Dialog -->
			<div id="add_skill" class="reveal-modal large">
				<h1>Choose the skills you have experience in.</h1>
				<p class="byline">We'll be adding more skills over time, so send us suggestions if you want to see a skill we haven't listed yet.</p>
				<% SkillGroup.all.each do |skill_group| %>
					<div class="skill-select">
						<h2><%= skill_group.name %></h2>
						<div class="row">
							<% skill_group.skills.each do |skill| %>
								<div class="columns three" data-skill="<%= skill.id %>"><span><%= skill.name %></span></div>
							<% end %>
						</div>
					</div>
				<% end %>
				<a class="close-reveal-modal">&#215;</a>
				<div class="row finish-row">
					<div class="columns twelve">
						<a href="/card/<%=@teacher.url%>" class="square-button">I'm Done Selecting Skills</a>
					</div>
				</div>
			</div>

			<!-- Skill Thanks Dialog -->
			<!--<div id="skill_thanks" class="reveal-modal">
				<h1>Yay!</h1>
				<p>Thanks for adding your awesome skills.</p>
				<a class="close-reveal-modal">&#215;</a>
			</div>-->

			<!-- Add Education Dialog -->
			<div id="add_education" class="reveal-modal">
				<h1>Add Education</h1>
				<a class="close-reveal-modal">&#215;</a>

				<%= form_for @education, :as => :education, :url => '/cardeducation' do |f| %>

					<div class="field">
						<%= f.text_field :school, :placeholder => "School/University" %>
					</div>

					<div class="field">
						<%= f.text_field :degree, :placeholder => "Degree" %>
					</div>

					<div class="field">
						<%= f.text_field :concentrations, :placeholder => "Major" %>
					</div>

					<div class="field">
						Start Year<br />
						<%= select("education", "start_year", YEARS_ARRAY, :include_blank => true) %>	
					</div>

					<div class="field">
						Graduation Year<br />
						<%= select("education", "year", YEARS_ARRAY, :include_blank => true) %>	
					</div>	

					<div class="field">
						<%= f.check_box :current %>I am currently attending here
					</div>

					<div>
						<input name="commit" type="submit" value="Submit" onclick="$('#loader').show('fast');" class="button"/>
					</div>

					<div id="loader" style="display: none">
						<img src="<%= asset_path 'loader.gif' %>" />
					</div>
				<% end %>
			</div>

			<!-- Add Work Experience Dialog -->
			<div id="add_work_experience" class="reveal-modal">
				<h1>Add Work Experience</h1>
				<a class="close-reveal-modal">&#215;</a>
				<%= form_for @experience, :as => :experience, :url => '/cardexperience' do |f| %>

					<div class="field">
						<%= f.text_field :company, :placeholder => "Company, District, or School" %>
					</div>

					<div class="field">
						Start Date
						<%= select_month(Date.today, :add_month_numbers => false, :field_name => :startMonth) %>
						<%= select_year(Date.today, :field_name => :startYear, :start_year => 1900, :end_year => Time.now.year+1) %>
					</div>

					<div class="field">
						End Date<br />
						<%= select_month(Date.today, :add_month_numbers => false, :field_name => :endMonth) %>
						<%= select_year(Date.today, :field_name => :endYear, :start_year => 1900, :end_year => Time.now.year+1) %>
					</div>

					<div class="field">
						<%= f.text_field :position, :placeholder => "Position" %>
					</div>

					<div class="field">
						<%= f.label :description %><br />
						<%= f.text_area :description %>
					</div>

					<div class="field">
						<%= check_box_tag 'current', 'yes', false, :class => 'current' %> <label>I currently work here</label>
					</div>


					<div>
						<input name="commit" type="submit" value="Submit" onclick="$('#loader').show('fast');" class="button" />
						<%= link_to 'Back', :back %>
					</div>

					<div id="loader" style="display: none">
						<img src="<%= asset_path 'loader.gif' %>" />
					</div>
				<% end %>
			</div>

			<!-- Add Certification Dialog -->
			<div id="add_certification" class="reveal-modal">
				<h1>Add Credential</h1>
				<a class="close-reveal-modal">&#215;</a>

				<%= form_for @credential, :url => "/cardcredential" do |f| %>
					<p class="field">
						Credential type
						<%= select(:credential, :credentialType, ["", "Certificated - Teacher - 1-3", "Certificated - Teacher - 4-6",
							"Certificated - Teacher - Adult Education", "Certificated - Teacher - Children's Center",
							"Certificated - Teacher - Court/Community/Alt.", "Certificated - Teacher - Head Start",
							"Certificated - Teacher - High School", "Certificated - Teacher - K-6",
							"Certificated - Teacher - Kindergarten", "Certificated - Teacher - Library Media",
							"Certificated - Teacher - Middle Grades", "Certificated - Teacher - Middle/High",
							"Certificated - Teacher - Other", "Certificated - Teacher - Pre K",
							"Certificated - Teacher - ROP", "Certificated - Teacher - Special Education", "Credential in Progress", "Emergency Credential"
						]) %>
					</p>

					<p class="field">
						<%= f.text_field :name, :placeholder => "Subject Area" %>
					</p>

					<p class="field">
						<%= f.text_field :issuer, :placeholder => "Issuer (Ex. USC)" %>
					</p>

					<p>
                                        <%= f.submit "Submit", :class => "button" %>
					</p>
				<% end %>
			</div>

			<div id="add_avatar" class="reveal-modal">
				<h1>Add Profile Picture</h1>
				<a class="close-reveal-modal">&#215;</a>
				<%= form_for @teacher.user, :as => :user, :url => "/cardavatar", :html => { :multipart => true } do |f| %>

					<div class="field">
						<%= f.file_field :avatar %><br />
						<span style= "font-size:12px; margin-left: 2px; text-align: center">
							<strong>PICTURE FILE SIZE LIMIT: 2MB</strong>
						</span>
					</div>

					<div><%= f.submit "Upload Picture", :class => "button" %></div>
				<% end %>
			</div>

			<div id="get_verified" class="reveal-modal">
				<a class="close-reveal-modal">&#215;</a>

				<%= form_for @vouch, :url => "/vouchrequest" do |f| %>
					<div id="first_step">
						<h1>Ask a friend to vouch for your skills</h1>
						Once somebody vouches for your skills, you'll get a verified stamp on your card which confirms your mastery of these skills.
						<%= f.text_field :first_name, :placeholder => "First Name" %>
						<%= f.text_field :last_name, :placeholder => "Last Name" %>
						<%= f.text_field :email, :placeholder => "Email" %>
						<%= f.text_field :title, :placeholder => "Title" %>
						<%= f.text_field :company, :placeholder => "School/Company" %>
						Is this person an educator? <%= radio_button_tag "is_teacher", 1 %>Yes <%= radio_button_tag "is_teacher", 0 %>No<br />
						<a href='#' class="square-button" id="next_step_button">Next Step</a>
					</div>

					<div id="next_step" style="display:none">
						<h1>Select the skills you want this person to verify you possess.</h1>
						<% @teacher.user.skills.each do |skill| %>
						<%= check_box_tag "skills[]", skill.id %><%= skill.name %><br />
						<% end %>
						<br /><a href='#' class="square-button" id="complete_vouch_button">Complete Vouch</a>
					</div>

					<div id="complete_vouch" style="display:none">
						Return the favor, and vouch for your friends skills too.  Select the skills they are good at.<br />
						<% @teacher.user.skills.each do |skill| %>
						<%= check_box_tag "skills_for_teacher[]", skill.id %><%= skill.name %><br />
						<% end %>
						<%= f.submit "Request Vouch", :class => "button" %>
					</div>
				<% end %>
			</div>

			<script type="text/javascript">
			$(document).ready(function() {
				$("#next_step_button").click(function () {
					$("#first_step").hide()
					$("#next_step").show()
				});
				$("#complete_vouch_button").click(function () {
					$("#next_step").hide()
					$("#complete_vouch").show()
					$
				});
				$("#get_verified_button").click(function() {
					$("#next_step").hide()
					$("#complete_vouch").hide()
					$("#first_step").show()
				});
			});
			</script>

			<div id="set_location" class="reveal-modal">
				<h1>Set Location</h1>
				<%= form_tag "/change_location" do%>
					<% text_field_tag "location" %>
                                        <% submit_tag "Set Location", :class => "button" %>
				<% end %>
			</div>
		<% end %>
	<% end %>
	<!-- ==================================================== -->
	<!-- END MODULES                                          -->
	<!-- ==================================================== -->

	<!-- Included JS Files (Uncompressed) -->
	<!--script src="javascripts/jquery.js"></script>
	<script src="javascripts/modernizr.foundation.js"></script>
	<script src="javascripts/jquery.foundation.reveal.js"></script>
	<script src="javascripts/jquery.foundation.buttons.js"></script>
	<script src="javascripts/jquery.foundation.forms.js"></script-->

	<!-- Included JS Files (Compressed) -->
	<!--script src="javascripts/foundation.min.js"></script-->

	<!-- Included JS Files (Compressed) -->
	<script src="/card-assets/foundation.min.js"></script>

	<!-- Initialize JS Plugins -->
	<script src="/card-assets/app.js"></script>

	<!-- Configure Page -->
	<script type="text/javascript">

	/**
	 * Set all the urls you need to here.
	 */
	 DemoLesson.urls.addEducation = '/cardeducation';
	 DemoLesson.urls.addSkill = '/cardskills';
	 DemoLesson.urls.removeSkill = '/cardremoveskills';
	 DemoLesson.urls.addWorkExperience = '/cardexperience';
	 DemoLesson.urls.addCertification = '/cardcredential';
	 DemoLesson.urls.unlockCard = '';
	 DemoLesson.urls.fetchBadges = '';

	/**
	 * This should be an array of skill IDs that the the user has.
	 */
	 DemoLesson.hasSkills = <% if @teacher %><%= @teacher.skills.collect(&:id) %><% end %>

	/**
	 * This must be loaded for the existing, logged-in user in order for the page to work.
	 */
	<% if @teacher %>
	DemoLesson.userID = <%= self.current_user.id unless self.current_user.nil? %>;
	<% else %>
	DemoLesson.userId= 1;
	<% end %>
	</script>

	<script type="text/javascript">
	$(function () {
		$("#card_upload").click(function() {
			$("#card_upload").hide();
			$("#video_show").show();
		});
	});
	</script>

	<script type="text/javascript">
	$(function () {
		$("#edit_headline").click(function() {
			$("#whole_headline").hide();
			$("#headline_edit").show();
		});
	});
	</script>

	<% if not params[:url] %>
		<a href="#" id="test_reveal_button" data-reveal-id="test_reveal" data-close-on-background-click="false"></a>
		<div id="test_reveal" class="reveal-modal">
			<h1 style="color:#666;">Unlock your Demolesson Profile</h1>
			<p style="margin:10px auto;">All we need is your full name and email address in order to unlock your profile page. We'll shoot you an email with your password so you can change stuff later.</p>
			<% if params[:u] %>
				<%= form_for :user, :url => '/unlocked' do |f| %>
					<%= f.text_field :first_name, :value => @voucher.first_name%>
					<%= f.text_field :last_name, :value => @voucher.last_name  %>
					<%= f.text_field :email, :value => @voucher.email %>
					<%= hidden_field_tag :urlstring, params[:u] %>
					<%= f.submit "Unlock", :class => "button", :style => "float:right;" %>
					<%= link_to "How it Works", '/howitworks', :class => 'button secondary' %>
				<% end %>
			<% elsif params[:i] %>
				<%= form_for :user, :url => '/unlocked' do |f| %>
					<%= f.text_field :first_name, :placeholder => "First Name" %>
					<%= f.text_field :last_name, :placeholder => "Last Name" %>
					<%= f.text_field :email, :placeholder => "Email", :value => @invite.email %>
					<%= hidden_field_tag :invitestring, params[:i] %>
					<%= f.submit "Unlock", :class => "button", :style => "float:right;" %>
					<%= link_to "How it Works", '/howitworks', :class => 'button secondary' %>
				<% end %>
			<% else %>
				<%= form_for :user, :url => '/unlocked' do |f| %>
					<%= f.text_field :first_name, :placeholder => "First Name" %>
					<%= f.text_field :last_name, :placeholder => "Last Name"  %>
					<%= f.text_field :email, :placeholder => "Email" %>
					<%= f.submit "Unlock", :class => "button", :style => "float:right;" %>
					<%= link_to "How it Works", '/howitworks', :class => 'button secondary' %>
				<% end %>
			<% end %>
		</div>

		<script type="text/javascript">
		$(document).ready(function() {
			$('#test_reveal_button').click();
		});
		</script>
	<% elsif not self.current_user %>
		<div id="connect_reveal" class="reveal-modal">
			<h1 style="color:#666;">Unlock your Demolesson Profile to connect</h1>
			<p style="margin:10px auto;">All we need is your full name and email address in order to unlock your profile page. We'll shoot you an email with your password so you can change stuff later.</p>
			<%= form_for :user, :url => '/unlocked' do |f| %>
				<%= f.text_field :first_name, :placeholder => "First Name" %>
				<%= f.text_field :last_name, :placeholder => "Last Name"  %>
				<%= f.text_field :email, :placeholder => "Email" %>
				<%= hidden_field_tag :user_connection, @teacher.user.id %>
				<%= f.submit "Unlock", :class => "button", :style => "float:right;" %>
				<%= link_to "How it Works", '/howitworks', :class => 'button secondary' %>
			<% end %>
		</div>
	<% end %>
</div>
