<div id="wrapper_global">

<h1>Sign Up</h1>

<p style="color: #666"><strong>We're currently beta testing. We'll keep you posted when the site is available for everyone.</strong></p>

<%= form_for @alpha do |f| -%>
	<div class="field">
	    <%= f.label "Name" %><br />
	    <%= f.text_field :name, :size => 60 %><br />
	</div>

	<div class="field">
	    <%= f.label "Email Address" %><br />
	    <%= f.text_field :email, :size => 60 %><br />
		<small>We promise we won't share your email with anyone.</small>
	</div>
	
	<div class="field">
    	<%= f.label "I'm a..." %><br />
    	<%= select(:alpha, :userType, { "Teacher" => "1", "Teacher Assistant" => "2", "Student" => "3", "Adminstrator" => "4" }, :selected => params[:userType]) %>
  	</div>
	
	<div class="field">
		<%= f.check_box :beta %> <%= f.label "I want to be a beta tester!" %>
	</div>
	<div class="actions">
		<%= f.submit "Submit", :disable_with => 'Submitting...' %>
	</div>
<% end -%>

<div style="display:none;height:0px">
	<%= javascript_tag " $(\"#alpha_userType\").chosen() "%>
</div>

<p>&nbsp;
</p>
</div>