<div id="wrapper_global">

<h1 class="green">Join DemoLesson Today.</h1>

<%= form_for @alpha do |f| -%>
	<div class="field">
    	<%= f.label "I'm a..." %>
    	<%= select(:alpha, :userType, { "Teacher" => "1", "Teacher Assistant" => "2", "Student Teacher" => "3"}, :selected => params[:userType]) %>
  	</div>
	
	<div class="field">
	    <%= f.label "Enter your first and last name." %><br />
	    <%= f.text_field :name, :size => 60 %><br />
	</div>

	<div class="field">
	    <%= f.label "What's your email address?" %><br />
	    <%= f.text_field :email, :size => 60 %><br />
	</div>
	
	<div>
		<%= f.check_box :beta, :checked => true, :hidden => true%> 
	</div>	
		<small>By joining, I agree to the <%= link_to 'terms of service', :termsofservice, :target => "_blank" %></small>
		<%= f.submit "Signup", :class => "btn btn-success", :disable_with => 'Submitting...' %>

<% end -%>

<div style="display:none;height:0px">
	<%= javascript_tag " $(\"#alpha_userType\").chosen() "%>
</div>

</div>