<SCRIPT TYPE="text/javascript">
<!--
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
return false;
}
//-->
</SCRIPT>

<div id="footer">

<div id="container">
	
<div id="left" align="left">
	
	<div id="minileft">
		<p><strong>About DemoLesson</strong></p>
		<p><%= link_to 'About Us', :about %> <br/> <%= link_to 'How It Works', :howitworks %><br/> <%= link_to 'Our Customers', :customers %> <br/> <%= link_to 'Press', :press %> </p>
	
	</div>
		
	
	<div id="minicenter">
		<p><strong>Teacher Resources</strong></p>
		<p><%= link_to 'Video Support', "http://blog.demolesson.com/video-support/" %> <br/> <%= link_to 'Teacher Resource Hub', "http://blog.demolesson.com/teacher-resource-hub/" %> <br/> <%= link_to 'FAQ', :teachers_faq %></p>
	</div>
	
	<div id="miniright" style="width: 140px">
		<p> <strong>Help and Support</strong></p>
		<p><%= link_to 'Contact and Support', :contact %> <br/>  <%= link_to 'Terms of Service', '/termsofservice' %> <br/> <%= link_to 'Privacy', '/privacy' %> </p>		
	</div>
<p class="copyright" style="float:left">&copy; <%= Time.now.year %> Demo Lesson Inc. All Rights Reserved.</p>	
</div>


	
<div id="right">	
	
	<div id="minileft">
		<p><strong>Connect With Us</strong></p>
		<p><%= link_to 'Blog', "http://blog.demolesson.com" %> <br/> <%= link_to 'Twitter', "http://twitter.com/demolesson" %> <br/> <%= link_to 'Facebook', "http://www.facebook.com/demolesson" %></p>
		
		<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.demolesson.com&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
		
		<a href="https://twitter.com/demolesson" class="twitter-follow-button" data-show-count="false">Follow @demolesson</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		
	</div>

	<div id="minicenter" style="width: 140px">	
		<a href="https://s3.amazonaws.com/DemoLessonS3/site/joke_image02.gif" onClick="return popup(this, 'notes')" > 
		<div id="marley"><p><img src="<%= asset_path 'marley.gif' %>" style="height: auto; width:100px;"></p></a>
		</div>
		
	</div>
	
	<div id="miniright" style="margin-top:40px">
		<span style ="font-size:20px; color: #000">Tell a Friend</span><br>
		<span style="font: lighter 14px Helvetica; color:#505050;">They'll thank you!<br> 
		<span><%= link_to "Invite friends now", site_referral_path, :class => "btn btn-primary" %></span>
	</div>
</div>

</div>
</div>

</body>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23812238-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<%= yield :scripts %>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "demo_lesson";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#ff0000";
  feedback_widget_options.style = "problem";
  
  
  
  
  
  
  

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

<script type="text/javascript">
adroll_adv_id = "BFYV3DSVXJH5NH7FZCHDDW";
adroll_pix_id = "NM7SDILLX5CTJM4Q6LW4UX";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>

</html>
