<div id="footer">

<p><%= link_to 'Blog', "http://demolesson.wordpress.com" %> &middot; <%= link_to 'About', :about %> &middot; <%= link_to 'Contact and Support', :contact %></p>

<span class="copyright">&copy; <%= Time.now.year %> DemoLesson Inc. All Rights Reserved. &middot; <%= link_to 'Terms of Service', '/termsofservice' %> &middot; <%= link_to 'Privacy', '/privacy' %></span>

</div>

</div>
</body>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23812238-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<%= yield :scripts %>

</html>
