<div id="footer">

<div id="container">
	
<div id="left" align="left">
	
	<p style="font-size:12px">What is Demo Lesson?</p>
	<p style="font-size:12px;color:#666">Demo Lesson is a revolutionary online hiring platform that gives teachers the power to market themselves like never before! We utilize the best technology to create the most efficient, effective, and empowering hiring platform for educators!</p>
	
	<span class="copyright">&copy; <%= Time.now.year %> Demo Lesson Inc. All Rights Reserved. </span>
	
</div>
	
<div id="right">	
	
	<div id="minileft">
		<p><strong>About Demo Lesson</strong></p>
		<p><%= link_to 'About Us', :about %> <br/> <%= link_to 'How It Works', :howitworks %> <br/> <%= link_to 'For Schools', :forschools %></p>
	</div>
		
	<div id="minicenter">
		<p><strong>Connect With Us</strong></p>
		<p><%= link_to 'Blog', "http://demolesson.wordpress.com" %> <br/> <%= link_to 'Twitter', "http://twitter.com/demolesson" %> <br/> <%= link_to 'Facebook', "http://www.facebook.com/demolesson" %></p>
		
		<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.demolesson.com&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
		
		<a href="https://twitter.com/demolesson" class="twitter-follow-button" data-show-count="false">Follow @demolesson</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		
	</div>
	
	<div id="miniright" style="width: 146px">
		
		<p> <strong>Help and Support</strong></p>
		<p><%= link_to 'Contact and Support', :contact %> <br/> <%= link_to 'FAQ', :teachers_faq %> <br/> <%= link_to 'Terms of Service', '/termsofservice' %> <br/> <%= link_to 'Privacy', '/privacy' %> </p>
		
		<div class="actions">
		<%= link_to "Refer a Friend", :controller => :home, :action => :site_referral %>
		</div>
		
	</div>

</div>

</div>
</div>

</body>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23812238-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<%= yield :scripts %>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "demo_lesson";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#ff0000";
  feedback_widget_options.style = "problem";
  
  
  
  
  
  
  

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

</html>
