<!DOCTYPE html>
<html>
<head>
  <% if @title.nil? %>
  <title>Demo Lesson</title>
  <% else %>
  <title>Demo Lesson &middot; <%= @title %></title>
  <% end %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript" src="/assets/shadowbox.js"></script>
<script type="text/javascript">
  Shadowbox.init();
</script>

</head>

<body>
<div id="container">

<div id="header">

<div id="topbar">
	<% if self.current_user.nil? %>
		<%= form_tag :controller => 'users', :action=> "login" do %>
			<%= text_field "user", "email", :placeholder => "Email", :size => 30 %>
		  	<%= password_field "user", "password", :placeholder => "Password", :size => 30 %>
			<span class="actions_login"><%= submit_tag "Login" %></span>
            <br />
			<input type="checkbox" name="remember_me" value="remember_me"/> <label for="remember_me">Stay Signed In</label>
		<% end %>
	<% else %>
		<p class="user">
		<strong><%= self.current_user.name %></strong>
		<% if self.current_user.teacher %>
		&middot; <%= link_to 'Edit Profile', '/teachers/'+self.current_user.teacher.id.to_s+'/edit'%>
		<% elsif self.current_user.school %>
		&middot; <%= link_to 'Edit Profile', '/schools/'+self.current_user.school.id.to_s+'/edit'%>
		<% end %>
		&middot; <%= link_to 'Account Settings', '/account/'+self.current_user.id.to_s %>
		
		&middot; <%= link_to 'Logout', '/logout' %>
		</p>
		
			<%= form_tag jobs_path, :method => :get, :id => 'top_search_form' do %>
				<%= text_field_tag :search, params[:search], :placeholder => 'Search', :size => '30' %>
			<% end %>
			
			<p class="nav">
			<%= link_to "Home", :root %>
		
		<% if self.current_user.teacher %>
			<%= link_to "Jobs", :jobs %>
		<% elsif self.current_user.school %>
			<%= link_to "My Jobs", :my_jobs %>
		<% end %>
			<% if self.current_user.teacher %>
				<% if self.current_user.teacher.url == nil %>
					<%= link_to "Create Profile", "/create_profile" %>
				<% else %>
					<%= link_to "Profile", "/"+self.current_user.teacher.url %>
				<% end %>
			<% elsif self.current_user.school %>
				<%= link_to "Profile", "/schools/"+self.current_user.school.id.to_s %>
			<% end %>
		
			<% if unread_messages == 0 %>
			<%= link_to "Messages", :messages %>
			<% else %>
			<%= link_to "Messages ("+unread_messages.to_s+")", :messages %>
			<% end %>
			
		</p>
	<% end %>
</div>

<div class="logo">
<h1><%= link_to 'Demo Lesson', '/' %></h1>
</div>

</div>
<% if notice != nil %><p class="notice"><%= notice %></p><% end %>
<% if alert != nil %><p class="alert"><%= alert %></p><% end %>