<!DOCTYPE html>
<html>
	<head>
		<% if @title.nil? %>
			<title>Demo Lesson</title>
		<% elsif @title == 'Jobs' %>
			<title>Teaching Jobs &middot; Demo Lesson </title>
		<% elsif %>
			<title>Demo Lesson &middot; <%= @title %></title>
		<% end %>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<script type="text/javascript" src="/assets/shadowbox.js"></script>
		<script type="text/javascript">
			Shadowbox.init();
		</script>
		<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet" />
		<script src="http://vjs.zencdn.net/c/video.js"></script>
		<link type="text/css" href="/assets/jquery-ui-1.8.20.custom/css/blitzer/jquery-ui-1.8.20.custom.css" rel="Stylesheet" />
		<script type="text/javascript" src="/assets/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.timepicker.ui.ext.js"></script>
		<script type="text/javascript" src="/assets/jquery.urlParser.js"></script>
		<script type="text/javascript" src="/assets/jquery.serialize.JSON.js"></script>
                <%= stylesheet_link_tag "jquery.Jcrop.css" %>
                <%= javascript_include_tag "jquery.Jcrop.min.js" %>
		<meta name="description" content="DemoLesson is an online hiring platform for teachers.  Teaching jobs and education jobs are posted by schools coast to coast.  Teachers can make digital profiles with video and uploads." />
		<meta name="google-site-verification" content="BQBSZ5eSfYzOln8w5z23-5Lq88blGMXk0wHakOaTHt8" />
		<meta name="msvalidate.01" content="8A61CE3B2E427D3B62A2777590291515" />
	</head>
	<body>
		<!-- FaceBook Integration -->
		<div id="fb-root"></div>
		<script type="text/javascript">
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=250203168393549";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>

		<!-- Begin Header -->
		<div id="header">
			<div id="container">
				<div class="logo">
					<h3><%= link_to 'Demo Lesson', '/' %></h3>
				</div>
				<% if self.current_user.nil? %>
					<div id="splashlog">
						<%= form_tag :controller => 'users', :action=> "login" do %>
							<%= text_field "user", "email", :placeholder => "Email", :size => 20 %>
							<%= password_field "user", "password", :placeholder => "Password", :size => 20 %>
							<%= submit_tag "Login", :class => "btn btn-success" %>
							<%= link_to "Browse Jobs", :jobs, :class => "btn" %>
							<br />
							<!--<input type="checkbox" name="remember_me" value="remember_me"/> <label for="remember_me">Stay Signed In</label> &middot; <strong><%= link_to 'Forgot my password', :forgot_password %></strong>-->
						<% end %>
					</div>
				<% else %>
					<p class="user" style="margin-top:-6px">
						<% if self.current_user.teacher %>

							<% if self.current_user.teacher != nil %>
								<div id = "teacherInfo">
									<div id = "teacherLogin">
										<button type = "button" id = "teacherButton">
											<strong><%= self.current_user.first_name %> <%= self.current_user.last_name %></strong>
										</button>
										<button type = "button" id = "teacherArrow">Select</button>
									</div>
									<ul id = "teacherMenu" class = "hide">
										<li><%= link_to 'Edit Profile', '/teachers/'+self.current_user.teacher.id.to_s+'/edit'%></li>
										<li><%= link_to 'Account Settings', '/account/'+self.current_user.id.to_s %></li>
										<li><%= link_to 'Logout', '/logout' %></li>
									</ul>
								</div>
								<script type="text/javascript">
								$(function() {
									$("#teacherButton").button().click(function() {
										if ($("#teacherMenu").hasClass("hide")) {
											$("#teacherMenu").removeClass("hide").addClass("show");
										} else {
											$("#teacherMenu").removeClass("show").addClass("hide");
										}
									}).next().button({
										text: false,
										icons: {
											primary: "ui-icon-triangle-1-s"
										}
									}).click(function() {
										if ($("#teacherMenu").hasClass("hide")) {
											$("#teacherMenu").removeClass("hide").addClass("show");
										} else {
											$("#teacherMenu").removeClass("show").addClass("hide");
										}
									}).parent().buttonset();
								});
								</script>
							<% end %>

						<% elsif self.current_user.school || self.current_user.is_shared %>
							<div id="userInfo">
								<div id="login">
									<button type="button" id="userButton">
										<strong><%= self.current_user.name %></strong>
									</button>
									<button type="button" id="arrow">Select</button>
								</div>
								<ul id="menu" class="hide">
									<% if !self.current_user.is_limited %>
										<li><%= link_to 'Manage Users', '/accounts/'+self.current_user.id.to_s %></li>
									<% else %>
										<li><%= link_to 'Account allowances', '/accounts/'+self.current_user.id.to_s %></li>
									<% end %>
									<li><%= link_to 'Account Settings', '/account/'+self.current_user.id.to_s %></li>
									<li><%= link_to 'Logout', '/logout' %></li>
								</ul>
							</div>
							<script type="text/javascript">
							$(function() {
								$("#userButton").button().click(function() {
									if ($("#menu").hasClass("hide")) {
										$("#menu").removeClass("hide").addClass("show");
									} else {
										$("#menu").removeClass("show").addClass("hide");
									}
								}).next().button({
									text: false,
									icons: {
										primary: "ui-icon-triangle-1-s"
									}
								}).click(function() {
									if ($("#menu").hasClass("hide")) {
										$("#menu").removeClass("hide").addClass("show");
									} else {
										$("#menu").removeClass("show").addClass("hide");
									}
								}).parent().buttonset();
							});
							</script>

						<% end %>
					</p>
				<% end %>
			</div>
		</div>

		<!-- Begin Navigation -->
		<% unless self.current_user.nil? %>
			<div id="header2">
				<div id="container">	
					<div id="topbar">
						<!--START Header Menu Options-->	
						<ul class="nav">
							<li class="headerMenu">
								<%= link_to "Home", :root %>
							</li>
							<% if self.current_user.teacher %>
								<% if self.current_user.teacher.url == nil %>
									<li class="headerMenu">
										<%= link_to "Create Profile", "/create_profile" %>
									</li>
								<% else %>
									<li class="headerMenu">
										Profile
										<ul>
											<li>
												<%= link_to "View Card Profile", "/card/" + self.current_user.teacher.url %>
											</li>
											<li>
												<%= link_to "View Profile", "/" + self.current_user.teacher.url %>
											</li>
											<li>
												<%= link_to 'Edit Profile', '/teachers/'+self.current_user.teacher.id.to_s+'/edit'%>
											</li>
											<li>
												<%= link_to "Profile Stats", '/teachers/'+self.current_user.teacher.id.to_s+'/view_history' %>
											</li>		
										</ul>			
									</li>
								<% end %>
								<li class="headerMenu">
									Connections
									<ul>
										<li>
											<%= link_to "My Connections", "/my_connections" %>
										</li>
										<li>
											<%= link_to "Pending Connections (" + pendingcount.to_s + ")", :pending_connections %>
										</li>
									</ul>			
								</li>
							<% elsif self.current_user.school || self.current_user.is_shared %>
								<li class="headerMenu">
									<%= link_to "My Schools", "/my_schools" %>
								</li>
								<li class="headerMenu">
									<%= link_to "My Favorites", "/favorites" %>
								</li>
							<% end %>
							<li class="headerMenu">
								Events
								<ul>
									<li>
										<%= link_to "Search Events", :events %>
									</li>
									<li>	
										<%= link_to "Create Event", new_event_path %>
									</li>
								</ul>	
							</li>
							<% if self.current_user.teacher %>
								<li class="headerMenu">
									Jobs
									<ul>
										<li>
											<%= link_to "Search Jobs", :jobs %>
										</li>
										<li>
											<a href="/teacher_applications" style="border-top: solid white 1px;">My Applications</a>
										</li>
									</ul>
								</li>
							<% elsif self.current_user.school || self.current_user.is_shared %>
								<li class="headerMenu">
									<%= link_to "My Jobs", :my_jobs %>
								</li>
							<% end %>
							<% if unread_messages == 0 %>
								<li class="headerMenu">
									<%= link_to "Inbox", :messages %>
								</li>
							<% else %>
								<li class="headerMenu">
									<%= link_to "Inbox ("+unread_messages.to_s+")", :messages %>
								</li>
							<% end %>
						</ul>
					<% end %>
					<% if self.current_user != nil %>
						<div id="top_search_form">
							<%= form_tag connections_path, :method => :get do %>
								<%= text_field_tag :connectsearch, params[:connectsearch], :placeholder => 'Search Connections', :size => '40' %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>

		<!-- Display Notices -->
  		<% if notice != nil %>
  			<p class="notice"><%= notice %></p>
  		<% end %>
  		<% if alert != nil %>
  			<p class="alert"><%= alert %></p>
  		<% end %>
 	</body>
</html>
