<!DOCTYPE html>
<html>
<head>
  <title>DemoLesson</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
<div id="container">

<div id="header">

<div id="topbar">
	<% if self.current_user.nil? %>
		<%= form_tag :controller => 'users', :action=> "login" do %>
			<%= text_field "user", "email", :placeholder => "Username", :size => 30, :disabled => 'yes' %>
		  	<%= password_field "user", "password", :placeholder => "Password", :size => 30, :disabled => 'yes' %>
		<%= submit_tag "Login", :disabled => 'yes' %>
		<% end %>
	<% else %>
		<p class="user">
		<strong><%= self.current_user.name %></strong>
		
		&middot; <%= link_to 'Dashboard', '/' %>
		
		&middot; <%= link_to 'Edit Profile', '/teachers/1/edit'%>
		
		&middot; <%= link_to 'Logout', '/logout' %>
		</p>
		
		<p class="nav">
		<% if self.current_user.teacher.url == nil %>
			<%= link_to "Create Profile", "/create_profile" %>
		<% else %>
			<%= link_to "Profile", "/"+self.current_user.teacher.url %>
		<% end %>
		
			<%= link_to "Bulletin Board", "/" %>
			<%= link_to "Notifications", "/" %>	
			<%= text_field :search, 'Search', :placeholder => 'Search', :size => '40' %>	
		</p>
	<% end %>
</div>

<div class="logo">
<h1><%= link_to 'DemoLesson', '/' %></h1>
</div>

</div>
<% if notice != nil %><p class="notice"><%= notice %></p><% end %>
<% if alert != nil %><p class="alert"><%= alert %></p><% end %>
	
<%= yield %>

<div id="footer">

<p><%= link_to 'Blog', '/' %> &middot; <%= link_to 'About', '/' %> &middot; <%= link_to 'Contact and Support', '/' %></p>

<span class="copyright">&copy; <%= Time.now.year %> DemoLesson Inc. All Rights Reserved. &middot; <%= link_to 'Terms of Service', '/' %> &middot; <%= link_to 'Privacy', '/' %></span>

</div>

</div>
</body>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23812238-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>
