<!DOCTYPE html>
<html>
<head>
  <title>DemoLesson</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
<div id="container">

<div id="topbar">
	<% if self.current_user.nil? %>
		<%= form_tag :controller => 'users', :action=> "login" do %>
			<%= text_field "user", "email", :placeholder => "Username", :size => 30 %>
		  	<%= password_field "user", "password", :placeholder => "Password", :size => 30 %>
		<%= submit_tag "Login" %>
	<% end %>
	<% else %>
		
		<% if self.current_user.teacher.url == nil %>
		<% else %>
			<%= link_to self.current_user.name, "/"+self.current_user.teacher.url %>
		<% end %>
		
		&middot; <%= link_to 'Dashboard', '/' %>
		
		&middot; <%= link_to 'Edit Profile', '/teachers/1/edit'%>
		
		&middot; <%= link_to 'Logout', '/logout' %>
	<% end %>
</div>

<h1><%= link_to 'DemoLesson', '/' %></h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<div id="footer">

<p><%= link_to 'Blog', '/' %> &middot; <%= link_to 'About', '/' %> &middot; <%= link_to 'Contact and Support', '/' %></p>

<span class="copyright">&copy; <%= Time.now.year %> DemoLesson Inc. All Rights Reserved. &middot; <%= link_to 'Terms of Service', '/' %> &middot; <%= link_to 'Privacy', '/' %></span>

</div>

</div>
</body>

</html>
